Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

changelog
  changelog/1813.breaking.rst
  changelog/1813.bugfix.rst
  changelog/1813.feature.rst
Labels: Breaking

typo fix: ommited to omitted
  plasmapy/formulary/lengths.py
Labels: Formulary

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  docs/bibliography.bib
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Labels: Formulary

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Labels: Formulary

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Labels: Formulary

fixed code logic a bit
  plasmapy/formulary/lengths.py
Labels: Formulary

typo
  plasmapy/formulary/lengths.py
Labels: Formulary

reduced margin of error for GyroradiusTest::test_values 6 10 and 12 b/c relativistic changes
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary

changelog
  changelog/1813.trivial.rst
Labels: none

added some tests to cover new lorentz functionality
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary

fixed more logical bugs
  plasmapy/formulary/lengths.py
Labels: Formulary

changelog
  changelog/1813.trivial.rst
Labels: none

fixed logical error
  plasmapy/formulary/lengths.py
Labels: Formulary

added more tests
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary

wording
  plasmapy/formulary/lengths.py
Labels: Formulary

Update changelog/1813.bugfix.rst
  changelog/1813.bugfix.rst
Labels: none

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Labels: Formulary

Update changelog/1813.feature.rst
  changelog/1813.feature.rst
Labels: none

trivial test changelong removed, breaking handles that
  changelog/1813.trivial.rst
Labels: none

changed notes to be more accurate
  plasmapy/formulary/lengths.py
Labels: Formulary

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Labels: Formulary

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Labels: Formulary

Update changelog/1813.breaking.rst
  changelog/1813.breaking.rst
Labels: Breaking

whitespace
  changelog/1813.bugfix.rst
Labels: none

added relativistic keyword
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary

changelog and test
  changelog/1813.feature.rst
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary

changelog and test
  changelog/1813.feature.rst
Labels: none

changelog, also will not infer velocity when relativisic is false
  changelog/1813.bugfix.rst
  changelog/1813.feature.rst
  plasmapy/formulary/lengths.py
Labels: Formulary

I think I fixed the doc issue
  plasmapy/formulary/lengths.py
Labels: Formulary

Make a few slight edits before merging
  changelog/1813.feature.rst
  plasmapy/formulary/lengths.py
Labels: Formulary

Added relativistic functionality to gyroradius (#1813)
  changelog/1813.breaking.rst
  changelog/1813.feature.rst
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary, Breaking

Set max-doc-length for flake8
  setup.cfg
Labels: none

Shorten line lengths in docstrings
  plasmapy/particles/particle_class.py
Labels: Particles

Fix doctest error
  plasmapy/particles/particle_class.py
Labels: Particles

Update files to ignore docstring line lengths in
  setup.cfg
Labels: none

Docstring edits to nullpoint.py
  plasmapy/analysis/nullpoint.py
Labels: Analysis
