Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

Use np.sqrt instead of exponentiation
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Update docs for formulary.collisions.frequencies
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

More updates to frequencies.py
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Updates related to particle-like and ParticleLike
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Refactor citation updater
  .github/workflows/citation_updater.py
Labels: Continuous integration

Split off job
  .github/workflows/push_release.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Rename
  .github/workflows/push_release.yml
  .github/workflows/release.yml
Labels: Continuous integration

Drop inputs from testing
  .github/workflows/testing.yml
Labels: Continuous integration

Revert changes to main
  .github/workflows/push_release.yml
  .github/workflows/python-publish.yml
  .github/workflows/testing.yml
  docs/contributing/release_guide.rst
  plasmapy/tests/test_requirements.py
Labels: Continuous integration, Contributor Guide

Maybe fix branching issue
  .github/workflows/release.yml
Labels: Continuous integration

Alternative
  .github/workflows/release.yml
Labels: Continuous integration

Adjust merge
  .github/workflows/release.yml
Labels: Continuous integration

ls-remote
  .github/workflows/release.yml
Labels: Continuous integration

Simplify checkout
  .github/workflows/release.yml
Labels: Continuous integration

Back to that logic ver
  .github/workflows/release.yml
Labels: Continuous integration

Add flake8-dunder-all as a flake8 extension
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Add __all__ to particle_integrators.py
  plasmapy/simulation/particle_integrators.py
Labels: simulations

Revert "Add flake8-dunder-all as a flake8 extension"
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Add `__all__` to `particle_integrators.py` (#1794)
  plasmapy/simulation/particle_integrators.py
Labels: simulations

Apply suggestions from code review
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
Labels: Continuous integration

Automate the release process (#1779)
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
  docs/contributing/release_guide.rst
Labels: Continuous integration, Contributor Guide

add option for cylindrical coordinates and update docstring
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/tests/test_magnetostatics.py
Labels: Formulary

add changelog entry and fix docstring and styling
  changelog/1795.feature.rst
  plasmapy/formulary/magnetostatics.py
Labels: Formulary

Continue updating Thomson docstrings
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

added check_sweep skeleton, syntax revisions to follow
  plasmapy/analysis/intermittancy.py
Labels: Analysis

Move over tryceratops error code to ignore
  tox.ini
Labels: none

Update changelog/1758.trivial.rst
  changelog/1758.trivial.rst
Labels: none

Update changelog/1758.trivial.rst
  changelog/1758.trivial.rst
Labels: none

Add tryceratops ignores missed while merging
  plasmapy/_dev/scm_version.py
  tox.ini
Labels: none

Update citation and whatsnew index entry
  CITATION.cff
  docs/about/citation.rst
  docs/whatsnew/index.rst
Labels: none

Apply pre-commit autoupdates and fixes
  .pre-commit-config.yaml
Labels: none

paused one function, code runs with no errors atm
  plasmapy/analysis/intermittancy.py
Labels: Analysis

added intermittancy for importing
  plasmapy/analysis/__init__.py
Labels: Analysis

corrected name spelling, add details of functions at beginning create run file for testing
  plasmapy/analysis/intermittancy.py
Labels: Analysis

re-upload after corrections
  plasmapy/analysis/intermittency.py
  plasmapy/analysis/run_intermittency.py
Labels: Analysis

Reorganize charged particle radiography into its own module
  docs/ad/diagnostics/charged_particle_radiography/detector_stacks.rst
  docs/ad/diagnostics/charged_particle_radiography/index.rst
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  plasmapy/diagnostics/charged_particle_radiography/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics, Notebooks

Added support for mass stopping power, linear stopping power, switched to SI
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
Labels: Diagnostics

Remove test_requirements as stopgap measure for conda-forge
  plasmapy/tests/test_requirements.py
Labels: none

Update citation and whatsnew index entry
  CITATION.cff
  docs/about/citation.rst
  docs/whatsnew/index.rst
Labels: none

Add changelog entries for v0.9.1
  CHANGELOG.rst
  docs/whatsnew/0.9.1.rst
Labels: none
