Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Add changelog entry for magnetostatics
  changelog/1782.breaking.1.rst
Labels: Breaking

Re-fix tryceratops issues with particle_class.py
  plasmapy/particles/particle_class.py
Labels: Particles

Re-fix tryceratops issues with particle_class.py
  plasmapy/particles/particle_class.py
Labels: Particles

Re-fix tryceratops issues with ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Labels: Particles

Re-fix tryceratops issues with ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Labels: Particles

Re-fix tryceratops issues with ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Labels: Particles

Update test of grids exception
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class

Revert grids
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class

Re-add grids changes
  plasmapy/plasma/grids.py
Labels: Plasma class

Change ValueError to TypeError
  plasmapy/plasma/grids.py
Labels: Plasma class

Change test for ValueError to TypeError
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class

Update grids tests
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class

Use TypeError instead of ValueError in grids
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class

Add changelog entry for thomson
  changelog/1782.breaking.2.rst
Labels: Breaking

Add changelog entry for grids
  changelog/1783.breaking.3.rst
Labels: Breaking

Update type & parameter descriptions
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

update
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  changelog/1787.feature.rst
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  changelog/1787.feature.rst
Labels: none

intermittancy code for plasmapy
  plasmapy/analysis/intermittancy.py
Labels: Analysis

Add changelog entry
  changelog/1757.doc.rst
Labels: none

Update type & parameter descriptions
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Add `tryceratops` as a flake8 extension (#1782)
  changelog/1782.breaking.1.rst
  changelog/1782.breaking.2.rst
  changelog/1782.trivial.rst
  changelog/1783.breaking.3.rst
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Analysis, Diagnostics, Dispersion, Formulary, Particles, Plasma class, Utilities, Breaking

Better version string logic
  .github/workflows/release.yml
Labels: Continuous integration

Typo fix
  .github/workflows/release.yml
Labels: Continuous integration

even better version logic
  .github/workflows/release.yml
Labels: Continuous integration

create branch if doesnt exist
  .github/workflows/release.yml
Labels: Continuous integration

Target pypi choice in testing.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Apply suggestions from code review
  .github/workflows/release.yml
  docs/contributing/release_guide.rst
Labels: Continuous integration, Contributor Guide

ubuntu-latest is actually too new
  .github/workflows/testing.yml
Labels: Continuous integration

Update mod docstring
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Add common link for |SingleParticleCollisionFrequencies|
  docs/common_links.rst
Labels: none

Update parameters section
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Update math representations
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Update docstrings
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Update math
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Update docstring
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Update docstring
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

Update docstring
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
