Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Updated __init__
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

_max_theta_hit_grid, added a num_grids property
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

_coast_to_grid, started _adaptive_dt
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

_push, _stop_condition
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

_adaptive_dt
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Prevent infinite dt if particles are not on grid
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Round 1 of bugfixes
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

Bugfixes - restore function for single grids
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

Bugfix, added test for multiple grids
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

Create 1799.feature.rst
  changelog/1799.feature.rst
Labels: none

codespell
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Update charged_particle_radiography.py
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Update charged_particle_radiography.py
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Update size labeler GitHub workflow
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Update size labels & names
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Shorten name
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Update size labeler GitHub workflow (#1800)
  .github/workflows/labeler.yml
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Make minor change to pull request size labeler
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Change size labels to not have spaces in them
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Update size numbers
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Change label for very small
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Use quotes around label
  .github/workflows/size-labeler.yml
Labels: Continuous integration

update
  docs/bibliography.bib
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/dispersion/analytical/tests/test_stix_.py
  plasmapy/dispersion/analytical/tests/test_two_fluid_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Labels: Dispersion

Try a different GA
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Specify version of new GA
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Specify version of new GA
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Slightly change title
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Try yet another GA
  .github/workflows/size-labeler.yml
Labels: Continuous integration

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Labels: Dispersion

update
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Labels: Dispersion

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  setup.cfg
Labels: none

update
  setup.cfg
Labels: none

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  docs/api_static/plasmapy.dispersion.numerical.kinetic_alfven_.rst
Labels: none

update
  docs/bibliography.bib
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Labels: Dispersion

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
