Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Revert fail-on-warning
  .readthedocs.yml
Labels: none

Revert "Test against NumPy GitHub repo"
  tox.ini
Labels: none

pin tox to <4
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  pyproject.toml
Labels: Continuous integration

Temporarily add numpy-dev to testing.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Revert fail-on-warning (#1842)
  .readthedocs.yml
Labels: none

Well, actually.
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
Labels: Continuous integration

Revert "Temporarily add numpy-dev to testing.yml"
  .github/workflows/testing.yml
Labels: Continuous integration

remove flake8 max doc length check, for now
  tox.ini
Labels: none

Update plasmapy/formulary/frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Fix weekly test against development version of NumPy (#1841)
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  pyproject.toml
Labels: Continuous integration

Remove forgotten comment
  tox.ini
Labels: none

Apply Nick suggestion
  pyproject.toml
Labels: none

Update plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Import fix and precommit
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Update test_synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

Update 1799.feature.rst
  changelog/1799.feature.rst
Labels: none

Make Lorentz_factor tests more awesomer
  plasmapy/formulary/tests/test_relativity.py
Labels: Formulary

Clarify relativistic_energy docstring
  plasmapy/formulary/relativity.py
Labels: Formulary

Update tests of relativistic energy
  plasmapy/formulary/tests/test_relativity.py
Labels: Formulary

Add changelog entry
  changelog/1844.trivial.rst
Labels: none

Apply refurb & ruff to widget_helpers
  plasmapy/utils/calculator/widget_helpers.py
Labels: Utilities

Apply refurb & ruff to code_repr
  plasmapy/utils/code_repr.py
Labels: Utilities

Apply refurb & ruff to test_downloader
  plasmapy/utils/data/tests/test_downloader.py
Labels: Utilities

Apply refurb & ruff to datatype_factory_base
  plasmapy/utils/datatype_factory_base.py
Labels: Utilities

Apply refurb & ruff to utils/decorators
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_helpers.py
  plasmapy/utils/decorators/validators.py
Labels: Utilities

Apply refurb & ruff to pytest_helpers
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
Labels: Utilities

Apply refurb & ruff to test_code_repr
  plasmapy/utils/tests/test_code_repr.py
Labels: Utilities

Add changelog entry
  changelog/1845.trivial.rst
Labels: none

Apply refurb to plasmapy.particles
  plasmapy/particles/_factory.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

Add changelog entry
  changelog/1846.trivial.rst
Labels: none

Apply refurb changes to formulary tests
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

Apply refurb to plasmapy.formulary
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/lengths.py
Labels: Formulary

Add changelog entry
  changelog/1847.trivial.rst
Labels: none

Change widget_helpers line endings
  plasmapy/utils/calculator/widget_helpers.py
Labels: Utilities

Change line endings for code_repr
  plasmapy/utils/code_repr.py
Labels: Utilities

Line endings test_downloader
  plasmapy/utils/data/tests/test_downloader.py
Labels: Utilities

Change line endings for multiple files
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_helpers.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/tests/test_code_repr.py
Labels: Utilities

Hopefully revert line endings
  plasmapy/particles/_factory.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

Remove unused imports
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_exceptions.py
Labels: Particles

Add ruff section to pyproject.toml
  pyproject.toml
Labels: none

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
