Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

Fix type hint
  plasmapy/utils/_units_helpers.py
Labels: Utilities

Fix possible IndexError
  plasmapy/particles/_factory.py
Labels: Particles

Change signature of CustomParticle
  plasmapy/particles/particle_class.py
Labels: Particles

Fix special condition
  plasmapy/particles/_factory.py
Labels: Particles

Fix docstring
  plasmapy/utils/_units_helpers.py
Labels: Utilities

Update test
  plasmapy/particles/tests/test_exceptions.py
Labels: Particles

Make kwargs consistent with docstring
  plasmapy/particles/particle_class.py
Labels: Particles

Add changelog entry
  changelog/1874.feature.rst
Labels: none

Expand examples section of docstring
  plasmapy/particles/particle_class.py
Labels: Particles

Add a test for duplicate args & kwargs
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Improve Quantity interoperability with ParticleList
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles

Make ParticleList methods Quantity-compatible
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles

Update changelog entries
  changelog/1874.feature.1.rst
  changelog/1874.feature.2.rst
  changelog/1874.feature.3.rst
Labels: none

Add a length as an invalid particle
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles

Fix test
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Shorten changelog entry
  changelog/1874.feature.2.rst
Labels: none

Fix problem with test parametrization
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Update changelog entries
  changelog/1813.feature.rst
  changelog/1816.trivial.rst
  changelog/1824.breaking.rst
  changelog/1824.removal.rst
  changelog/1825.feature.rst
  changelog/1854.trivial.rst
Labels: Breaking

Update CITATION.cff
  CITATION.cff
Labels: none

Update credits.rst
  docs/about/credits.rst
Labels: none

Update CITATION.cff
  CITATION.cff
Labels: none

Update credits.rst
  docs/about/credits.rst
Labels: none

Fix ORCID link
  CITATION.cff
Labels: none

Use extract method refactoring pattern
  plasmapy/particles/particle_class.py
Labels: Particles

Refactor particle factory
  plasmapy/particles/_factory.py
Labels: Particles

Update versions in pre-commit config
  .pre-commit-config.yaml
Labels: none

Fix type hint
  plasmapy/particles/particle_class.py
Labels: Particles

Fix test
  plasmapy/particles/tests/test_factory.py
Labels: Particles

Fix test
  plasmapy/particles/tests/test_factory.py
Labels: Particles

Drop Dominik's IPPLM affiliation
  CITATION.cff
Labels: none

Add plep link in docs
  docs/index.rst
Labels: none

Update changelog entries and author lists (#1876)
  CITATION.cff
  changelog/1813.feature.rst
  changelog/1816.trivial.rst
  changelog/1824.breaking.rst
  changelog/1824.removal.rst
  changelog/1825.feature.rst
  changelog/1854.trivial.rst
  docs/about/credits.rst
Labels: Breaking

Expand physical type dict func capabilities
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/tests/test_units_helpers.py
Labels: Utilities

Add changelog entry
  changelog/1880.trivial.rst
Labels: none

Change link to PLEP repository
  docs/index.rst
Labels: none

Add plep link in docs (#1879)
  docs/index.rst
Labels: none

Fix reST formatting
  plasmapy/utils/_units_helpers.py
Labels: Utilities

Add custom constructor to CustomParticle
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Add changelog entry
  changelog/1881.trivial.rst
Labels: none

Add separate constructor for `CustomParticle` (#1881)
  changelog/1881.trivial.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles
