Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Update README.md
  README.md
Labels: none

More minor updates to README.md
  README.md
Labels: none

Update README file and copyright year (#1862)
  LICENSE.md
  README.md
Labels: none

Revert version due to problem with check-toml
  .pre-commit-config.yaml
Labels: none

Fix last commit (pretty-format-toml instead)
  .pre-commit-config.yaml
Labels: none

Bring back dependabot
  .github/dependabot.yml
  .github/workflows/testing.yml
  requirements.txt
  tox.ini
Labels: Continuous integration

Also adjust tox build_docs env
  tox.ini
Labels: none

fixup! Also adjust tox build_docs env
  tox.ini
Labels: none

Add Z as a kwarg for CustomParticle
  plasmapy/particles/particle_class.py
Labels: Particles

Add CustomParticle.charge_number
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Rename test
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Remove obsolete comment
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Update CustomParticle serialization
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Add changelog entry #1
  changelog/1866.feature.1.rst
Labels: none

Add changelog entry #2
  changelog/1866.feature.2.rst
Labels: none

Add changelog entry #3
  changelog/1866.removal.rst
Labels: none

Add a deprecation warning
  plasmapy/particles/particle_class.py
Labels: Particles

Update type hints
  plasmapy/particles/particle_class.py
Labels: Particles

Minor updates
  plasmapy/particles/particle_class.py
Labels: Particles

Try function to create CustomParticle
  plasmapy/particles/_factory.py
Labels: Particles

Fix test
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Add pyproject-fmt to pre-commit and remove pretty-format-toml
  .pre-commit-config.yaml
Labels: none

Apply changes from pyproject-fmt
  pyproject.toml
Labels: none

Apply particle_input to gyrofrequency & update docstring
  plasmapy/formulary/frequencies.py
Labels: Formulary

Fixes to gyrofrequency
  plasmapy/formulary/frequencies.py
Labels: Formulary

Remove outdated comment
  pyproject.toml
Labels: none

Use `pyproject-fmt` instead of `pretty-format-toml` (#1868)
  .pre-commit-config.yaml
  pyproject.toml
Labels: none

Update relativity.py
  plasmapy/formulary/relativity.py
Labels: Formulary

Minor updates to docstrings and annotations
  plasmapy/formulary/relativity.py
Labels: Formulary

Minor updates to docstrings and annotations
  plasmapy/formulary/relativity.py
Labels: Formulary

Fix some tests
  plasmapy/formulary/tests/test_relativity.py
Labels: Formulary

Apply suggestions from code review
  plasmapy/particles/particle_class.py
Labels: Particles

Test CustomParticle setters
  plasmapy/particles/particle_class.py
Labels: Particles

Test CustomParticle setter for symbol
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Expand charge number functionality for `CustomParticle` (#1866)
  changelog/1866.feature.1.rst
  changelog/1866.feature.2.rst
  changelog/1866.removal.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Update plasmapy/formulary/relativity.py
  plasmapy/formulary/relativity.py
Labels: Formulary

Update _get_physical_type_dict
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/tests/test_units_helpers.py
Labels: Utilities

Update _get_physical_type_dict
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/tests/test_units_helpers.py
Labels: Utilities

Add back in scattering + stopping to code
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

Handle None in list correctly for scattering and stopping power keywords
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
