Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Added changelog and credit for sobeskes
  changelog/1825.feature.rst
  docs/about/credits.rst
Labels: none

Modified the Tracker class in ~plasmapy/diagnostics/charged_particle_radiography.py to run in parallel
  changelog/1728.feature.rst
  docs/about/credits.rst
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

corrected changelog file name
  changelog/1830.feature.rst
Labels: none

Add scattering_angle keyword to thomson.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

Update changelog/1825.feature.rst
  changelog/1825.feature.rst
Labels: none

Return NaN values instead of throw exceptions for particle attributes (#1825)
  changelog/1825.feature.rst
  docs/about/credits.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Removed Buchsbaum frequency aliases
  plasmapy/formulary/frequencies.py
Labels: Formulary

Removed mention of Buchsbaum frequency aliases in docstring
  plasmapy/formulary/frequencies.py
Labels: Formulary

Removed Buchsbaum frequency aliases for tests
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Change assert syntax
  plasmapy/diagnostics/tests/test_thomson.py
Labels: Diagnostics

Separate tests in thomson_tests.py and fix descriptions in thomson.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

Add chnagelog file
  changelog/1831.breaking.rst
  plasmapy/diagnostics/tests/test_thomson.py
Labels: Diagnostics, Breaking

Fix linting errors
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

fixed minor spelling mistake
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Removed blank lines at end of files
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Update docs/bibliography.bib
  docs/bibliography.bib
Labels: none

Update docs/bibliography.bib
  docs/bibliography.bib
Labels: none

Update plasmapy/formulary/tests/test_frequencies.py
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Update plasmapy/formulary/tests/test_frequencies.py
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Update plasmapy/formulary/frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Update plasmapy/formulary/frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Update plasmapy/formulary/frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Update plasmapy/formulary/frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Update changelog/1828.feature.rst
  changelog/1828.feature.rst
Labels: none

Ignore two sections of init
  plasmapy/__init__.py
Labels: none

Removed assert_can_handle_nparray(Buchsbaum_frequency)
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

End of line added to file
  plasmapy/formulary/frequencies.py
Labels: Formulary

removed offensive whitespace
  plasmapy/formulary/frequencies.py
Labels: Formulary

removed aliases in tests
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

removed a blank line
  plasmapy/formulary/frequencies.py
Labels: Formulary

Fix documentation for scattering angle
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

Update docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
Labels: none

Update plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Update docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
Labels: none

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Remove
  plasmapy/formulary/__init__.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary

Add changelog entry
  changelog/1833.removal.rst
Labels: none

Change reST links to literals
  docs/whatsnew/0.5.0.rst
  docs/whatsnew/0.8.1.rst
Labels: none

Remove parameters.rst
  docs/formulary/parameters.rst
Labels: none

Change reST links to literals
  docs/whatsnew/0.8.1.rst
Labels: none

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
