Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

Manually applied some suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

Update charged_particle_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing.ipynb
Labels: Notebooks

Notebook updates with new module location
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_wire_mesh.ipynb
Labels: Notebooks

Update charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
Labels: Notebooks

Linters + codespell edits
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Linter and documentation updates
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
  docs/ad/diagnostics/index.rst
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Documentation update
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Docs, new changelog entry
  changelog/1274.breaking.rst
  changelog/1274.feature.rst
  plasmapy/diagnostics/__init__.py
Labels: Diagnostics, Breaking

Update notebook links
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_wire_mesh.ipynb
Labels: Notebooks

Update synthetic_radiography.rst
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
Labels: none

Add something about missing attribute errors
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Update plasmapy/diagnostics/charged_particle_radiography/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/__init__.py
Labels: Diagnostics

Update plasmapy/diagnostics/charged_particle_radiography/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/__init__.py
Labels: Diagnostics

Fix import error in doc guide example
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Disappear pytest-xdist
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Make pytest-xdist disappear
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Add changelog entry
  changelog/1822.trivial.rst
Labels: none

Remove pytest-xdist options
  tox.ini
Labels: none

Add summary section to testing guide
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Add changelog entry
  changelog/1823.doc.rst
Labels: none

Fix typo
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Remove deprecated T_i from gyroradius
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary

Return NaN values instead of throw exceptions for particle attributes
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

Add changelog entry and modify credits
  changelog/1824.breaking.rst
  docs/about/credits.rst
Labels: Breaking

Remove pytest-xdist from test requirements (#1822)
  changelog/1822.trivial.rst
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Update changelog guide
  changelog/README.rst
Labels: none

Add an example changelog entry
  changelog/README.rst
Labels: none

Add changelog entry
  changelog/1826.doc.rst
Labels: none

Add & apply link to editable installation
  docs/common_links.rst
  docs/install.rst
Labels: none

Fix formatting issue with tests
  .github/workflows/weekly.yml
Labels: Continuous integration

Bring back basic setup.py for compatibility
  setup.py
Labels: none

Bring back requirements files
  requirements/build.txt
  requirements/docs.txt
  requirements/extras.txt
  requirements/install.txt
  requirements/tests.txt
Labels: none

Remove deprecated T_i from gyroradius (#1824)
  changelog/1824.breaking.rst
  docs/about/credits.rst
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_lengths.py
Labels: Formulary, Breaking

Fix weekly test configuration error (#1827)
  .github/workflows/weekly.yml
Labels: Continuous integration

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
