Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

update
  docs/api_static/plasmapy.dispersion.numerical.kinetic_alfven_.rst
  docs/bibliography.bib
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Labels: Dispersion

update
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Labels: Dispersion

update
  docs/bibliography.bib
Labels: none

update
  docs/bibliography.bib
Labels: none

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Labels: Dispersion

update
  docs/api_static/plasmapy.dispersion.numerical.kinetic_alfven_.rst
Labels: none

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

Add running_mean function with according tests
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Analysis

update
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/tests/test_timescales.py
Labels: Formulary

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Labels: Dispersion

Implemented basic particle scattering during push
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

Bugfix energy conservation, started adding keywords
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Labels: Dispersion

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Labels: Dispersion

update
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Labels: Dispersion

Bugfixes and updates
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

update
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

Work
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

Implemented particle stopping, added a proper _remove_particles function
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

update
  plasmapy/formulary/collisions/tests/test_timescales.py
Labels: Formulary

update
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

Implement running_moment function
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Analysis

Implement running_moment function
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Analysis

Fix spelling errors
  plasmapy/analysis/time_series/running_moments.py
Labels: Analysis

Update
  docs/bibliography.bib
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

Update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

Add changelog entry for upcoming pull request
  changelog/1803.feature.rst
Labels: none

fix spelling error
  changelog/1803.feature.rst
Labels: none

notebook describes the usage of the cold plasma dispersion function stix()
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

Adjust imports, run pre-commit hooks
  plasmapy/reaction_rates/__init__.py
  plasmapy/reaction_rates/conversions.py
  plasmapy/reaction_rates/cross_section.py
  plasmapy/reaction_rates/exceptions.py
  plasmapy/reaction_rates/experiment.py
  plasmapy/reaction_rates/fusionlib.py
  plasmapy/reaction_rates/latexutils.py
  plasmapy/reaction_rates/lib/conversions.py
  plasmapy/reaction_rates/lib/cross_section.py
  plasmapy/reaction_rates/lib/exceptions.py
  plasmapy/reaction_rates/lib/experiment.py
  plasmapy/reaction_rates/lib/fusionlib.py
  plasmapy/reaction_rates/lib/latexutils.py
  plasmapy/reaction_rates/lib/plasmaprofile.py
  plasmapy/reaction_rates/lib/reactivity.py
  plasmapy/reaction_rates/plasmaprofile.py
  plasmapy/reaction_rates/reactivity.py
  plasmapy/reaction_rates/tests/Checks of reactivity values.ipynb
Labels: none

Run notebooks, move config to separate module
  plasmapy/reaction_rates/config.py
  plasmapy/reaction_rates/cross_section.py
  plasmapy/reaction_rates/reactivity.py
  plasmapy/reaction_rates/tests/Checks of reactivity values.ipynb
  plasmapy/reaction_rates/tests/Cross Section and Reactivity Checks.ipynb
Labels: none

notebook corrections
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

added changelog
  changelog/1804.doc.rst
Labels: none

corrected citation
  PlasmaPy.code-workspace
Labels: none

formatting correction
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

Implement namurphy's suggestions from review in PR 1803
  changelog/1803.feature.rst
  plasmapy/analysis/time_series/running_moments.py
Labels: Analysis

Implement check if radius is int in running_mean.
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Analysis

Add api_statis file for time_series.running_moments
  docs/api_static/plasmapy.analysis.time_series.running_moments.rst
Labels: none
