Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

update
  changelog/1769.feature.rst
Labels: none

update
  docs/bibliography.bib
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/collisions/tests/test_misc.py
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/tests/test_lengths.py
Labels: Formulary

Add blank lines between authors
  CITATION.cff
Labels: none

update
  plasmapy/formulary/collisions/tests/test_lengths.py
Labels: Formulary

update
  docs/api_static/plasmapy.formulary.collisions.rst
Labels: none

Delete `codemeta.json` in favor of `CITATION.cff` (#1772)
  MANIFEST.in
  changelog/1772.trivial.rst
  codemeta.json
  docs/about/citation.rst
  docs/common_links.rst
  docs/contributing/release_guide.rst
Labels: Contributor Guide

Use `pretty-format-yaml` pre-commit hook on `CITATION.cff` (#1773)
  CITATION.cff
Labels: none

Update linters tox env to includee CFF validation
  tox.ini
Labels: none

Tentatively remove GitHub Action for CFF validation
  .github/workflows/cff-validator.yml
Labels: Continuous integration

Add cffconvert as a dependency
  requirements/tests.txt
  setup.cfg
Labels: none

Update changelog entry
  changelog/1771.trivial.rst
Labels: none

Put contact email into valid CFF
  CITATION.cff
Labels: none

Revert "Add CFF validator badge to README.md"
  README.md
Labels: none

Update changelog entries
  changelog/1771.trivial.1.rst
  changelog/1771.trivial.2.rst
Labels: none

Update authors in CITATION.cff
  CITATION.cff
Labels: none

Update authors in CITATION.cff
  CITATION.cff
Labels: none

Update authors in credits.rst
  docs/about/credits.rst
Labels: none

Enable validation of `CITATION.cff` (#1771)
  CITATION.cff
  changelog/1771.trivial.1.rst
  changelog/1771.trivial.2.rst
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Update Python versions for testing
  .github/workflows/testing.yml
Labels: Continuous integration

Use Python 3.11 as default tox environment
  tox.ini
Labels: none

Add changelog entry
  changelog/1775.trivial.rst
Labels: none

Update mentions of Python 3.10 to Python 3.11
  README.md
  docs/install.rst
  requirements/environment.yml
  setup.cfg
Labels: none

Update authors information (#1774)
  CITATION.cff
  docs/about/credits.rst
Labels: none

Make 3.11 into a string
  .github/workflows/testing.yml
Labels: Continuous integration

Move checklist back into PR template
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add_comments.yml
  .github/workflows/checklist.md
Labels: Continuous integration

update
  plasmapy/formulary/__init__.py
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
Labels: Formulary

modify imports
  plasmapy/formulary/__init__.py
Labels: Formulary

Remove useless python-publish action
  .github/workflows/python-publish.yml
Labels: Continuous integration

update
  plasmapy/formulary/collisions/lengths.py
Labels: Formulary

Test release workflow
  .github/workflows/release.yml
  .github/workflows/testing.yml
Labels: Continuous integration

skip tests for now
  .github/workflows/release.yml
Labels: Continuous integration

Skip waiting for build for now
  .github/workflows/release.yml
Labels: Continuous integration

Found the bug
  .github/workflows/release.yml
Labels: Continuous integration

Add flake8 extensions
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

runs on ubuntu latest
  .github/workflows/release.yml
Labels: Continuous integration

change name to CI
  .github/workflows/release.yml
Labels: Continuous integration

set name
  .github/workflows/release.yml
Labels: Continuous integration

Remove needs
  .github/workflows/release.yml
Labels: Continuous integration

Remove redundant comments
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/utils/decorators/validators.py
Labels: Analysis, Plasma class, Utilities
