Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

Update lengths in utils docstrings
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/converter.py
Labels: Utilities

Update lengths in grids docstrings
  plasmapy/plasma/grids.py
Labels: Plasma class

Update lengths in formulary docstrings
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/speeds.py
Labels: Formulary, parameters.quantum

Update lengths in diagnostics docstrings
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

Update lengths in particles docstrings
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
Labels: Particles

Update troubleshooting and api_static stuff in doc guide
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Link to troubleshooting guide in output of build_docs tox env
  tox.ini
Labels: none

Allow numbers in type lines
  docs/conf.py
Labels: none

Update reST formatting
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Add changelog entry
  changelog/1817.doc.rst
Labels: none

Update reST formatting
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update regex for type lines
  docs/conf.py
Labels: none

Add changelog entry
  changelog/1816.trivial.rst
Labels: none

Update troubleshooting section
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Fix docstring typo
  plasmapy/particles/particle_class.py
Labels: Particles

Revert some changes to type lines
  plasmapy/analysis/nullpoint.py
Labels: Analysis

Remove from nitpick_ignore_regex
  docs/conf.py
Labels: none

Update noxfile.py
  noxfile.py
Labels: none

Update noxfile.py
  noxfile.py
Labels: none

Update noxfile.py
  noxfile.py
Labels: none

Temporarily add nox_testing.yml
  .github/workflows/nox_testing.yml
Labels: Continuous integration

Revert GitHub Action file for testing
  .github/workflows/testing.yml
Labels: Continuous integration

Update name of nox GAs
  .github/workflows/nox_testing.yml
Labels: Continuous integration

Remove Python 3.11
  .github/workflows/nox_testing.yml
Labels: Continuous integration

Remove testing.yml based on tox
  .github/workflows/testing.yml
Labels: Continuous integration

Remove GitHub Actions based on tox
  .github/workflows/testing.yml
Labels: Continuous integration

Update testing.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Update testing.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Update testing.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Update testing.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Don't attempt a parallel doc build
  .github/workflows/testing.yml
Labels: Continuous integration

Update testing.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Move doc build action to its own file
  .github/workflows/docs.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Update name of action
  .github/workflows/docs.yml
Labels: Continuous integration

Update install command
  .github/workflows/docs.yml
Labels: Continuous integration

Move test doc build back to testing.yml
  .github/workflows/docs.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Finish removing docs.yml
  .github/workflows/docs.yml
Labels: Continuous integration

Don't use requirements files to install in nox envs
  noxfile.py
Labels: none

Replace namedtuple with tuple in docstring
  plasmapy/analysis/time_series/running_moments.py
Labels: Analysis

update
  docs/api_static/plasmapy.formulary.collisions.timescales.rst
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary
