Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

Remove problematic test
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles

Unduplicate test name and apply noqa comment
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

Apply ruff changes for test_thomson.py
  plasmapy/diagnostics/tests/test_thomson.py
Labels: Diagnostics

Add changelog entry
  changelog/1853.trivial.rst
Labels: none

More updates to getting_ready.rst
  docs/contributing/getting_ready.rst
Labels: Contributor Guide

Use `ruff` and `refurb` on remainder of `plasmapy` (#1853)
  changelog/1853.trivial.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_particle_collections.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
  plasmapy/plasma/tests/test_grids.py
Labels: Analysis, Diagnostics, Dispersion, Particles, Plasma class

Add ruff & refurb to pre-commit
  .pre-commit-config.yaml
  pyproject.toml
Labels: none

Minor refurb fixes
  .github/workflows/citation_updater.py
Labels: Continuous integration

Pin GA to specific version (#1852)
  .github/workflows/add_comments.yml
Labels: Continuous integration

Add changelog entry
  changelog/1854.trivial.rst
Labels: none

Remove `refurb` from pre-commit
  .pre-commit-config.yaml
Labels: none

Fix version of actions/checkout
  .github/workflows/add_comments.yml
Labels: Continuous integration

Fix version of actions/checkout (#1855)
  .github/workflows/add_comments.yml
Labels: Continuous integration

Reorganize coding guide
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Add changelog entry
  changelog/1856.doc.rst
Labels: none

Pin GitHub Action to a specific commit
  .github/workflows/add_comments.yml
Labels: Continuous integration

Pin GitHub Action to a specific commit (#1857)
  .github/workflows/add_comments.yml
Labels: Continuous integration

Update links in README file
  README.md
Labels: none

Revert "Pin GitHub Action to a specific commit (#1857)"
  .github/workflows/add_comments.yml
Labels: Continuous integration

Revert "Fix version of actions/checkout (#1855)"
  .github/workflows/add_comments.yml
Labels: Continuous integration

Revert "Pin GA to specific version (#1852)"
  .github/workflows/add_comments.yml
Labels: Continuous integration

Temporarily change to pull_request rather than pull_request_target
  .github/workflows/add_comments.yml
Labels: Continuous integration

Fix version of actions/checkout
  .github/workflows/add_comments.yml
Labels: Continuous integration

Put back pull_request_target
  .github/workflows/add_comments.yml
Labels: Continuous integration

Revert updates to GitHub Action (#1859)
  .github/workflows/add_comments.yml
Labels: Continuous integration

Add `ruff` to `pre-commit` configuration (#1854)
  .github/workflows/citation_updater.py
  .pre-commit-config.yaml
  changelog/1854.trivial.rst
  pyproject.toml
Labels: Continuous integration

Update create issue links in `README.md` (#1858)
  README.md
Labels: none

Update documentation accordingly
  docs/contributing/doc_guide.rst
  docs/contributing/install_dev.rst
  docs/install.rst
Labels: Contributor Guide

Adjust ruff for pre-commit
  .pre-commit-config.yaml
Labels: none

Adjust ruff for pre-commit (#1860)
  .pre-commit-config.yaml
Labels: none

Apply suggestions from code review
  docs/contributing/install_dev.rst
Labels: Contributor Guide

Drop `dev` dependencies from pyproject.toml (#1843)
  docs/contributing/doc_guide.rst
  docs/contributing/install_dev.rst
  docs/install.rst
  pyproject.toml
Labels: Contributor Guide

Add draft changelog entry
  changelog/1029.feature.rst
Labels: none

Update glossary entry
  docs/glossary.rst
Labels: none

Update glossary entry
  docs/glossary.rst
Labels: none

Update abstract normalizations class
  docs/common_links.rst
  plasmapy/simulation/abstractions.py
Labels: simulations

Update docstrings for abstractions classes
  plasmapy/simulation/abstractions.py
  plasmapy/simulation/normalizations.py
Labels: simulations

Restructure coding guide (#1856)
  changelog/1856.doc.rst
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Update normalizations.py
  plasmapy/simulation/normalizations.py
Labels: simulations

Update copyright year
  LICENSE.md
Labels: none
