Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Update usage of pathlib
  plasmapy/utils/calculator/main_interface.py
  plasmapy/utils/data/downloader.py
Labels: Utilities

Avoid using builtin names of min and max
  plasmapy/utils/calculator/widget_helpers.py
Labels: Utilities

Use trailing underscore to avoid builtin name conflicts
  plasmapy/utils/calculator/widget_helpers.py
Labels: Utilities

Try making tag
  .github/workflows/release.yml
Labels: Continuous integration

Add stuff from rel guide
  .github/workflows/release.yml
Labels: Continuous integration

user email, name
  .github/workflows/release.yml
Labels: Continuous integration

Setup git
  .github/workflows/release.yml
Labels: Continuous integration

Changelog creation
  .github/workflows/release.yml
Labels: Continuous integration

Git add
  .github/workflows/release.yml
Labels: Continuous integration

Fix towncrier
  .github/workflows/release.yml
Labels: Continuous integration

Try branch
  .github/workflows/release.yml
Labels: Continuous integration

Typo fix
  .github/workflows/release.yml
Labels: Continuous integration

Add -u origin
  .github/workflows/release.yml
Labels: Continuous integration

Branch name
  .github/workflows/release.yml
Labels: Continuous integration

Adjust branch name
  .github/workflows/release.yml
Labels: Continuous integration

Try prev version
  .github/workflows/release.yml
Labels: Continuous integration

Temp remove requirements test
  .github/workflows/release.yml
  plasmapy/tests/test_requirements.py
Labels: Continuous integration

Both version and branch
  .github/workflows/release.yml
Labels: Continuous integration

Try uploading v/ starting tags to pypi
  .github/workflows/release.yml
Labels: Continuous integration

python script to update citation
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
Labels: Continuous integration

fix path
  .github/workflows/release.yml
Labels: Continuous integration

handle citation.rst
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
Labels: Continuous integration

Try another way of uploading; enable precommit
  .github/workflows/release.yml
Labels: Continuous integration

Forgot to git add
  .github/workflows/release.yml
Labels: Continuous integration

Add handling for whatsnew index
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
Labels: Continuous integration

Typo fix
  .github/workflows/release.yml
Labels: Continuous integration

Strip empty lines from new whatsnew file
  .github/workflows/release.yml
Labels: Continuous integration

Remove missed todo entry
  .github/workflows/release.yml
Labels: Continuous integration

Update documentation
  docs/contributing/release_guide.rst
Labels: Contributor Guide

Try upload_to_pypi: true
  .github/workflows/release.yml
Labels: Continuous integration

Remove flake8-useless-assert due to its flake8 requirement upper limit
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Add changelog entry
  changelog/1777.trivial.rst
Labels: none

Update plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/__init__.py
Labels: Formulary

update
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  setup.cfg
Labels: none

update
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/tests/test_timescales.py
Labels: Formulary

update
  plasmapy/formulary/collisions/coulomb.py
Labels: Formulary

update
  plasmapy/plasma/sources/plasmablob.py
Labels: Plasma class

update
  plasmapy/plasma/sources/plasmablob.py
Labels: Plasma class

update
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
