Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

Use reST substitution for coding guide
  changelog/1673.doc.rst
Labels: none

Update workflow guide
  docs/contributing/workflow.rst
Labels: Contributor Guide

Make CONTRIBUTING.rst refer folks to contributor guide
  docs/CONTRIBUTING.rst
  docs/contributing/index.rst
Labels: Contributor Guide

Update index of contributor guide for landing page for docs
  docs/index.rst
Labels: none

Change up GitHub contributing file
  .github/contributing.md
  docs/CONTRIBUTING.rst
Labels: Continuous integration

Update imposter syndrome disclaimer
  docs/contributing/index.rst
Labels: Contributor Guide

Update Travis CI link
  docs/whatsnew/0.1.0.rst
Labels: none

Fix towncrier setting for PR link
  pyproject.toml
Labels: none

Fix Anaconda links
  docs/install.rst
Labels: none

Update GitHub username
  docs/about/credits.rst
Labels: none

Update link to our requirements directory
  docs/common_links.rst
Labels: none

Use DOI link & slight rewording for null point notebook
  docs/notebooks/analysis/nullpoint.ipynb
Labels: Notebooks

Add anchor & lower-case-ify link
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Fix link to coding guide & remove unnecessary anchor
  docs/contributing/coding_guide.rst
  docs/notebooks/formulary/cold_plasma_tensor_elements.ipynb
Labels: Contributor Guide, Notebooks

Fix scipy.optimize link in notebook
  docs/notebooks/diagnostics/thomson_fitting.ipynb
Labels: Notebooks

DOI links and minor changes to nullpoint notebook
  docs/notebooks/analysis/nullpoint.ipynb
Labels: Notebooks

Update links, etc. in nullpoint.ipynb
  docs/notebooks/analysis/nullpoint.ipynb
Labels: Notebooks

Add comment to pyproject.toml
  pyproject.toml
Labels: none

Fix yet another Anaconda link
  docs/install.rst
Labels: none

Use :wikipedia: role for IDEs
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Tentatively remove IDE common link
  docs/common_links.rst
Labels: none

Use :wikipedia: role for API
  docs/common_links.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update :wikipedia: role
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Remove testing links to Atom
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Remove notebook metadata
  docs/notebooks/analysis/nullpoint.ipynb
Labels: Notebooks

Fix broken hyperlinks and redirects prior to 0.9.0 release (#1770)
  docs/about/credits.rst
  docs/common_links.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/testing_guide.rst
  docs/install.rst
  docs/notebooks/analysis/nullpoint.ipynb
  docs/notebooks/diagnostics/thomson_fitting.ipynb
  docs/notebooks/formulary/cold_plasma_tensor_elements.ipynb
  docs/whatsnew/0.1.0.rst
  pyproject.toml
Labels: Contributor Guide, Notebooks

Add GitHub Action to validate CITATION.cff
  .github/workflows/cff.yml
Labels: Continuous integration

Add changelog entry
  changelog/1771.trivial.rst
Labels: none

Rename CFF GitHub Action
  .github/workflows/cff-validator.yml
Labels: Continuous integration

Add CFF validator badge to README.md
  README.md
Labels: none

Delete codemeta.json
  codemeta.json
Labels: none

Add changelog entry
  changelog/1772.trivial.rst
Labels: none

Add reST substitution & link for CITATION.cff
  docs/common_links.rst
Labels: none

Add CITATION.cff to MANIFEST.in
  MANIFEST.in
Labels: none

Update release guide to reflect CITATION.cff
  docs/contributing/release_guide.rst
Labels: Contributor Guide

Apply common link for Citation File Format
  changelog/1772.trivial.rst
  docs/about/citation.rst
  docs/common_links.rst
Labels: none

Update release guide for Citation File Format
  docs/contributing/release_guide.rst
Labels: Contributor Guide

Apply common link for CITATION.cff
  changelog/1771.trivial.rst
  docs/common_links.rst
Labels: none

Update citation.rst discussion of CITATION.cff
  docs/about/citation.rst
Labels: none

Use pretty-format-yaml on CITATION.cff
  CITATION.cff
Labels: none
