Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

put original imports back
  plasmapy/formulary/dimensionless.py
Labels: Formulary

add stub files for newly created collisions files
  docs/api_static/plasmapy.formulary.collisions.coulomb.rst
  docs/api_static/plasmapy.formulary.collisions.dimensionless.rst
  docs/api_static/plasmapy.formulary.collisions.frequencies.rst
  docs/api_static/plasmapy.formulary.collisions.lengths.rst
  docs/api_static/plasmapy.formulary.collisions.misc.rst
Labels: none

update intersphinx references in old change log entries
  docs/whatsnew/0.6.0.rst
  docs/whatsnew/0.8.1.rst
Labels: none

update intersphinx references in CHANGELOG.rst
  CHANGELOG.rst
Labels: none

update intersphinx references in active/current changelog entries
  changelog/1676.removal.rst
  changelog/1678.trivial.1.rst
  changelog/1703.breaking.1.rst
  changelog/1703.breaking.2.rst
  changelog/1703.feature.rst
Labels: Breaking

more intersphinx fixes
  docs/whatsnew/0.8.1.rst
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
Labels: Formulary

clean up notebook references so the point to the current documentation and not the stable documentation
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

clean up notebook [Erik's stupid mistakes]
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

fix the notebook kernelspec names
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

fix the notebook kernelspec names
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

fix the notebook kernelspec names
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

remove all pycharm related metadata
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

patch for href code wrapping in cells
  docs/_static/css/plasmapy.css
Labels: none

repair links
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

remove "private" functions from __all__
  plasmapy/formulary/collisions/misc.py
Labels: Formulary

Patch for href code wrapping in cells (#1785)
  docs/_static/css/plasmapy.css
Labels: none

Mark tests as slow (#1783)
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_quantum.py
Labels: Analysis, Diagnostics, Formulary

Add `flake8` extensions (#1777)
  changelog/1777.trivial.rst
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/utils/calculator/main_interface.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/data/downloader.py
  plasmapy/utils/decorators/validators.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Analysis, Plasma class, Utilities

Update plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/coulomb.py
Labels: Formulary

Update plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/sources/plasmablob.py
Labels: Plasma class

Update plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/sources/plasmablob.py
Labels: Plasma class

Update plasmapy/formulary/tests/test_transport.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

Update plasmapy/formulary/braginskii.py
  plasmapy/formulary/braginskii.py
Labels: Formulary

Update plasmapy/formulary/tests/test_transport.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

Update plasmapy/formulary/tests/test_transport.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

Update docs/bibliography.bib
  docs/bibliography.bib
Labels: none

Update changelog/1769.feature.rst
  changelog/1769.feature.rst
Labels: none

update
  changelog/1769.breaking.rst
Labels: Breaking

update
  changelog/1769.breaking.rst
Labels: Breaking

delete test_collisions.py
  plasmapy/formulary/tests/test_collisions.py
Labels: Formulary

fix one more notebook link
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

notebook: use .rst for file links not .html
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

Refactoring collisions functionality (#1769)
  CHANGELOG.rst
  changelog/1676.removal.rst
  changelog/1678.trivial.1.rst
  changelog/1703.breaking.1.rst
  changelog/1703.breaking.2.rst
  changelog/1703.feature.rst
  changelog/1769.feature.rst
  docs/api_static/plasmapy.formulary.collisions.coulomb.rst
  docs/api_static/plasmapy.formulary.collisions.dimensionless.rst
  docs/api_static/plasmapy.formulary.collisions.frequencies.rst
  docs/api_static/plasmapy.formulary.collisions.lengths.rst
  docs/api_static/plasmapy.formulary.collisions.misc.rst
  docs/notebooks/formulary/coulomb.ipynb
  docs/whatsnew/0.6.0.rst
  docs/whatsnew/0.8.1.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/formulary/collisions/tests/__init__.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/collisions/tests/test_misc.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/tests/test_collisions.py
  setup.cfg
Labels: Formulary, Notebooks, Breaking

add keyword-only parameters to MagneticDipole.magnetic_field
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/tests/test_magnetostatics.py
Labels: Formulary

Add noqa comments to thomson.py
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

Add noqa comments to ionization_state.py
  plasmapy/particles/ionization_state.py
Labels: Particles

Add noqa comments to ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Labels: Particles

Add noqa comments to nuclear.py
  plasmapy/particles/nuclear.py
Labels: Particles

Add noqa comments to openpmd_hdf5.py
  plasmapy/plasma/sources/openpmd_hdf5.py
Labels: Plasma class

Update test of exception for magnetostatics
  plasmapy/formulary/tests/test_magnetostatics.py
Labels: Formulary

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
