Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

Fix test for TypeError in running_mean
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Analysis

Consistentify spacing in doc guide
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Consistentify reST formatting in testing guide
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Reorganize imports in code block
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update spacing in code blocks in coding guide
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Apply changes from shed in coding guide
  docs/contributing/coding_guide.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Run shed on docs
  docs/particles/decorators.rst
  docs/particles/particle_class.rst
  docs/plasma/index.rst
Labels: none

Add pre-commit hook for blacken-docs
  .pre-commit-config.yaml
Labels: none

Apply blacken-docs
  plasmapy/plasma/grids.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
Labels: Plasma class, Utilities

Run blacken-docs on particle_class.py
  plasmapy/particles/particle_class.py
Labels: Particles

Remove formatting tip from coding guide
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Exclude coding_guide.rst from blacken-docs
  .pre-commit-config.yaml
Labels: none

Add missing }'s
  plasmapy/utils/decorators/checks.py
Labels: Utilities

Apply autoformatting
  plasmapy/utils/decorators/checks.py
Labels: Utilities

Separate code block & run blacken-docs
  plasmapy/utils/decorators/lite_func.py
Labels: Utilities

Undo fix of purposefully bad formatting
  docs/contributing/coding_guide.rst
Labels: Contributor Guide

Add changelog entry
  changelog/1807.doc.rst
  changelog/1807.trivial.rst
Labels: none

Add _version.py to .gitignore
  .gitignore
Labels: none

Remove empty/unneeded changelog file
  changelog/1807.doc.rst
Labels: none

Add `blacken-docs` to `pre-commit` & apply minor reST fixes (#1807)
  .gitignore
  .pre-commit-config.yaml
  changelog/1807.trivial.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
  docs/particles/decorators.rst
  docs/particles/particle_class.rst
  docs/plasma/index.rst
  plasmapy/particles/particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/lite_func.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
Labels: Contributor Guide, Particles, Plasma class, Utilities

Rename fortnightly → weekly
  .github/workflows/weekly.yml
Labels: Continuous integration

Change cron schedule to weekly
  .github/workflows/weekly.yml
Labels: Continuous integration

Update versions of Python in weekly tests
  .github/workflows/weekly.yml
Labels: Continuous integration

Test PlasmaPy on more versions
  .github/workflows/weekly.yml
Labels: Continuous integration

Update fortnightly → weekly
  README.md
  docs/contributing/release_guide.rst
Labels: Contributor Guide

Update OS for workflow
  .github/workflows/testing.yml
Labels: Continuous integration

Restrict version of ipykernel
  requirements/docs.txt
  setup.cfg
Labels: none

Add changelog entry
  changelog/1810.doc.rst
Labels: none

Set upper limit on version of ipykernel
  requirements/docs.txt
  setup.cfg
Labels: none

Restrict ipykernel < 6.18.0, >= 6.18.2
  requirements/docs.txt
  setup.cfg
Labels: none

Require ipykernel >= 6.18.2
  requirements/docs.txt
  setup.cfg
Labels: none

ubuntu-latest -> ubuntu-20.04
  .github/workflows/testing.yml
Labels: Continuous integration

Change cron job time
  .github/workflows/weekly.yml
Labels: Continuous integration

Change fortnightly tests to weekly even though "fortnightly" sounds waaaay cooler than "weekly" (#1808)
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  README.md
  docs/contributing/release_guide.rst
Labels: Continuous integration, Contributor Guide

Delete size-labeler.yml
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Delete size-labeler.yml (#1811)
  .github/workflows/size-labeler.yml
Labels: Continuous integration

Make docstring of running_moment function more readable
  plasmapy/analysis/time_series/running_moments.py
Labels: Analysis

Added relativistic functionality to the gyroradius, and fixed error message for inputting both T and Vperp
  plasmapy/formulary/lengths.py
Labels: Formulary

Added relativistic functionality and fixed small error message problem PlasmaPy#1537
  plasmapy/formulary/lengths.py
Labels: Formulary

changelog
  changelog/1813.breaking.rst
  changelog/1813.bugfix.rst
  changelog/1813.feature.rst
Labels: Breaking
