Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

update
  docs/api_static/plasmapy.formulary.collisions.timescales.rst
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

update
  docs/bibliography.bib
Labels: none

update
  plasmapy/formulary/collisions/__init__.py
Labels: Formulary

update
  plasmapy/formulary/collisions/timescales.py
Labels: Formulary

typo correction
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

more changes
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

test
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

formatting
  docs/notebooks/dispersion/stix_dispersion.ipynb
Labels: Notebooks

formatting
  changelog/1804.doc.rst
Labels: none

formatting
  changelog/1804.doc.rst
Labels: none

Update changelog entry
  changelog/1816.trivial.rst
Labels: none

Ignore docstring line lengths
  plasmapy/diagnostics/charged_particle_radiography.py
  setup.cfg
Labels: Diagnostics

Make docstring lengths closer to 72 characters
  plasmapy/__init__.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/mathematics.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/sources/plasma3d.py
Labels: Analysis, Diagnostics, Formulary, Mathematics, Particles, Plasma class

Update files to ignore line lengths in
  setup.cfg
Labels: none

Fix configuration issue in setup.cfg
  setup.cfg
Labels: none

Update parameter description section
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Remove extra line
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Add syntax for extra long type line
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Try out syntax for extra long type line
  plasmapy/formulary/magnetostatics.py
Labels: Formulary

Revert "Try out syntax for extra long type line"
  plasmapy/formulary/magnetostatics.py
Labels: Formulary

Update type specification conventions
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Add plasmapy.analysis.time_series.rst
  docs/api_static/plasmapy.analysis.time_series.rst
Labels: none

Update changelog for 0.9.1
  docs/whatsnew/0.9.1.rst
  docs/whatsnew/index.rst
Labels: none

Add dev back to TOC
  docs/whatsnew/index.rst
Labels: none

Remove dev from changelog
  docs/whatsnew/index.rst
Labels: none

Update doc guide troubleshooting section
  docs/common_links.rst
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update api_static section
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Fix incorrect link
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Wording change
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Fix reST role for unit superscripts
  plasmapy/diagnostics/langmuir.py
Labels: Diagnostics

"type line" -> "type specification"
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update thomson.py docstrings
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

Remove duplication
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

Add changelog entry
  changelog/1756.doc.rst
Labels: none

Revert collisions.py
  plasmapy/formulary/collisions.py
Labels: Formulary

Update warning messages
  plasmapy/formulary/collisions/coulomb.py
Labels: Formulary

Update namespace in changelog
  changelog/1586.trivial.rst
Labels: none

Implement namurphy's suggestions from second review of PR 1803
  docs/api_static/plasmapy.analysis.time_series.running_moments.rst
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Analysis

Apply suggestions from code review
  docs/ad/diagnostics/charged_particle_radiography/detector_stacks.rst
  docs/ad/diagnostics/charged_particle_radiography/index.rst
Labels: none

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
