Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

Update ruff config
  pyproject.toml
Labels: none

Add comments
  pyproject.toml
Labels: none

Fix line endings
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

Fix line endings
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
Labels: Formulary

Apply ruff to formulary
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

Apply changes from `refurb` and `ruff` to `plasmapy.utils` (#1845)
  changelog/1845.trivial.rst
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/data/tests/test_downloader.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_helpers.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/tests/test_code_repr.py
Labels: Utilities

Refactor tests in `plasmapy.formulary.relativity` (#1844)
  changelog/1844.trivial.rst
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_relativity.py
Labels: Formulary

Apply changes from `refurb` and `ruff` to `plasmapy.particles` (#1846)
  changelog/1846.trivial.rst
  plasmapy/particles/_factory.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

Update 1799.feature.rst
  changelog/1799.feature.rst
Labels: none

DRAFT: Prad multiple field grids (#1799)
  changelog/1799.feature.rst
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

Add `ruff` section to `pyproject.toml` (#1848)
  pyproject.toml
Labels: none

Add TODO
  plasmapy/formulary/tests/test_distribution.py
Labels: Formulary

Apply ruff --fix to repository
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_lengths.py
  plasmapy/simulation/tests/test_particletracker.py
  plasmapy/utils/data/tests/test_downloader.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
Labels: Analysis, Diagnostics, Formulary, parameters.quantum, simulations, Utilities

Pin version of towncrier
  pyproject.toml
Labels: none

Move type annotation from comment to variable
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
Labels: Analysis

Revert "Pin version of towncrier"
  pyproject.toml
Labels: none

Add changelog from 0.9.1
  docs/whatsnew/0.9.1.rst
  docs/whatsnew/index.rst
Labels: none

Add title to dev.rst
  docs/whatsnew/dev.rst
Labels: none

Move position of :orphan:
  docs/whatsnew/dev.rst
Labels: none

Use title and text before changelog directive
  docs/whatsnew/dev.rst
Labels: none

Pin towncrier version to 22.8.0
  pyproject.toml
Labels: none

Add :orphan: back to dev.rst
  docs/whatsnew/dev.rst
Labels: none

Pin version of `towncrier` to address doc build error (#1850)
  docs/whatsnew/0.9.1.rst
  docs/whatsnew/dev.rst
  docs/whatsnew/index.rst
  pyproject.toml
Labels: none

Update getting ready docs
  docs/contributing/getting_ready.rst
Labels: Contributor Guide

Apply changes from `refurb` and `ruff` to `plasmapy.formulary` (#1847)
  changelog/1847.trivial.rst
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

Apply ruff --fix to repository (#1849)
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_lengths.py
  plasmapy/simulation/tests/test_particletracker.py
  plasmapy/utils/data/tests/test_downloader.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
Labels: Analysis, Diagnostics, Formulary, parameters.quantum, simulations, Utilities

Update getting ready doc
  docs/contributing/getting_ready.rst
Labels: Contributor Guide

Pin GA to specific version
  .github/workflows/add_comments.yml
Labels: Continuous integration

Apply refurb changes in plasmapy.analysis
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
Labels: Analysis

Apply refurb changes in plasmapy.diagnostics
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/tests/test_thomson.py
Labels: Diagnostics

Apply refurb changes in plasmapy.dispersion
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
Labels: Dispersion

Apply refurb changes in plasmapy.plasma
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
Labels: Plasma class

Rename duplicate test names
  plasmapy/particles/tests/test_atomic.py
Labels: Particles

Remove unused variables
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class

Remove unused variable
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class

Remove unused variables and fix pytest.fail call
  plasmapy/particles/tests/test_ionization_collection.py
Labels: Particles

Unduplicate test name
  plasmapy/particles/tests/test_nuclear.py
Labels: Particles

Remove unused variables and simplify test
  plasmapy/analysis/tests/test_nullpoint.py
Labels: Analysis

Remove unused variable
  plasmapy/analysis/tests/test_nullpoint.py
Labels: Analysis

Apply ruff in test_particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles
