Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Fix reST formatting
  changelog/1833.removal.rst
Labels: none

Shortened many lines
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Typo fix in changelog
  changelog/1274.feature.rst
Labels: none

Remove parameters from TOC
  docs/formulary/index.rst
Labels: none

Undid a docstring error
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Linter fix
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Update plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Attempt to fix documentation issue
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Remove `plasmapy.formulary.parameters` (#1833)
  changelog/1833.removal.rst
  docs/formulary/index.rst
  docs/formulary/parameters.rst
  docs/whatsnew/0.5.0.rst
  docs/whatsnew/0.8.1.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary

Update plasmapy/__init__.py
  plasmapy/__init__.py
Labels: none

Convert setup.cfg to pyproject.toml (#1758)
  .github/workflows/testing.yml
  .gitignore
  .readthedocs.yml
  MANIFEST.in
  binder/requirements.txt
  changelog/1758.trivial.rst
  changelog/README.rst
  docs/common_links.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/install_dev.rst
  docs/contributing/testing_guide.rst
  docs/install.rst
  plasmapy/__init__.py
  plasmapy/_dev/__init__.py
  plasmapy/_dev/scm_version.py
  plasmapy/tests/test_requirements.py
  pyproject.toml
  requirements.txt
  requirements/build.txt
  requirements/docs.txt
  requirements/environment.yml
  requirements/extras.txt
  requirements/install.txt
  requirements/tests.txt
  setup.cfg
  setup.py
  tox.ini
Labels: Continuous integration, Contributor Guide

Typo fix
  tox.ini
Labels: none

Remove size labeler again (wonky merge?)
  .github/workflows/handle-new-pr.yml
Labels: Continuous integration

Add flake8 check for line length in docstrings (#1816)
  changelog/1816.trivial.rst
  plasmapy/__init__.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/plasma3d.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/converter.py
  tox.ini
Labels: Analysis, Diagnostics, Formulary, Mathematics, parameters.quantum, Particles, Plasma class, Utilities

removed a blank line
  plasmapy/formulary/frequencies.py
Labels: Formulary

added a blank line
  plasmapy/formulary/frequencies.py
Labels: Formulary

Reversed order in reverse_order 'if' statement
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Fixed functional typo in testing_guide.rst (#1834)
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Possibly fix doc errors
  docs/whatsnew/0.7.0.rst
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Fix (hide) linter error?
  tox.ini
Labels: none

actually fix linters
  tox.ini
Labels: none

State error message from missing stub file
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Reorganize troubleshooting section
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Say a little more about missing stub files
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update troubleshooting guide
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Changes from code review
  changelog/1274.feature.rst
  docs/common_links.rst
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
Labels: Diagnostics

Add label for substitutions section
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update changelog/1274.breaking.rst
  changelog/1274.breaking.rst
Labels: Breaking

Update plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
Labels: Diagnostics

Update changelog/1274.feature.rst
  changelog/1274.feature.rst
Labels: none

Charged Particle Radiography: Detector Stacks (#1274)
  .gitignore
  changelog/1274.breaking.rst
  changelog/1274.feature.rst
  docs/ad/diagnostics/charged_particle_radiography.rst
  docs/ad/diagnostics/charged_particle_radiography/detector_stacks.rst
  docs/ad/diagnostics/charged_particle_radiography/index.rst
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
  docs/ad/diagnostics/index.rst
  docs/common_links.rst
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_wire_mesh.ipynb
  docs/whatsnew/0.7.0.rst
  plasmapy/diagnostics/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  tox.ini
Labels: Diagnostics, Notebooks, Breaking

Apply suggestions from code review
  plasmapy/diagnostics/charged_particle_radiography.py
Labels: Diagnostics

Add a summary section to testing guide (#1823)
  changelog/1823.doc.rst
  docs/common_links.rst
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Add another error
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

1817.doc.rst
  changelog/1817.doc.rst
Labels: none

Remove second paragraph of changelog entry
  changelog/1817.doc.rst
Labels: none

Update ionization states notebook
  docs/notebooks/particles/ace.ipynb
Labels: Notebooks

Update type specification section
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update type specification section
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Make it more clear that typo is intentional
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
