Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Apply suggestions from code review
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

Forgot extras reqs are gone
  requirements/docs.txt
  requirements/extras.txt
  requirements/tests.txt
Labels: none

Properly remove setup.cfg after messed up merge
  setup.cfg
Labels: none

Update changelog guide (#1826)
  changelog/1826.doc.rst
  changelog/README.rst
Labels: none

Add Buchsbaum frequency calculation to frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Add third reference for bi-ion nomenclature
  plasmapy/formulary/frequencies.py
Labels: Formulary

Add two references for Buchsbaum frequency
  docs/bibliography.bib
Labels: none

Add reference thompson:1995 for Buchsbaum frequency
  docs/bibliography.bib
Labels: none

Add example to Buchsbaum frequency in frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Fixed bad references to thompson:1995
  plasmapy/formulary/frequencies.py
Labels: Formulary

Hopefully fixed bad example text in Buchsbaum_frequency
  plasmapy/formulary/frequencies.py
Labels: Formulary

Fixing other errors in Buchsbaum_frequency example
  plasmapy/formulary/frequencies.py
Labels: Formulary

Fixing still other errors in Buchsbaum_frequency example
  plasmapy/formulary/frequencies.py
Labels: Formulary

Apply suggestions from code review
  changelog/1758.trivial.rst
  docs/install.rst
  plasmapy/__init__.py
Labels: none

Added init_indices to keep track of removed particles
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics

Update changelog for 0.9.1 (#1820)
  docs/whatsnew/0.9.1.rst
Labels: none

Oxford comma
  plasmapy/formulary/frequencies.py
Labels: Formulary

Update plasmapy/formulary/frequencies.py
  plasmapy/formulary/frequencies.py
Labels: Formulary

Shortened redundant ion2 description per Dominik's suggestion.
  plasmapy/formulary/frequencies.py
Labels: Formulary

Standardized "Return" instead of "Calculate" in docstring.
  plasmapy/formulary/frequencies.py
Labels: Formulary

Pre-calculate squared terms to prevent recalculation.
  plasmapy/formulary/frequencies.py
Labels: Formulary

Imported typing.Optional Added typing.Optional annotation for Z1 and Z2
  plasmapy/formulary/frequencies.py
Labels: Formulary

Added changelog file for this PR
  changelog/1828.feature.rst
Labels: none

Appease linter
  plasmapy/formulary/frequencies.py
Labels: Formulary

Changed Z1 & Z2 to refer to ion1 and ion2 (respectively) rather than particle1 and particle2, consistent with the rest of the documentation and code.
  plasmapy/formulary/frequencies.py
Labels: Formulary

Add functions to calculate running moments of time series in new time_series sub module (#1803)
  changelog/1803.feature.rst
  docs/api_static/plasmapy.analysis.time_series.rst
  docs/api_static/plasmapy.analysis.time_series.running_moments.rst
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Analysis

Begin adding test_Buchsbaum_frequency() to test_frequencies.py
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

A few tests added to test_Buchsbaum_frequency()
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

change ValueError to InvalidParticleError:
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Syntax error fixes
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Back to ValueError from InvalidParticleError in Buchsbaum_frequency
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Removed trailing comma in argument list, Buchsbaum frequency
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Debugging by commenting out particle tests for Buchsbaum frequency
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Debugging by commenting out all tests for Buchsbaum frequency
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Debugging by commenting out all but one test for Buchsbaum frequency
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Adding back in tests
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

back to InvalidParticleError
  plasmapy/formulary/tests/test_frequencies.py
Labels: Formulary

Purge remaining traces of requirements
  changelog/README.rst
  docs/contributing/doc_guide.rst
  docs/contributing/testing_guide.rst
  requirements/build.txt
  requirements/docs.txt
  requirements/install.txt
  requirements/tests.txt
Labels: Contributor Guide

added missing "wbi_" to aliases
  plasmapy/formulary/frequencies.py
Labels: Formulary

Apply suggestions from code review
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
