Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

Update troubleshooting information in doc guide (#1817)
  changelog/1817.doc.rst
  docs/common_links.rst
  docs/contributing/doc_guide.rst
  tox.ini
Labels: Contributor Guide

Fill paragraphs
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Clarification and docstring line length
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update discussion of parameter type specifications in docstrings (#1757)
  changelog/1757.doc.rst
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

Update tests for new warning message
  plasmapy/formulary/collisions/tests/test_coulomb.py
Labels: Formulary

Update error messages in Coulomb logarithm calculations (#1586)
  changelog/1586.trivial.rst
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
Labels: Formulary

Fix minor reST and codespell issues
  docs/contributing/workflow.rst
Labels: Contributor Guide

Add sphinx-tabs as a doc build dependency
  docs/conf.py
  pyproject.toml
Labels: none

Add sphinx-tabs as a doc build dependency
  pyproject.toml
Labels: none

Reset version of sphinx-tabs
  pyproject.toml
Labels: none

Lower version of sphinx-tabs again
  pyproject.toml
Labels: none

Sphinx tabs!
  docs/contributing/getting_ready.rst
Labels: Contributor Guide

Ensure ordering for particles in tests
  plasmapy/particles/tests/conftest.py
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

Revert "Remove pytest-xdist from test requirements (#1822)"
  changelog/1822.trivial.rst
  tox.ini
Labels: none

That should do it
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

Fix tests for antiparticles
  plasmapy/particles/tests/conftest.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

Rewrite tests using fixtures
  plasmapy/particles/tests/conftest.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

Some additional cleanup
  plasmapy/particles/tests/test_special_particles.py
Labels: Particles

remove TODO on fixtures
  plasmapy/particles/tests/test_ionization_state.py
Labels: Particles

More cleanup
  plasmapy/particles/tests/test_ionization_state.py
Labels: Particles

Self-depend in pyproject.toml
  pyproject.toml
Labels: none

Add GitHub repo to landing page sidebar
  docs/index.rst
Labels: none

Add email address for team@plasmapy.org
  docs/index.rst
Labels: none

Remove attempt to put email address in the sidebar
  docs/index.rst
Labels: none

Capitalization of website link
  docs/index.rst
Labels: none

Fix link to troubleshooting guide in tox.ini
  tox.ini
Labels: none

Add graphviz requirement
  .readthedocs.yml
Labels: none

Update RTD config settings
  .readthedocs.yml
Labels: none

Fix underscore
  .readthedocs.yml
Labels: none

Update RTD config file
  .readthedocs.yml
Labels: none

Update RTD config file
  .readthedocs.yml
Labels: none

Update RTD config file
  .readthedocs.yml
Labels: none

Fix another underscore
  .readthedocs.yml
Labels: none

Change wording
  .readthedocs.yml
Labels: none

Remove quotes
  .readthedocs.yml
Labels: none

Split echo cmd to two lines
  .readthedocs.yml
Labels: none

Remove one of the echo statements
  .readthedocs.yml
Labels: none

Update Read the Docs configuration and add `graphviz` dependency (#1840)
  .readthedocs.yml
  tox.ini
Labels: none

Link to GitHub repository from documentation landing page (#1839)
  docs/index.rst
Labels: none

Test against NumPy GitHub repo
  tox.ini
Labels: none

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst
