Repository PlasmaPy/PlasmaPy, changes with the labels that .github/labeler.yml gives for each.
All labels: Analysis, Continuous integration, Contributor Guide, Diagnostics, Dispersion, Formulary, Mathematics, parameters.quantum, Particles, Notebooks, Plasma class, simulations, Utilities, Breaking

.github/labeler.yml:

Analysis: plasmapy/analysis/**/*

Continuous integration: .github/**/*

Contributor Guide: docs/contributing/*

Diagnostics: plasmapy/diagnostics/**/*

Dispersion: plasmapy/dispersion/**/*

Formulary: plasmapy/formulary/**/*

Mathematics: plasmapy/formulary/mathematics.py

parameters.quantum: plasmapy/formulary/quantum.py

Particles: plasmapy/particles/**/*

# Add Documentation label to any change in docs but notebooks
Documentation:
- any: [docs/**/*]
  all: ['!docs/notebooks/**/*', '!docs/contributing/*']

Notebooks: docs/notebooks/**/*

Plasma class: plasmapy/plasma/**/*

simulations: plasmapy/simulation/**/*

Utilities: plasmapy/utils/**/*

Breaking: changelog/*.breaking*rst

update
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/tests/test_transport.py
Labels: Formulary

update
  docs/api_static/plasmapy.formulary.collisions.rst
Labels: none

update
  docs/notebooks/formulary/coulomb.ipynb
Labels: Notebooks

Run build only on tags
  .github/workflows/release.yml
  .github/workflows/testing.yml
Labels: Continuous integration

Remove import-plasmapy action, because it's part of packaging now; bring back needs: in build
  .github/workflows/testing.yml
Labels: Continuous integration

Adjust docs
  docs/contributing/release_guide.rst
Labels: Contributor Guide

Adjust branch logic
  .github/workflows/release.yml
Labels: Continuous integration

update
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/dimensionless.py
Labels: Formulary

Lol this bug again
  .github/workflows/release.yml
Labels: Continuous integration

put back star imports
  plasmapy/formulary/collisions/__init__.py
Labels: Formulary

Allow empty pre-commit if nothing new happened
  .github/workflows/release.yml
Labels: Continuous integration

Allow empty towncrier commit if nothing new happened
  .github/workflows/release.yml
Labels: Continuous integration

update
  plasmapy/formulary/collisions/__init__.py
Labels: Formulary

fix a few line length issues in test files
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
Labels: Formulary

add flake8 ignores for plasmapy/formulary/collisions/__init__.py
  setup.cfg
Labels: none

Tentatively go back to original builtins names
  plasmapy/utils/calculator/widget_helpers.py
Labels: Utilities

Add tryceratops as a flake8 dependency
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: none

Ignore flake8 tryceratops code TC003
  setup.cfg
Labels: none

Perform tryceratops --autofix
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
Labels: Analysis, Diagnostics, Dispersion, Formulary, Particles, Plasma class, Utilities

Remove unused exception `as err`
  plasmapy/utils/decorators/checks.py
Labels: Utilities

Add #noqa within validators.py
  plasmapy/utils/decorators/validators.py
Labels: Utilities

Use else blocks within try/except
  plasmapy/particles/particle_class.py
Labels: Particles

Use else/finally blocks within try/except
  plasmapy/particles/particle_class.py
Labels: Particles

Add #noqa comment
  plasmapy/utils/decorators/validators.py
Labels: Utilities

Change error to TypeError
  plasmapy/formulary/magnetostatics.py
Labels: Formulary

Add changelog entry
  changelog/1782.trivial.rst
Labels: none

Use else block for try/except
  plasmapy/particles/serialization.py
Labels: Particles

Use TypeErrors instead of ValueErrors
  plasmapy/diagnostics/thomson.py
  plasmapy/plasma/grids.py
Labels: Diagnostics, Plasma class

Use else block in try/except
  plasmapy/particles/atomic.py
Labels: Particles

Use else block in try/except
  plasmapy/particles/ionization_state_collection.py
Labels: Particles

Mark tests in `test_nullpoint.py` as slow
  plasmapy/analysis/tests/test_nullpoint.py
Labels: Analysis

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/dimensionless.py
Labels: Formulary

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/frequencies.py
Labels: Formulary

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/lengths.py
Labels: Formulary

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/misc.py
Labels: Formulary

Mark some formulary tests as slow
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_quantum.py
Labels: Formulary

Mark some diagnostics tests as slow
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
Labels: Diagnostics

fix intersphinx links, fix line length issues
  plasmapy/formulary/dimensionless.py
Labels: Formulary

fix intersphinx links, fix line length issues
  plasmapy/formulary/braginskii.py
Labels: Formulary

fix intersphinx links, fix line length issues
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
Labels: Formulary
