Repository PlasmaPy/PlasmaPy, pull requests merged in 2018-03, with the labels that each got.

#284 Update and refactor Particle class
  plasmapy/atomic/atomic.py
  plasmapy/atomic/elements.py
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/special_particles.py
  plasmapy/atomic/tests/test_atomic.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic, Changes existing API, Refactoring, Status: ready for review

#289 Update ReST formatting in docstrings
  plasmapy/classes/plasma.py
  plasmapy/constants/__init__.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/mathematics/mathematics.py
  plasmapy/physics/__init__.py
  plasmapy/physics/dielectric.py
  plasmapy/physics/dimensionless.py
  plasmapy/physics/distribution.py
  plasmapy/physics/parameters.py
  plasmapy/physics/quantum.py
  plasmapy/physics/relativity.py
  plasmapy/utils/checks.py
  plasmapy/utils/exceptions.py
  plasmapy/utils/import_helpers.py
Labels: Documentation

#291 Add giles to circleci
  .circleci/config.yml
Labels: Documentation, Testing

#282 Increase pycodestyle maximum line length to 99
  docs/development/code_guide.rst
  setup.cfg
Labels: Documentation

#290 Accept Roman numerals when specifying charge states
  plasmapy/atomic/parsing.py
  plasmapy/atomic/tests/test_parsing.py
  requirements/automated-code-tests.txt
  requirements/automated-documentation-tests.txt
  requirements/environment.txt
  requirements/environment.yml
  requirements/requirements.txt
Labels: Atomic, Enhancement

#293 Add narrative documentation for atomic subpackage
  docs/atomic/decorators.rst
  docs/atomic/functional.rst
  docs/atomic/index.rst
  docs/atomic/nuclear.rst
  docs/atomic/particle_class.rst
  docs/index.rst
  plasmapy/atomic/__init__.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/particle_input.py
Labels: Atomic, Documentation

#299 Add type hints and update tests/docstrings in mathematics
  .pep8speaks.yml
  plasmapy/mathematics/mathematics.py
  plasmapy/mathematics/tests/test_Fermi_integral.py
  plasmapy/mathematics/tests/test_dispersion.py
Labels: Documentation, Math, Status: ready for review

#278 Create a test helper function
  .gitignore
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/tests/test_atomic.py
  plasmapy/atomic/tests/test_nuclear.py
  plasmapy/atomic/tests/test_particle_class.py
  plasmapy/utils/__init__.py
  plasmapy/utils/checks.py
  plasmapy/utils/pytest_helpers.py
  plasmapy/utils/tests/test_checks.py
  plasmapy/utils/tests/test_pytest_helpers.py
  requirements/automated-code-tests.txt
  requirements/automated-documentation-tests.txt
  requirements/environment.txt
  requirements/environment.yml
  requirements/requirements.txt
Labels: Enhancement, Status: ready for review, Testing

#193 Plasma blob
  docs/plasma/index.rst
  plasmapy/__init__.py
  plasmapy/classes/__init__.py
  plasmapy/classes/plasma.py
  plasmapy/classes/tests/__init__.py
  plasmapy/classes/tests/test_Plasma.py
  plasmapy/classes/tests/test_Species.py
  plasmapy/physics/dimensionless.py
Labels: Needs Git magic, Plasma class, Status: in progress

#303 Code review fixes for plasma parameters and transport
  docs/development/code_guide.rst
  docs/index.rst
  docs/physics/transport/index.rst
  plasmapy/classes/plasma.py
  plasmapy/examples/plot_braginskii.py
  plasmapy/physics/__init__.py
  plasmapy/physics/distribution.py
  plasmapy/physics/parameters.py
  plasmapy/physics/parameters_cython.c
  plasmapy/physics/tests/test_parameters.py
  plasmapy/physics/tests/test_transport.py
  plasmapy/physics/transport.py
  plasmapy/physics/transport/__init__.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
  plasmapy/physics/transport/tests/__init__.py
  plasmapy/physics/transport/tests/test_collisions.py
  plasmapy/physics/transport/tests/test_transport.py
  plasmapy/utils/checks.py
Labels: Physics, Refactoring
