Repository PlasmaPy/PlasmaPy, pull requests merged in 2018-07, with the labels that each got.

#508 Python 3.7 tests
  .circleci/config.yml
  .travis.yml
  appveyor.yml
  requirements/automated-documentation-tests.txt
  requirements/environment.txt
  requirements/environment.yml
Labels: Status: ready for review, Testing

#510 Add `isotope_name` attribute on `Particle` instance
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic :atom:

#514 Incorporate roman package into PlasmaPy
  appveyor.yml
  licenses/roman_license.rst
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/tests/test_particle_class.py
  plasmapy/utils/__init__.py
  plasmapy/utils/roman/__init__.py
  plasmapy/utils/roman/roman.py
  plasmapy/utils/roman/tests/__init__.py
  plasmapy/utils/roman/tests/test_roman.py
  requirements/environment.yml
  requirements/requirements.txt
  setup.cfg
Labels: Availability, Refactoring, Status: ready for review

#517 Make Particle(particle) == Particle(Particle(particle))
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic :atom:, Status: ready for review

#519 Implement ionize and recombine methods in Particle class
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic :atom:, Status: ready for review
