Repository PlasmaPy/PlasmaPy, pull requests merged in 2018-06, with the labels that each got.

#480 Handling nparray Quantities part deux: Coulomb_logarithm
  plasmapy/physics/transport/collisions.py
  plasmapy/physics/transport/tests/test_collisions.py
Labels: Physics

#482 [WIP] Code guide improvements
  docs/development/code_guide.rst
Labels: Documentation

#481 Improve documentation and simplify syntax of check_quantity
  plasmapy/conftest.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/physics/dielectric.py
  plasmapy/physics/dimensionless.py
  plasmapy/physics/parameters.py
  plasmapy/physics/quantum.py
  plasmapy/physics/relativity.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
  plasmapy/utils/checks.py
  plasmapy/utils/tests/test_checks.py
  setup.cfg
Labels: Documentation, Refactoring, Status: ready for review

#306 Add magnetostatics.py for calculating common magnetostatic fields in `physics` subpackage
  docs/physics/index.rst
  docs/physics/magnetostatics.rst
  plasmapy/classes/sources/plasma3d.py
  plasmapy/classes/sources/tests/test_plasmablob.py
  plasmapy/examples/plot_magnetic_statics.py
  plasmapy/physics/__init__.py
  plasmapy/physics/magnetostatics.py
  plasmapy/physics/tests/test_magnetostatics.py
Labels: Enhancement, Physics

#491 Setup description
  setup.cfg
  setup.py
Labels: Availability
