Repository PlasmaPy/PlasmaPy, pull requests merged in 2018-04, with the labels that each got.

#323 Pre-create commonly used Particle instances
  docs/atomic/particle_class.rst
  plasmapy/atomic/__init__.py
Labels: Atomic, Status: ready for review

#334 Fix check_quantity casting to default provided SI's
  plasmapy/physics/parameters.py
  plasmapy/physics/quantum.py
  plasmapy/physics/relativity.py
  plasmapy/physics/tests/test_parameters.py
  plasmapy/physics/tests/test_quantum.py
  plasmapy/physics/tests/test_relativity.py
  plasmapy/physics/transport/collisions.py
  plasmapy/utils/checks.py
  plasmapy/utils/tests/test_checks.py
Labels: Bug, Documentation, Refactoring

#338 Update functions and docstrings in atomic/symbols.py
  docs/atomic/functional.rst
  plasmapy/atomic/__init__.py
  plasmapy/atomic/symbols.py
Labels: Atomic, Documentation, Refactoring, Status: ready for review

#344 Revert "Explicitly show DeprecationWarning in tests"
  plasmapy/classes/tests/test_Plasma.py
  plasmapy/mathematics/tests/test_Fermi_integral.py
  plasmapy/physics/tests/test_distribution.py
  plasmapy/physics/tests/test_parameters.py
  plasmapy/physics/tests/test_quantum.py
  plasmapy/physics/tests/test_relativity.py
  plasmapy/physics/transport/tests/test_collisions.py
  plasmapy/physics/transport/tests/test_transport.py
  plasmapy/utils/checks.py
  plasmapy/utils/tests/test_checks.py
  setup.cfg
Labels: Testing

#346 Improve treatment of neutral atoms in Particle class and add __invert__ attribute
  docs/atomic/particle_class.rst
  plasmapy/atomic/atomic.py
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/particle_input.py
  plasmapy/atomic/special_particles.py
  plasmapy/atomic/symbols.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic, Enhancement, Refactoring, Status: ready for review

#187 Update release notes and change log prior to version 0.1.0a1 release
  CHANGE_LOG.md
  CHANGE_LOG.rst
  RELEASE_NOTES.md
  RELEASE_NOTES.rst
Labels: Availability, Documentation

#324 Rewriting collision_rate_ion_ion in parameters.py
  plasmapy/physics/parameters.py
  plasmapy/physics/transport/__init__.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
Labels: TRANSPORT TASK FORCE

#340 Remove ion_mass and isotope_mass and replace with particle_mass
  plasmapy/atomic/__init__.py
  plasmapy/atomic/atomic.py
  plasmapy/atomic/tests/test_atomic.py
  plasmapy/classes/plasma.py
  plasmapy/classes/species.py
  plasmapy/physics/dielectric.py
  plasmapy/physics/parameters.py
  plasmapy/physics/parameters_cython.c
  plasmapy/physics/parameters_cython.pyx
  plasmapy/physics/quantum.py
  plasmapy/physics/relativity.py
  plasmapy/physics/tests/test_dielectric.py
  plasmapy/physics/tests/test_distribution.py
  plasmapy/physics/tests/test_parameters.py
  plasmapy/physics/tests/test_relativity.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
  plasmapy/physics/transport/tests/test_transport.py
Labels: Atomic, Refactoring, Status: ready for review

#356 Rename classical_transport class to ClassicalTransport
  plasmapy/examples/plot_braginskii.py
  plasmapy/physics/dielectric.py
  plasmapy/physics/transport/__init__.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
  plasmapy/physics/transport/tests/test_transport.py
Labels: Refactoring, TRANSPORT TASK FORCE

#351 WIP: Various documentation improvements
  docs/atomic/index.rst
  docs/conf.py
  docs/diagnostics/index.rst
  docs/index.rst
  docs/mathematics/index.rst
  docs/physics/index.rst
  docs/physics/transport/index.rst
  docs/plasma/index.rst
  docs/species/index.rst
  docs/transport/index.rst
  docs/utils/index.rst
  plasmapy/classes/plasma.py
  plasmapy/examples/plot_distribution.py
  plasmapy/examples/plot_physics.py
  plasmapy/mathematics/mathematics.py
  plasmapy/physics/dielectric.py
  plasmapy/physics/dimensionless.py
  plasmapy/physics/distribution.py
  plasmapy/physics/parameters.py
  plasmapy/physics/quantum.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/utils/checks.py
  plasmapy/utils/pytest_helpers.py
Labels: Documentation

#358 Handle `Quantity` objects in `call_string()`
  plasmapy/classes/plasma.py
  plasmapy/utils/pytest_helpers.py
Labels: Testing

#361 Split boiler plate, add mass argument to thermal_speed
  plasmapy/physics/parameters.py
  plasmapy/physics/tests/test_distribution.py
  plasmapy/physics/tests/test_parameters.py
  plasmapy/physics/transport/collisions.py
  plasmapy/physics/transport/tests/test_collisions.py
Labels: Refactoring, Status: ready for review

#354 Implement the basic Langmuir analysis
  docs/diagnostics/index.rst
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/examples/langmuir_samples/Beckers2017.p
  plasmapy/examples/langmuir_samples/Beckers2017b.p
  plasmapy/examples/langmuir_samples/Pace2015.p
  plasmapy/examples/plot_langmuir_analysis.py
  requirements/automated-code-tests.txt
Labels: Diagnostics, Effort: high

#381 Create subpackage stability table in docs
  docs/index.rst
  docs/stability.rst
Labels: Documentation

#384 Fix import error messages in __init__.py and test requirements files
  .coveragerc
  docs/utils/index.rst
  plasmapy/__init__.py
  plasmapy/import_helpers.py
  plasmapy/tests/__init__.py
  plasmapy/tests/test_availability.py
  plasmapy/tests/test_import_helpers.py
  plasmapy/utils/__init__.py
  plasmapy/utils/import_helpers.py
  requirements/automated-code-tests.txt
  requirements/requirements.txt
Labels: Availability, Refactoring, Status: in progress

#261 Clarification of code of conduct
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  vision_statement.md
Labels: Documentation, Needs coord committee approval

#395 Rename collision rates
  docs/transport/index.rst
  plasmapy/physics/parameters.py
  plasmapy/physics/parameters_cython.c
  plasmapy/physics/tests/test_parameters.py
  plasmapy/physics/tests/test_parameters_cython.py
  plasmapy/physics/transport/__init__.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
  plasmapy/physics/transport/tests/test_collisions.py
  plasmapy/utils/checks.py
  plasmapy/utils/tests/test_checks.py
Labels: TRANSPORT TASK FORCE

#405 Update docs about PlasmaPy prior to 0.1.0 release
  CHANGE_LOG.rst
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  RELEASE_NOTES.rst
  docs/CODE_OF_CONDUCT.rst
  docs/CONTRIBUTING.rst
  docs/about/change_log.rst
  docs/about/credits.rst
  docs/about/release_notes.rst
  docs/about/stability.rst
  docs/about/vision_statement.rst
  docs/atomic/decorators.rst
  docs/atomic/index.rst
  docs/atomic/particle_class.rst
  docs/constants/index.rst
  docs/development/code_guide.rst
  docs/development/index.rst
  docs/diagnostics/index.rst
  docs/index.rst
  docs/mathematics/index.rst
  docs/physics/index.rst
  docs/plasma/index.rst
  docs/transport/index.rst
  docs/utils/index.rst
  licenses/imposter_syndrome_disclaimer_LICENSE.rst
  plasmapy/constants/__init__.py
  vision_statement.md
Labels: Documentation, Status: in progress

#383 Put logo into documentation index
  .circleci/config.yml
  docs/_static/graphic-circular.png
  docs/_static/graphic-square-flat.png
  docs/_static/graphic-square.png
  docs/_static/graphic.png
  docs/_static/logo.svg
  docs/_static/showcase.png
  docs/_static/with-text-dark.png
  docs/_static/with-text-light.png
  docs/about/index.rst
  docs/atomic/decorators.rst
  docs/atomic/functional.rst
  docs/atomic/particle_class.rst
  docs/conf.py
  docs/development/code_guide.rst
  docs/development/index.rst
  docs/diagnostics/index.rst
  docs/index.rst
  docs/mathematics/index.rst
  docs/physics/dielectric.rst
  docs/physics/dimensionless.rst
  docs/physics/distribution.rst
  docs/physics/index.rst
  docs/physics/parameters.rst
  docs/physics/quantum.rst
  docs/physics/relativity.rst
  docs/plasma/index.rst
  docs/species/index.rst
  docs/transport/index.rst
  docs/utils/index.rst
  plasmapy/atomic/atomic.py
  plasmapy/atomic/nuclear.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/particle_input.py
  plasmapy/atomic/symbols.py
  plasmapy/classes/plasma.py
  plasmapy/classes/species.py
  plasmapy/diagnostics/__init__.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/mathematics/__init__.py
  plasmapy/physics/__init__.py
  plasmapy/physics/dielectric.py
  plasmapy/physics/dimensionless.py
  plasmapy/physics/distribution.py
  plasmapy/physics/parameters.py
  plasmapy/physics/quantum.py
  plasmapy/physics/relativity.py
  plasmapy/physics/tests/test_quantum.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
  plasmapy/utils/checks.py
Labels: Documentation

#412 Add favicon to docs
  docs/_static/icon.ico
  docs/conf.py
Labels: Documentation, Help wanted

#399 [WIP] Adding narrative docs for transport modules
  docs/physics/parameters.rst
  docs/transport/braginskii.rst
  docs/transport/collisions.rst
  docs/transport/index.rst
  plasmapy/examples/plot_braginskii.py
  plasmapy/physics/transport/braginskii.py
  plasmapy/physics/transport/collisions.py
Labels: Documentation, Transport
