Repository PlasmaPy/PlasmaPy, pull requests merged in 2018-10, with the labels that each got.

#545 Update pull request template on GitHub
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#549 Style and naming fixes in atomic subpackage
  plasmapy/atomic/atomic.py
  plasmapy/atomic/nuclear.py
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/symbols.py
  plasmapy/atomic/tests/test_atomic.py
  plasmapy/atomic/tests/test_nuclear.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic

#542 Update test documentation
  .gitignore
  docs/CONTRIBUTING.rst
  docs/development/testing_guide.rst
Labels: Documentation, Status: ready for review, Testing

#540 Namedtuples for dielectric
  plasmapy/physics/dielectric.py
  plasmapy/physics/tests/test_dielectric.py
Labels: Transport

#563 Update list of PlasmaPy contributors in docs
  .github/PULL_REQUEST_TEMPLATE.md
  docs/about/credits.rst
Labels: Availability, Documentation

#404 Create classes to represent ionization state distributions
  .coveragerc
  plasmapy/atomic/__init__.py
  plasmapy/atomic/atomic.py
  plasmapy/atomic/ionization_state.py
  plasmapy/atomic/ionization_states.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/particle_input.py
  plasmapy/atomic/tests/test_ionization_state.py
  plasmapy/atomic/tests/test_ionization_states.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic, Enhancement, Status: transport PR incident

#568 Update inertial_length
  plasmapy/physics/parameters.py
  plasmapy/physics/tests/test_parameters.py
Labels: Documentation, Physics
