Repository PlasmaPy/PlasmaPy, pull requests merged in 2018-02, with the labels that each got.

#265 Particle.reduced_mass() as a module level function
  plasmapy/atomic/classes.py
Labels: Atomic

#242 Create @particle_input decorator for Particle class
  .coveragerc
  plasmapy/atomic/__init__.py
  plasmapy/atomic/atomic.py
  plasmapy/atomic/classes.py
  plasmapy/atomic/elements.py
  plasmapy/atomic/isotopes.py
  plasmapy/atomic/names.py
  plasmapy/atomic/nuclear.py
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/particle_input.py
  plasmapy/atomic/special_particles.py
  plasmapy/atomic/symbols.py
  plasmapy/atomic/tests/test_atomic.py
  plasmapy/atomic/tests/test_nuclear.py
  plasmapy/atomic/tests/test_parsing.py
  plasmapy/atomic/tests/test_particle_class.py
  plasmapy/atomic/tests/test_particle_input.py
  plasmapy/atomic/tests/test_special_particles.py
  plasmapy/physics/parameters.py
Labels: Atomic, Enhancement, Programming, Ready for review, Refactoring

#272 Customize pycodestyle, pydocstyle, and pep8speaks
  .pep8speaks.yml
  docs/development/code_guide.rst
  docs/development/doc_guide.rst
  docs/development/testing_guide.rst
  setup.cfg
Labels: Documentation, Testing

#275 Improve docstrings and readability of the atomic subpackage
  plasmapy/atomic/atomic.py
  plasmapy/atomic/elements.py
  plasmapy/atomic/isotopes.py
  plasmapy/atomic/nuclear.py
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/particle_input.py
  plasmapy/atomic/special_particles.py
  plasmapy/atomic/symbols.py
  plasmapy/atomic/tests/__init__.py
  plasmapy/atomic/tests/test_nuclear.py
  plasmapy/atomic/tests/test_particle_class.py
  plasmapy/atomic/tests/test_particle_input.py
  setup.py
Labels: Atomic, Constants/physical data, Documentation, Refactoring

#281 Particle class code review fixes
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/tests/test_particle_class.py
Labels: Atomic, Refactoring
