Repository PlasmaPy/PlasmaPy, pull requests merged in 2019-05, with the labels that each got.

#619 Presevering function hints when decorated by `check_quantity` and `check_relativistic`
  plasmapy/atomic/particle_input.py
  plasmapy/utils/checks.py
Labels: Refactoring

#484 [WIP] Particle drifts
  plasmapy/physics/drifts.py
  plasmapy/physics/tests/test_drifts.py
Labels: Feature, Physics, Status: ready for review

#623 Langmuir example improvement
  plasmapy/diagnostics/langmuir.py
  plasmapy/examples/plot_langmuir_analysis.py
Labels: Refactoring

#627 Delete development roadmap
  ROADMAP.md
Labels: Documentation

#628 Add file with metadata for Zenodo upload
  .zenodo.json
Labels: Availability

#629 Metadata updates prior to version 0.2.0
  CITATION.rst
  INSTALL.md
  docs/about/citation.rst
  plasmapy/__init__.py
  setup.cfg
Labels: Availability

#626 Improve feedbackability
  README.md
  docs/COMMUNICATION.rst
  docs/CONTRIBUTING.rst
  docs/index.rst
Labels: Documentation

#631 Update change log for release of version 0.2.0
  docs/about/change_log.rst
Labels: Documentation
