Repository PlasmaPy/PlasmaPy, pull requests merged in 2019-12, with the labels that each got.

#648 Create validate decorators ("validators")
  changelog/648.feature.rst
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_relativity.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/utils/decorators/__init__.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/exceptions.py
Labels: Refactoring, Status: ready for review, Utilities

#722 Replace `check_quantity` with `validate_quantities
  changelog/722.breaking.rst
  docs/formulary/index.rst
  docs/utils/index.rst
  plasmapy/atomic/ionization_state.py
  plasmapy/atomic/ionization_states.py
  plasmapy/atomic/tests/test_ionization_state.py
  plasmapy/classes/sources/tests/test_plasmablob.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/drifts.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_drifts.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/utils/__init__.py
  plasmapy/utils/decorators/__init__.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/converter.py
  plasmapy/utils/decorators/tests/test_checks.py
Labels: Effort: medium, Formulary, Priority: medium, Refactoring, Status: in progress

#729 Add docstring to converter.py
  changelog/729.doc.rst
  plasmapy/utils/decorators/converter.py
Labels: Documentation, Effort: low, Refactoring, Status: in progress

#731 Use `...` in doctests to avoid floating point errors
  changelog/731.trivial.rst
  docs/development/testing_guide.rst
  plasmapy/atomic/particle_class.py
  plasmapy/atomic/tests/test_atomic.py
  plasmapy/atomic/tests/test_particle_class.py
  plasmapy/classes/sources/plasmablob.py
  plasmapy/classes/sources/tests/test_plasmablob.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/dispersionfunction.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/drifts.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_dispersion.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/formulary/tests/test_relativity.py
  plasmapy/formulary/tests/test_transport.py
Labels: Documentation, Testing
