Repository PlasmaPy/PlasmaPy, pull requests merged in 2019-01, with the labels that each got.

#592 Update PlasmaPy copyright for 2019
  LICENSE.md
  docs/conf.py
Labels: Documentation

#600 Fix Pytest deprecation errors
  plasmapy/classes/tests/test_Species.py
  plasmapy/diagnostics/tests/test_langmuir.py
Labels: Status: ready for review, Testing

#597 Make README more beautiful by adding logo
  README.md
Labels: Documentation, Status: ready for review
