Repository PlasmaPy/PlasmaPy, pull requests merged in 2019-11, with the labels that each got.

#715 Update communication channels
  README.md
  changelog/715.trivial.rst
  docs/COMMUNICATION.rst
Labels: Documentation

#718 Clean up main namespace
  changelog/718.trivial.rst
  plasmapy/__init__.py
  plasmapy/_base_init.py
  plasmapy/import_helpers.py
  plasmapy/tests/coveragerc
  plasmapy/version.py
Labels: Status: ready for review

#712 Repository housekeeping varia, python 3.8 tests
  azure-pipelines.yml
  azure-templates.yml
  changelog/712.trivial.rst
  docs/development/release_guide.rst
  docs/install.rst
  plasmapy/atomic/atomic.py
  plasmapy/atomic/nuclear.py
  plasmapy/formulary/parameters.py
  requirements/automated-documentation-tests.txt
  requirements/requirements.txt
  setup.cfg
  tox.ini
Labels: Testing

#724 Reformat 'requirements/requirements.txt'
  requirements/requirements.txt
Labels: Refactoring, Status: ready for review
