Repository PlasmaPy/PlasmaPy, pull requests merged in 2019-09, with the labels that each got.

#667 Remove pytest filters for Coupling/RelatityWarning
  plasmapy/classes/sources/tests/test_plasmablob.py
  plasmapy/transport/tests/test_collisions.py
  plasmapy/transport/tests/test_transport.py
  plasmapy/utils/pytest_helpers.py
  setup.cfg
Labels: Status: ready for review

#671 Remove lingering astropy-helpers references
  .coveragerc
  MANIFEST.in
  docs/development/release_guide.rst
  docs/development/testing_guide.rst
  setup.cfg
Labels: Availability, Documentation

#674 Move pytest helpers to subdirectory of utils
  changelog/674.breaking.rst
  docs/development/testing_guide.rst
  plasmapy/atomic/parsing.py
  plasmapy/atomic/tests/test_atomic.py
  plasmapy/atomic/tests/test_ionization_state.py
  plasmapy/atomic/tests/test_ionization_states.py
  plasmapy/atomic/tests/test_nuclear.py
  plasmapy/atomic/tests/test_parsing.py
  plasmapy/atomic/tests/test_particle_class.py
  plasmapy/classes/sources/openpmd_hdf5.py
  plasmapy/classes/sources/plasma3d.py
  plasmapy/classes/sources/plasmablob.py
  plasmapy/mathematics/tests/test_dispersion.py
  plasmapy/physics/__init__.py
  plasmapy/physics/tests/test_distribution.py
  plasmapy/physics/tests/test_parameters.py
  plasmapy/utils/__init__.py
  plasmapy/utils/pytest_helpers/__init__.py
  plasmapy/utils/pytest_helpers/error_messages.py
  plasmapy/utils/pytest_helpers/exceptions.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/pytest_helpers/tests/__init__.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/tests/test_exceptions.py
Labels: Changes existing API, Documentation, Status: ready for review, Testing

#676 Creating a Codemeta JSON file
  changelog/676.trivial.rst
  codemeta.json
  docs/development/release_guide.rst
Labels: Availability, Needs change log entry, Status: nearing completion

#683 Guidelines for supporting old versions of Python, NumPy, and Astropy
  docs/development/release_guide.rst
Labels: Availability, Documentation, Status: ready for review
