Repository PlasmaPy/PlasmaPy, pull requests merged in 2019-10, with the labels that each got.

#691 Update README.md
  README.md
Labels: Documentation

#688 Update funding acknowledgements to reflect NSF CSSI grant
  CITATION.rst
  README.md
  docs/about/credits.rst
  docs/plasma/index.rst
  plasmapy/__init__.py
Labels: Documentation, Status: ready for review

#693 Finish removal of plasmapy.constants
  plasmapy/constants/__init__.py
Labels: Constants/physical data

#698 Fix note about build_docs
  docs/development/doc_guide.rst
Labels: Documentation

#699 Update test_roman.py
  plasmapy/utils/roman/tests/test_roman.py
Labels: Testing

#702 Modify GitHub issue and PR templates
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: Documentation

#703 Tweaked add__magnetostatics
  changelog/703.feature.rst
  docs/about/credits.rst
  plasmapy/classes/sources/plasma3d.py
Labels: Optimization

#704 Set codecov failure threshold to 0.2%
  .codecov.yaml
Labels: No changelog entry needed, Testing

#705 Turn ClassicalTransport methods into attributes
  changelog/705.breaking.rst
  plasmapy/examples/plot_braginskii.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/tests/test_transport.py
Labels: Changes existing API, Formulary, Transport
