Repository PlasmaPy/PlasmaPy, pull requests merged in 2020-04, with the labels that each got.

#774 Fix definition of __version__
  changelog/774.bugfix.rst
  plasmapy/__init__.py
  requirements/requirements.txt
  setup.cfg
Labels: Bug, Feature request

#780 Fix building of documentaiton using tox
  changelog/780.doc.rst
  docs/conf.py
  plasmapy/simulation/particletracker.py
  requirements/automated-documentation-tests.txt
  setup.cfg
  tox.ini
Labels: Bug, Documentation

#781 Automate document version to match plasmapy.__version__
  changelog/781.doc.rst
  docs/conf.py
Labels: Documentation, Feature request

#753 Abstract simulation class prototypes as excuse to get coffee
  changelog/753.feature.rst
  plasmapy/simulation/__init__.py
  plasmapy/simulation/abstractions.py
Labels: simulations

#784 Update community meeting link & time, add funding, and make minor updates to docs
  LICENSE.md
  README.md
  changelog/784.trivial.rst
  docs/COMMUNICATION.rst
  docs/about/credits.rst
Labels: Documentation

#755 Create abstract and custom classes for particles
  changelog/755.feature.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

#788 Add docstring to plasmapy.formulary.__init__
  changelog/788.doc.rst
  plasmapy/formulary/__init__.py
Labels: Documentation, Formulary

#790 Various administrative cleanups
  .circleci/config.yml
  .pre-commit-config.yaml
  plasmapy/conftest.py
  requirements/environment.yml
  tox.ini
Labels: No changelog entry needed
