Repository PlasmaPy/PlasmaPy, pull requests merged in 2020-12, with the labels that each got.

#956 Pick up astropy's GitHub Actions config
  .github/workflows/linters.yml
  .github/workflows/testing.yml
  tox.ini
Labels: No changelog entry needed

#957 Patch mass_density() & update Alfven_speed()
  changelog/957.breaking.rst
  changelog/957.bugfix.rst
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary

#909 Grids
  changelog/909.feature.rst
  docs/api_static/plasmapy.plasma.grids.rst
  docs/conf.py
  docs/plasma/index.rst
  plasmapy/plasma/__init__.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
  setup.cfg
Labels: Plasma class

#796 Update classes & docs for ionization states and fix docstring formatting in plasmapy.particles
  changelog/796.breaking.rst
  changelog/796.doc.rst
  docs/api_static/plasmapy.particles.ionization_state_collection.rst
  docs/api_static/plasmapy.particles.ionization_states.rst
  docs/particles/decorators.rst
  docs/particles/functional.rst
  docs/particles/index.rst
  docs/particles/ionization_states.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/exceptions.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/parsing.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/symbols.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Documentation, Particles

#959 Patch root_solve() of fit function Linear()
  changelog/959.bugfix.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/tests/test_fit_functions.py
Labels: Refactoring

#942 Update documentation for particles and utils subpackages
  changelog/942.doc.rst
  docs/particles/decorators.rst
  docs/particles/functional.rst
  docs/particles/nuclear.rst
  docs/particles/particle_class.rst
  docs/utils/index.rst
  plasmapy/particles/__init__.py
Labels: Documentation, Particles

#934 Added more description to hall_parameter signature in parameters.py
  changelog/934.doc.rst
  plasmapy/formulary/parameters.py
Labels: Formulary

#967 Replace mentions of Discourse with Github Discussions
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  README.md
  codemeta.json
  docs/COMMUNICATION.rst
Labels: Documentation, No changelog entry needed, Refactoring

#969 Replace last Riot chat links with Element
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
Labels: No changelog entry needed, Refactoring

#970 Update copyright year to 2021
  LICENSE.md
Labels: Availability, No changelog entry needed, Priority: critical
