Repository PlasmaPy/PlasmaPy, pull requests merged in 2020-02, with the labels that each got.

#751 Remove mutable arguments from `Particle.is_category` method
  changelog/751.trivial.rst
  plasmapy/atomic/particle_class.py
Labels: Atomic

#754 Remove mutable default arguments
  changelog/754.trivial.rst
  plasmapy/atomic/parsing.py
  plasmapy/atomic/particle_input.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/utils/datatype_factory_base.py
Labels: Refactoring

#742 Rename plasmapy.atomic to plasmapy.particles
  changelog/742.breaking.rst
  docs/about/stability.rst
  docs/development/testing_guide.rst
  docs/index.rst
  docs/particles/decorators.rst
  docs/particles/functional.rst
  docs/particles/index.rst
  docs/particles/nuclear.rst
  docs/particles/particle_class.rst
  plasmapy/__init__.py
  plasmapy/atomic/tests/__init__.py
  plasmapy/classes/sources/plasmablob.py
  plasmapy/classes/sources/tests/test_plasma3d.py
  plasmapy/classes/sources/tests/test_plasmablob.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/examples/plot_braginskii.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/__init__.py
  plasmapy/particles/atomic.py
  plasmapy/particles/elements.py
  plasmapy/particles/exceptions.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_states.py
  plasmapy/particles/isotopes.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/parsing.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_input.py
  plasmapy/particles/special_particles.py
  plasmapy/particles/symbols.py
  plasmapy/particles/tests/__init__.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_ionization_states.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_particle_input.py
  plasmapy/particles/tests/test_special_particles.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
Labels: Atomic, Changes existing API, Documentation, Formulary, Needs change log entry, Refactoring, Transport
