Repository PlasmaPy/PlasmaPy, pull requests merged in 2020-10, with the labels that each got.

#911 Starting an attempt to remove default particle assumptions
  changelog/911.breaking.rst
  docs/about/credits.rst
  docs/notebooks/physics.ipynb
  plasmapy/formulary/collisions.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary, Refactoring

#910 Create plasmapy.dispersion & migrate current functionality
  changelog/910.breaking.rst
  docs/about/credits.rst
  docs/api_static/plasmapy.dispersion.dispersionfunction.rst
  docs/api_static/plasmapy.formulary.rst
  docs/dispersion/index.rst
  docs/formulary/dispersionfunction.rst
  docs/formulary/index.rst
  docs/index.rst
  docs/notebooks/dispersion_function.ipynb
  plasmapy/dispersion/__init__.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/dispersion/tests/test_dispersion.py
  plasmapy/formulary/__init__.py
  plasmapy/formulary/dielectric.py
Labels: Dispersion

#933 Formatting fixes such as for when multiple strings are on one line
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/decorators.py
  plasmapy/particles/parsing.py
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
  plasmapy/simulation/tests/test_particletracker.py
  plasmapy/utils/datatype_factory_base.py
Labels: No changelog entry needed, Refactoring

#919 Test helper refactoring 1: Move test helper exceptions from utils to tests.helpers
  changelog/919.breaking.rst
  changelog/919.feature.rst
  docs/api_static/plasmapy.tests.helpers.exceptions.rst
  docs/api_static/plasmapy.tests.helpers.rst
  docs/api_static/plasmapy.utils.pytest_helpers.exceptions.rst
  plasmapy/tests/__init__.py
  plasmapy/tests/helpers/__init__.py
  plasmapy/tests/helpers/exceptions.py
  plasmapy/tests/helpers/tests/__init__.py
  plasmapy/utils/pytest_helpers/__init__.py
  plasmapy/utils/pytest_helpers/exceptions.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
Labels: Testing, Utilities

#917 Add restructuredtext reference to documentation guide
  docs/about/credits.rst
  docs/development/doc_guide.rst
Labels: No changelog entry needed

#922 Test helper refactoring 3: Add sample functions that will be used for testing forthcoming test helper functionality
  plasmapy/tests/helpers/__init__.py
  plasmapy/tests/helpers/tests/sample_functions.py
Labels: No changelog entry needed, Testing

#943 Decorator @modify_docstring
  changelog/943.feature.rst
  plasmapy/utils/decorators/__init__.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/tests/test_helpers.py
Labels: Utilities

#908 Create plasmapy.analysis sub-pkg & add fit functions as initial functionality
  .coveragerc
  .gitignore
  changelog/908.feature.rst
  docs/ad/ad_attention.inc
  docs/ad/analysis/index.rst
  docs/ad/diagnostics/index.rst
  docs/ad/diagnostics/langmuir.rst
  docs/ad/diagnostics/thomson.rst
  docs/ad/index.rst
  docs/api_static/plasmapy.analysis.fit_functions.rst
  docs/index.rst
  docs/notebooks/analysis/fit_functions.ipynb
  plasmapy/analysis/__init__.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/tests/__init__.py
  plasmapy/analysis/tests/test_fit_functions.py
Labels: Diagnostics, Documentation

#947 Fit Function documentation patch
  docs/notebooks/analysis/fit_functions.ipynb
Labels: Documentation, No changelog entry needed
