Repository PlasmaPy/PlasmaPy, pull requests merged in 2020-07, with the labels that each got.

#860 Saha
  changelog/860.feature.rst
  docs/formulary/index.rst
  docs/formulary/ionization.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/ionization.py
  plasmapy/formulary/tests/test_ionization.py
Labels: Formulary

#865 Added formulary aliases
  changelog/865.feature.rst
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/drifts.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_dimensionless.py
  plasmapy/formulary/tests/test_drifts.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/formulary/tests/test_quantum.py
Labels: Formulary

#867 Improve readability of sub-modules on the Formulary documentation page
  changelog/867.doc.rst
  docs/formulary/index.rst
Labels: Documentation, Formulary

#869 Fix npsphinx-thumbnail for ./docs/notebooks/langmuir_analysis.ipynb
  docs/notebooks/langmuir_analysis.ipynb
Labels: Documentation, No changelog entry needed

#836 Issue #759 Serializing and Deserializing particles
  changelog/836.feature.rst
  docs/about/credits.rst
  docs/particles/index.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/serialization.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

#871 modify conf.py `revision` config value for clean git tag versions
  docs/conf.py
Labels: Documentation, No changelog entry needed

#875 Various improvements/updates to the documentation
  changelog/875.doc.rst
  docs/_static/rtd_theme_overrides.css
  docs/_static/with-text-light-190px.png
  docs/_templates/breadcrumbs.html
  docs/_templates/footer.html
  docs/_templates/layout.html
  docs/conf.py
  docs/formulary/index.rst
  docs/index.rst
Labels: Documentation

#876 Drop pdf and epub form RTD doc build
  .readthedocs.yml
  plasmapy/formulary/distribution.py
Labels: Documentation, No changelog entry needed

#877 Follow up to #875
  docs/_templates/layout.html
Labels: Documentation, No changelog entry needed
