Repository PlasmaPy/PlasmaPy, pull requests merged in 2020-09, with the labels that each got.

#892 Function to calculate the thermal bremsstrahlung spectrum
  changelog/892.feature.rst
  docs/formulary/index.rst
  docs/formulary/radiation.rst
  docs/notebooks/thermal_bremsstrahlung.ipynb
  plasmapy/formulary/radiation.py
  plasmapy/formulary/tests/test_radiation.py
Labels: Formulary, Status: ready for review

#893 Thomson Scattering Multiple Electron Populations (and a bug fix)
  changelog/893.feature.rst
  docs/notebooks/thomson.ipynb
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
Labels: Bug, Changes existing API, Diagnostics, Status: nearing completion

#898 [RTD build repair] set dependency pygments >= 2.4.1
  changelog/898.feature.rst
  requirements/automated-documentation-tests.txt
  requirements/environment.yml
  setup.cfg
Labels: Documentation

#899 Update contributor list and coordinating committee members
  docs/about/credits.rst
Labels: Documentation, No changelog entry needed

#894 Remove xdist from minimal-conda test
  azure-pipelines.yml
  tox.ini
Labels: No changelog entry needed

#900 Update citation recommendations and release guide
  CITATION.rst
  README.md
  changelog/900.doc.rst
  docs/about/citation.rst
  docs/development/release_guide.rst
  plasmapy/__init__.py
Labels: Availability, Documentation

#902 Update codemeta.json for version 0.4.0 and related release guide instructions
  .zenodo.json
  changelog/902.trivial.rst
  codemeta.json
  docs/development/release_guide.rst
  setup.cfg
Labels: Availability
