Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-05, with the labels that each got.

#1127 Enable flake8 checks
  changelog/1116.trivial.rst
  docs/about/credits.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/dispersion/two_fluid_dispersion.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  setup.cfg
Labels: Diagnostics, Documentation, Particles, Plasma class, Utilities

#1128 Minor CI refactor
  .github/workflows/linters.yml
  .github/workflows/testing.yml
  setup.cfg
  tox.ini
Labels: No changelog entry needed

#1122 Pickleable particles
  changelog/1122.bugfix.rst
  plasmapy/particles/elements.py
  plasmapy/particles/tests/test_pickling.py
Labels: Particles

#1125 `hypothesis` tests; numba-based fixes for `Chandrasekhar_G`
  changelog/1125.bugfix.rst
  changelog/1125.trivial.rst
  conftest.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/tests/test_Chandrasekhar_G.py
  requirements/environment.yml
  requirements/extras.txt
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Formulary, Mathematics

#1141 CI fixes
  docs/conf.py
  requirements/docs.txt
  setup.cfg
Labels: Documentation, No changelog entry needed

#1142 Changes for sphinx 4
  plasmapy/formulary/parameters.py
  requirements/docs.txt
  setup.cfg
Labels: Formulary, No changelog entry needed

#1136 Rename integer charge to charge number
  changelog/1136.doc.rst
  changelog/1136.feature.rst
  changelog/1136.removal.rst
  docs/api_static/plasmapy.utils.decorators.deprecation.rst
  docs/development/testing_guide.rst
  docs/notebooks/dispersion/two_fluid_dispersion.ipynb
  docs/particles/decorators.rst
  docs/particles/functional.rst
  docs/particles/ionization_states.rst
  docs/particles/particle_class.rst
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/two_fluid_dispersion.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/radiation.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/__init__.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/parsing.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/special_particles.py
  plasmapy/particles/symbols.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_particle_collections.py
  plasmapy/particles/tests/test_special_particles.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/__init__.py
  plasmapy/utils/decorators/__init__.py
  plasmapy/utils/decorators/deprecation.py
  plasmapy/utils/decorators/tests/test_deprecation.py
  plasmapy/utils/exceptions.py
Labels: Diagnostics, Formulary, Notebooks, Particles, Utilities

#1130 Changes to particles from neoclassics
  changelog/1130.feature.rst
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
Labels: Particles

#1144 Refactor `plasmapy_sphinx`
  docs/_static/rtd_theme_overrides.css
  docs/api_static/plasmapy_sphinx.autodoc.automodapi.rst
  docs/api_static/plasmapy_sphinx.autodoc.rst
  docs/api_static/plasmapy_sphinx.automodapi.rst
  docs/api_static/plasmapy_sphinx.automodsumm.core.rst
  docs/api_static/plasmapy_sphinx.automodsumm.generate.rst
  docs/api_static/plasmapy_sphinx.automodsumm.rst
  docs/api_static/plasmapy_sphinx.directives.confval.rst
  docs/api_static/plasmapy_sphinx.directives.event.rst
  docs/api_static/plasmapy_sphinx.directives.rst
  docs/api_static/plasmapy_sphinx.extras.rst
  docs/api_static/plasmapy_sphinx.generate.rst
  docs/api_static/plasmapy_sphinx.rst
  docs/conf.py
  docs/plasmapy_sphinx/__init__.py
  docs/plasmapy_sphinx/autodoc/__init__.py
  docs/plasmapy_sphinx/autodoc/automodapi.py
  docs/plasmapy_sphinx/automodsumm/__init__.py
  docs/plasmapy_sphinx/automodsumm/core.py
  docs/plasmapy_sphinx/automodsumm/generate.py
  docs/plasmapy_sphinx/directives/__init__.py
  docs/plasmapy_sphinx/directives/confval.py
  docs/plasmapy_sphinx/directives/event.py
  docs/plasmapy_sphinx/extras.py
  docs/plasmapy_sphinx/templates/automodapi/module.rst
  docs/plasmapy_sphinx/templates/automodsumm/base.rst
  docs/plasmapy_sphinx/templates/automodsumm/class.rst
  docs/plasmapy_sphinx/templates/automodsumm/module.rst
  docs/plasmapy_sphinx/utils.py
Labels: Documentation, No changelog entry needed

#1073 Improve consistency and ReST formatting in documentation
  changelog/1073.doc.rst
  docs/particles/ionization_states.rst
  docs/plasmapy_sphinx/directives/confval.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/symbols.py
  plasmapy/plasma/grids.py
  plasmapy/simulation/abstractions.py
  plasmapy/simulation/particle_integrators.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/exceptions.py
  plasmapy/utils/roman.py
Labels: Documentation, PDD, Particles, Plasma class, Utilities

#1146 Remove deprecated Particle.particle
  changelog/1146.removal.rst
  plasmapy/particles/particle_class.py
Labels: Particles

#1151 Added notebook to environment.yml
  docs/about/credits.rst
  requirements/environment.yml
Labels: Documentation, No changelog entry needed

#1155 Add project links to PyPI page
  setup.cfg
Labels: No changelog entry needed

#1147 Set up ReST substitutions for docs
  changelog/1147.doc.rst
  docs/common_links.rst
  docs/conf.py
  docs/development/doc_guide.rst
  docs/development/release_guide.rst
  docs/install.rst
  docs/particles/decorators.rst
  docs/particles/functional.rst
  docs/particles/ionization_states.rst
  docs/particles/nuclear.rst
  docs/particles/particle_class.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  setup.cfg
Labels: Documentation, Particles

#1150 Change code & docs to reflect a default branch named main
  CHANGELOG.rst
  README.md
  changelog/1150.doc.rst
  docs/about/vision_statement.rst
  docs/conf.py
  docs/development/code_guide.rst
  docs/development/doc_guide.rst
  docs/development/release_guide.rst
  docs/notebooks/langmuir_samples/_generate_noisy.ipynb
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.5.0.rst
  licenses/PlasmaPy_LICENSE_preOct2017.md
  plasmapy/plasma/plasma_base.py
  pyproject.toml
  tox.ini
Labels: Notebooks, Plasma class
