Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-06, with the labels that each got.

#1171 Input ion velocity in thomson notebook
  changelog/1171.trivial.rst
  docs/notebooks/diagnostics/thomson.ipynb
Labels: Notebooks

#1178 Start a documentation page for workflow documentation
  changelog/1178.doc.rst
  docs/development/index.rst
  docs/development/workflow.rst
Labels: Documentation

#1180 Add physics info the upper-hybrid resonance docstring
  changelog/1180.doc.rst
  docs/about/credits.rst
  plasmapy/formulary/parameters.py
Labels: Documentation, Formulary

#1181 Add some physics into about lower-hybrid frequency
  changelog/1181.doc.rst
  plasmapy/formulary/parameters.py
Labels: Formulary
