Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-03, with the labels that each got.

#1052 Add live rendering of /changelog entries
  changelog/1052.doc.rst
  docs/conf.py
  docs/whatsnew/0.6.0.rst
  docs/whatsnew/index.rst
  requirements/automated-documentation-tests.txt
  setup.cfg
Labels: Documentation, PDD

#1049 Proton radiography with mesh grids
  changelog/1049.feature.rst
  docs/ad/diagnostics/proton_radiography.rst
  docs/notebooks/proton_radiography_particle_tracing_wire_mesh.ipynb
  plasmapy/diagnostics/proton_radiography.py
  plasmapy/diagnostics/tests/test_proton_radiography.py
Labels: Diagnostics

#1060 Put back import of __version__ from plasmapy in conf.py
  docs/conf.py
Labels: Documentation, No changelog entry needed

#1064 Minor docstring fixes in particles
  changelog/1064.doc.rst
  plasmapy/particles/atomic.py
  plasmapy/particles/elements.py
  plasmapy/particles/exceptions.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/isotopes.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/parsing.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_particle_class.py
  setup.cfg
Labels: Documentation, PDD, Particles

#1058 Minor docstring fixes in formulary
  changelog/1058.doc.rst
  docs/notebooks/thermal_bremsstrahlung.ipynb
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/drifts.py
  plasmapy/formulary/ionization.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/radiation.py
  plasmapy/formulary/relativity.py
Labels: Documentation, Formulary

#1046 IonicFraction refactor
  changelog/1046.breaking.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_pickling.py
Labels: Particles, Refactoring

#1054 Example notebook for proton radiography custom source capability
  changelog/1054.doc.rst
  changelog/1054.feature.rst
  docs/ad/diagnostics/proton_radiography.rst
  docs/notebooks/proton_radiography_particle_tracing.ipynb
  docs/notebooks/proton_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/proton_radiography_particle_tracing_wire_mesh.ipynb
  docs/notebooks/proton_radiography_source_profile_setup_graphic.png
  plasmapy/diagnostics/proton_radiography.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/tests/test_mathematics.py
Labels: Diagnostics, Documentation

#1065 add proton radiography introduction notebook to front page of docs
  docs/index.rst
Labels: No changelog entry needed

#1066 Organize notebooks on the RTD examples page
  changelog/1066.doc.rst
  docs/ad/diagnostics/langmuir.rst
  docs/ad/diagnostics/proton_radiography.rst
  docs/ad/diagnostics/thomson.rst
  docs/conf.py
  docs/examples.rst
  docs/formulary/distribution.rst
  docs/formulary/parameters.rst
  docs/formulary/radiation.rst
  docs/index.rst
  docs/notebooks/ExB_drift.ipynb
  docs/notebooks/diagnostics/langmuir_analysis.ipynb
  docs/notebooks/diagnostics/proton_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/proton_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/diagnostics/proton_radiography_particle_tracing_wire_mesh.ipynb
  docs/notebooks/diagnostics/proton_radiography_setup_graphic.png
  docs/notebooks/diagnostics/proton_radiography_source_profile_setup_graphic.png
  docs/notebooks/diagnostics/thomson.ipynb
  docs/notebooks/formulary/braginskii.ipynb
  docs/notebooks/formulary/thermal_bremsstrahlung.ipynb
  docs/notebooks/formulary/thermal_speed.ipynb
  docs/notebooks/simulation/particle_stepper.ipynb
  docs/simulation/particletracker.rst
  plasmapy/formulary/braginskii.py
  plasmapy/simulation/particletracker.py
Labels: Documentation

#1072 Made `is_uniform` a documented public attribute of AbstractGrid (closes #1071)
  changelog/1072.feature.rst
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Labels: Refactoring

#1070 Review changelog for v0.6.0 release
  changelog/1017.feature.1.rst
  changelog/1017.feature.2.rst
  changelog/1027.breaking.rst
  changelog/1027.bugfix.rst
  changelog/1027.feature.rst
  changelog/1035.bugfix.1.rst
  changelog/1035.bugfix.2.rst
  changelog/1035.bugfix.3.rst
  changelog/1035.bugfix.rst
  changelog/1039.doc.rst
  changelog/1041.doc.rst
  changelog/1046.breaking.rst
  changelog/1049.feature.rst
  changelog/796.breaking.1.rst
  changelog/796.breaking.2.rst
  changelog/796.breaking.3.rst
  changelog/796.breaking.4.rst
  changelog/796.breaking.rst
  changelog/909.feature.rst
  changelog/942.doc.rst
  changelog/953.bugfix.rst
  changelog/953.feature.rst
  changelog/962.breaking.rst
  changelog/962.doc.rst
  changelog/963.breaking.rst
  changelog/963.doc.rst
  changelog/963.feature.1.rst
  changelog/963.feature.2.rst
  changelog/963.feature.rst
  changelog/966.feature.rst
  changelog/971.doc.rst
  changelog/981.breaking.1.rst
  changelog/981.breaking.2.rst
  changelog/981.breaking.rst
  changelog/981.feature.1.rst
  changelog/981.feature.2.rst
  changelog/981.feature.3.rst
  changelog/997.trivial.rst
Labels: Documentation, No changelog entry needed

#1080 Add github action to automatically label PRs
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: No changelog entry needed

#1081 Add feature freeze and code freeze to timeline
  changelog/1081.doc.rst
  docs/development/release_guide.rst
Labels: Documentation

#1082 First draft of CODEOWNERS file
  CODEOWNERS
Labels: No changelog entry needed

#1083 Various administrative cleanups
  .gitignore
  Dockerfile.documentation
  binder/requirements.txt
  docs/whatsnew/0.7.0.rst
  docs/whatsnew/index.rst
  plasmapy/particles/ionization_state_collection.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
  plasmapy/utils/tests/test_roman.py
  setup.cfg
Labels: Documentation, No changelog entry needed, Particles, Plasma class, Utilities

#1088 Trying to fix very minor error in ExB_drift.ipynb
  changelog/1088.trivial.rst
  docs/notebooks/ExB_drift.ipynb
Labels: Documentation
