Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-09, with the labels that each got.

#1114 Index page updates
  docs/index.rst
Labels: Documentation, No changelog entry needed

#1258 Test development version of Astropy with Python 3.8
  .github/workflows/testing.yml
Labels: Testing, No changelog entry needed

#1257 Fix some broken and redirected links
  changelog/1257.doc.rst
  docs/CODE_OF_CONDUCT.rst
  docs/COMMUNICATION.rst
  docs/about/citation.rst
  docs/about/credits.rst
  docs/about/vision_statement.rst
  docs/common_links.rst
  docs/development/code_guide.rst
  docs/development/install_dev.rst
  docs/development/release_guide.rst
  docs/index.rst
  docs/install.rst
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.2.0.rst
  docs/whatsnew/0.3.0.rst
  plasmapy/formulary/collisions.py
  plasmapy/particles/elements.py
  plasmapy/plasma/sources/openpmd_hdf5.py
Labels: Particles, Documentation, Plasma class, Formulary

#1163 Update the testing guide within the development guide
  changelog/1163.doc.rst
  docs/_static/contributor_guide/CI_checks_for_a_PR_from_2021.png
  docs/common_links.rst
  docs/conf.py
  docs/development/code_guide.rst
  docs/development/doc_guide.rst
  docs/development/testing_guide.rst
  docs/glossary.rst
  docs/index.rst
  plasmapy/conftest.py
Labels: Documentation, PDD

#1268 Adopt a code highlighting style with higher contrast
  changelog/1268.doc.rst
  docs/conf.py
Labels: Documentation, Status: ready for review, Accessibility

#1272 Update communication page in docs
  changelog/1272.doc.rst
  docs/COMMUNICATION.rst
  docs/common_links.rst
Labels: Documentation, Status: ready for review

#1267 Fix hyperlinks and define redirects & anchors to avoid checking
  changelog/1267.doc.rst
  changelog/1267.trivial.rst
  docs/CODE_OF_CONDUCT.rst
  docs/CONTRIBUTING.rst
  docs/about/vision_statement.rst
  docs/common_links.rst
  docs/conf.py
  docs/development/code_guide.rst
  docs/development/doc_guide.rst
  docs/development/install_dev.rst
  docs/development/release_guide.rst
  docs/development/testing_guide.rst
  docs/install.rst
  docs/particles/index.rst
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.6.0.rst
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/mathematics.py
Labels: Documentation, Mathematics, Status: ready for review, Formulary, Testing

#1273 Create GitHub Action for tests that run on a schedule
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  tox.ini
Labels: Testing, No changelog entry needed, Continuous Integration

#1278 Fix inconsistency in xarray cron tests and update README badges
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  README.md
Labels: Testing, No changelog entry needed, Continuous Integration, github_actions

#1280 Add security analysis linter
  changelog/1280.trivial.1.rst
  changelog/1280.trivial.2.rst
  plasmapy/particles/ionization_state_collection.py
  tox.ini
Labels: Particles

#1281 Add linter to enforce usage of f-strings
  changelog/1281.trivial.1.rst
  changelog/1281.trivial.2.rst
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/radiation.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/roman.py
  setup.cfg
  tox.ini
Labels: Particles, Status: ready for review, Formulary, Testing, Utilities, Continuous Integration

#1283 Use flake8 checker for absolute imports and remove unused imports
  changelog/1283.trivial.1.rst
  changelog/1283.trivial.2.rst
  plasmapy/analysis/swept_langmuir/__init__.py
  plasmapy/formulary/__init__.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/tests/test_dimensionless.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/particles/elements.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/symbols.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_pickling.py
  plasmapy/plasma/__init__.py
  plasmapy/plasma/sources/__init__.py
  plasmapy/plasma/sources/tests/test_plasma3d.py
  plasmapy/simulation/particle_integrators.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/decorators/tests/test_validators.py
  tox.ini
Labels: Particles, Plasma class, Mathematics, Formulary, Utilities

#1284 Add and apply pre-commit hooks for `.ini`, `.toml`, and `.yaml` files
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/labeler.yml
  .github/workflows/stale.yml
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  .pre-commit-config.yaml
  .readthedocs.yml
  changelog/1284.trivial.rst
  pyproject.toml
  requirements/environment.yml
  tox.ini
Labels: Continuous Integration

#1275 Specify minimum version of sphinx_rtd_theme to allow most recent release of docutils
  changelog/1275.doc.rst
  requirements/docs.txt
  requirements/environment.yml
  setup.cfg
Labels: Status: ready for review, Availability
