Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-07, with the labels that each got.

#1183 Make gyrofrequency more general (not just ions)
  changelog/1183.doc.rst
  plasmapy/formulary/parameters.py
Labels: Formulary

#1187 change behaviour of gyroradius when arguments are nan
  changelog/1187.feature.rst
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary

#1190 Normalize wavevector in thomson.spectral_density()
  changelog/1190.bugfix.rst
  docs/about/credits.rst
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics, Documentation

#1195 Add tox and remove pytest from extra requirements
  changelog/1195.trivial.rst
  docs/conf.py
  requirements/extras.txt
  setup.cfg
Labels: Documentation

#1159 Fixing binder bug
  binder/requirements.txt
Labels: No changelog entry needed

#1156 Update the documentation guide within the development guide
  changelog/1156.doc.rst
  changelog/1195.trivial.rst
  docs/about/credits.rst
  docs/common_links.rst
  docs/conf.py
  docs/development/doc_guide.rst
  docs/development/install_dev.rst
  docs/development/testing_guide.rst
  docs/install.rst
  docs/plasmapy_sphinx/__init__.py
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.3.0.rst
  docs/whatsnew/0.4.0.rst
Labels: Documentation

#1209 Disallow v0.17 of docutils
  requirements/docs.txt
  setup.cfg
Labels: Documentation, No changelog entry needed

#1210 Use more generalized keyword argument for gyroradius
  changelog/1210.removal.rst
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary

#1205 Update release guide including about binder requirements
  changelog/1205.doc.rst
  docs/development/release_guide.rst
Labels: Documentation

#1207 Fix broken reST links in old changelogs
  changelog/1207.doc.rst
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.1.1.rst
  docs/whatsnew/0.2.0.rst
  docs/whatsnew/0.3.0.rst
  docs/whatsnew/0.4.0.rst
  docs/whatsnew/0.5.0.rst
  docs/whatsnew/0.6.0.rst
Labels: Documentation

#1165 Bump required tqdm down to 4.41.0
  docs/install.rst
  requirements/install.txt
  setup.cfg
  tox.ini
Labels: Documentation, No changelog entry needed

#1216 Make CustomParticle usable as keys in a dict
  changelog/1216.feature.rst
  docs/about/credits.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Documentation, Particles

#1218 Typo in Alfven_speed Docstring
  changelog/1218.doc.rst
  plasmapy/formulary/parameters.py
Labels: Formulary
