Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-12, with the labels that each got.

#1345 Resolving Issue #844, fixing warnings
  changelog/1345.trivial.rst
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
Labels: Particles, Plasma class, Formulary, Diagnostics

#1347 Drop scipy-dev tests for now
  .github/workflows/fortnightly.yml
  tox.ini
Labels: No changelog entry needed, Continuous Integration

#1295 Faster interpolation on 'grid' objects
  changelog/1295.breaking.rst
  changelog/1295.bugfix.rst
  changelog/1295.feature.1.rst
  changelog/1295.feature.2.rst
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class, Breaking

#1353 Enable sphinx-hoverxref for documentation
  changelog/1353.doc.rst
  docs/common_links.rst
  docs/conf.py
  docs/development/doc_guide.rst
  requirements/docs.txt
  requirements/environment.yml
  setup.cfg
Labels: Documentation

#1356 Fix linter errors
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  setup.cfg
Labels: Plasma class, Utilities, No changelog entry needed

#1346 Fixing remaining warnings in issue #844
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles, Formulary, No changelog entry needed

#1095 Greeter bot for new contributors
  .github/workflows/greetings.yml
Labels: No changelog entry needed, Continuous Integration

#1229 Create example notebook that lets users input plasma properties and get plasma parameters
  changelog/1229.doc.rst
  docs/utils/index.rst
  plasmapy/utils/calculator/__init__.py
  plasmapy/utils/calculator/favicon.ico
  plasmapy/utils/calculator/main_interface.py
  plasmapy/utils/calculator/plasma_calculator.ipynb
  plasmapy/utils/calculator/properties_metadata.json
  plasmapy/utils/calculator/widget_helpers.py
  requirements/install.txt
  setup.cfg
Labels: Documentation, Utilities

#1350 Two stages of tests
  .github/workflows/testing.yml
  changelog/1350.trivial.rst
  tox.ini
Labels: Continuous Integration

#1299 BibTeXify references in `plasmapy.formulary`
  changelog/1299.doc.rst
  docs/bibliography.bib
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/drifts.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/quantum.py
Labels: Documentation, Formulary, parameters.quantum

#1158 Add reST substitutions and use them in narrative docs
  changelog/1158.trivial.rst
  docs/CONTRIBUTING.rst
  docs/about/stability.rst
  docs/common_links.rst
  docs/particles/functional.rst
  docs/particles/nuclear.rst
  docs/simulation/particletracker.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/particle_class.py
Labels: Particles, Documentation, Status: on hold

#1359 Discuss module docstrings and `__all__` in documentation guide
  changelog/1359.doc.rst
  docs/development/doc_guide.rst
Labels: Documentation

#1365 Add an interface function that creates physical particle objects
  changelog/1365.trivial.rst
  plasmapy/particles/_factory.py
  plasmapy/particles/tests/test_factory.py
Labels: Particles

#1368 Use extract method refactoring pattern on `Particle.__init__`
  changelog/1368.trivial.rst
  plasmapy/particles/particle_class.py
Labels: Particles

#1360 Create helper function to sort an iterable into a `dict` with `PhysicalType` objects as keys
  changelog/1360.trivial.rst
  plasmapy/utils/tests/test_units_helpers.py
  plasmapy/utils/units_helpers.py
  requirements/environment.yml
  requirements/install.txt
  setup.cfg
  tox.ini
Labels: Utilities

#1373 Describe more `make` environments for doc build in doc guide
  LICENSE.md
  changelog/1373.doc.rst
  docs/development/doc_guide.rst
Labels: Documentation
