Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-04, with the labels that each got.

#1094 Add stale bot for PR
  .github/workflows/stale.yml
Labels: No changelog entry needed

#1102 Adjust labeler bot a bit
  .github/labeler.yml
Labels: Continuous Integration, No changelog entry needed

#1107 Set docutils < 0.17 requirement
  requirements/automated-documentation-tests.txt
  requirements/environment.yml
  setup.cfg
Labels: No changelog entry needed

#1106 Move pre-commit to pre-commit.ci, but disable autofix
  .github/workflows/linters.yml
  .pre-commit-config.yaml
  changelog/1106.trivial.rst
Labels: Continuous Integration

#1108 Add badge to see whether pre-commit.ci works nicely
  README.md
Labels: No changelog entry needed

#1062 Add pydocstyle to CI in the flake8 runner; start fixing flake8 being effectively disabled
  .github/workflows/linters.yml
  changelog/1062.trivial.2.rst
  changelog/1062.trivial.3.rst
  changelog/1062.trivial.rst
  setup.cfg
Labels: Continuous Integration, Testing

#1084 Add Chandrasekhar G function + tests through pytest-regressions
  changelog/1084.feature.rst
  changelog/1084.trivial.rst
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/tests/test_Chandrasekhar_G.py
  plasmapy/formulary/tests/test_Chandrasekhar_G/test_Chandrasekhar_regression.csv
  requirements/environment.yml
  requirements/requirements.txt
  setup.cfg
  tox.ini
Labels: Formulary, Mathematics

#1111 Towncrier >= 19.2.0
  changelog/1062.trivial.1.rst
  requirements/automated-documentation-tests.txt
  requirements/environment.yml
  setup.cfg
Labels: Documentation, No changelog entry needed, Refactoring

#789 Consolidate requirements and repository configuration
  .gitmodules
  .readthedocs.yml
  changelog/789.trivial.rst
  plasmapy/diagnostics/langmuir.py
  plasmapy/optional_deps.py
  pyproject.toml
  requirements.txt
  requirements/build.txt
  requirements/docs.txt
  requirements/environment.txt
  requirements/extras.txt
  requirements/install.txt
  requirements/requirements.txt
  requirements/tests.txt
  setup.cfg
  setup.py
  tox.ini
Labels: Diagnostics, Optimization, Refactoring
