Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-02, with the labels that each got.

#999 Add can_be_zero option to CheckValues
  changelog/999.feature.rst
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/decorators/validators.py
Labels: Utilities

#961 Update development guide
  docs/development/code_guide.rst
  docs/development/doc_guide.rst
  docs/development/release_guide.rst
Labels: Documentation, No changelog entry needed

#1004 Bring back code coverage
  .github/workflows/pre-commit.yml
  tox.ini
Labels: No changelog entry needed

#981 Grids (part 3)
  changelog/981.breaking.rst
  docs/notebooks/plasma/grids_cartesian.ipynb
  docs/notebooks/plasma/grids_nonuniform.ipynb
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
  requirements/requirements.txt
  setup.cfg
Labels: Plasma class

#1012 Revert changes accidentally committed to master
  docs/development/code_guide.rst
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_ionization_collection.py
Labels: No changelog entry needed

#1015 Add symbol attribute to CustomParticle and DimensionlessParticle
  changelog/1015.feature.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

#1014 Add mostly failing tests for pickling various objects in plasmapy.particles
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_pickling.py
Labels: No changelog entry needed, Particles

#1018 Separate tox env for slow tests
  .github/workflows/testing.yml
  tox.ini
Labels: No changelog entry needed, Testing

#985 Describe valid representations for particles in docstring for `ParticleLike` typing alias
  changelog/985.doc.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
Labels: Documentation, Particles

#1021 Test for nested iterator
  plasmapy/particles/tests/test_ionization_state.py
Labels: No changelog entry needed

#895 Proton Radiography Module
  changelog/895.feature.rst
  docs/ad/diagnostics/index.rst
  docs/ad/diagnostics/proton_radiography.rst
  docs/notebooks/proton_radiography_particle_tracing.ipynb
  docs/notebooks/setup_graphic.png
  plasmapy/diagnostics/proton_radiography.py
  plasmapy/diagnostics/tests/test_proton_radiography.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
  requirements/requirements.txt
  setup.cfg
Labels: Diagnostics

#889 Create plasmapy.analysis.swept_langmuir & initiate w/ functionality for calculating the floating potential
  changelog/889.feature.rst
  docs/_static/notebook_images/langmuir_analysis.png
  docs/_static/rtd_theme_overrides.css
  docs/ad/analysis/index.rst
  docs/ad/analysis/swept_langmuir.rst
  docs/ad/diagnostics/index.rst
  docs/ad/diagnostics/langmuir.rst
  docs/ad/index.rst
  docs/api_static/plasmapy.analysis.swept_langmuir.floating_potential.rst
  docs/api_static/plasmapy.analysis.swept_langmuir.helpers.rst
  docs/conf.py
  docs/notebooks/analysis/swept_langmuir/find_floating_potential.ipynb
  docs/notebooks/langmuir_analysis.ipynb
  docs/notebooks/langmuir_samples/Beckers2017_noisy.npy
  docs/notebooks/langmuir_samples/_generate_noisy.ipynb
  plasmapy/analysis/__init__.py
  plasmapy/analysis/swept_langmuir/__init__.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/analysis/swept_langmuir/tests/__init__.py
  plasmapy/analysis/swept_langmuir/tests/test_floating_potential.py
  plasmapy/analysis/swept_langmuir/tests/test_helpers.py
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/swept_langmuir/__init__.py
Labels: Diagnostics

#951 Cleanup quantum.py docstrings
  changelog/951.doc.rst
  plasmapy/formulary/quantum.py
Labels: Documentation, Formulary

#1036 Add some unicode particle aliases
  changelog/1036.trivial.rst
  plasmapy/particles/parsing.py
  plasmapy/particles/tests/test_parsing.py
Labels: Particles

#1017 Create custom list for particles
  changelog/1017.feature.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles

#1039 Improve docstring for `Particle.is_category`
  changelog/1039.doc.rst
  changelog/1039.trivial.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Documentation, Particles

#1003 Expand development guide on pre-commit usage
  docs/development/code_guide.rst
Labels: Documentation, No changelog entry needed, Testing

#1045 Temporary workarounds to pip install -e, packaging, xarray 0.17 issues
  requirements/environment.yml
  requirements/requirements.txt
  setup.cfg
  setup.py
Labels: No changelog entry needed
