Repository PlasmaPy/PlasmaPy, pull requests merged in 2021-08, with the labels that each got.

#1225 Changed behavour of Particle.__eq__ to return false when used with other types
  changelog/1225.breaking.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Breaking, Particles

#1217 Rename "Development Guide" to "Contributor Guide" and temporarily hide empty workflow page
  changelog/1217.doc.rst
  docs/CONTRIBUTING.rst
  docs/development/index.rst
  docs/development/workflow.rst
Labels: Documentation

#1223 Add function that returns a `ParticleList` of ionic levels of an atom
  changelog/1223.breaking.rst
  changelog/1223.feature.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Breaking, Particles

#1226 Have Giles verify PR number of changelog entries
  pyproject.toml
Labels: No changelog entry needed

#1231 Specify docutils < 0.17
  requirements/docs.txt
  setup.cfg
Labels: No changelog entry needed

#1206 Update tox configuration for building docs
  changelog/1206.doc.rst
  changelog/1206.trivial.1.rst
  changelog/1206.trivial.2.rst
  docs/development/doc_guide.rst
  tox.ini
Labels: Documentation

#1208 Refactoring plasmapy.dispersion structure
  changelog/1208.breaking.rst
  changelog/1208.feature.rst
  docs/api_static/plasmapy.dispersion.analytical.rst
  docs/api_static/plasmapy.dispersion.analytical.two_fluid_.rst
  docs/api_static/plasmapy.dispersion.two_fluid_dispersion.rst
  docs/notebooks/dispersion/two_fluid_dispersion.ipynb
  plasmapy/dispersion/__init__.py
  plasmapy/dispersion/analytical/__init__.py
  plasmapy/dispersion/analytical/tests/test_two_fluid_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/dispersion/numerical/__init__.py
Labels: Dispersion, Notebooks, Breaking

#1173 Fix Volume Weighted Interpolator in CartesianGrid class (grids.py)
  changelog/1173.breaking.rst
  changelog/1173.bugfix.rst
  plasmapy/diagnostics/proton_radiography.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class, Diagnostics, Breaking

#1233 Remove G function
  changelog/1233.bugfix.rst
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/tests/test_Chandrasekhar_G.py
  requirements/environment.yml
  requirements/extras.txt
  setup.cfg
  tox.ini
Labels: Mathematics, Formulary

#1204 Calculate average particle from a ParticleList
  changelog/1204.feature.rst
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles

#1238 Use full namespaces in docstrings for formulary aliases
  changelog/1238.doc.rst
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/drifts.py
  plasmapy/formulary/ionization.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/quantum.py
Labels: Documentation, Formulary, parameters.quantum

#1149 Begin a project glossary
  changelog/1149.doc.rst
  docs/common_links.rst
  docs/glossary.rst
  docs/index.rst
Labels: Documentation

#1154 Create IonizationState attribute for a ParticleList of the ionic levels
  changelog/1154.feature.rst
  plasmapy/particles/ionization_state.py
  plasmapy/particles/tests/test_ionization_state.py
Labels: Particles

#1249 added property based tests using hypothesis
  changelog/1249.trivial.rst
  docs/about/credits.rst
  plasmapy/dispersion/tests/test_dispersion.py
Labels: Documentation

#1256 Make sure units are not in math mode in formulary docstrings (#1228)
  plasmapy/formulary/parameters.py
Labels: Formulary, No changelog entry needed
