Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-11, with the labels that each got.

#1785 Patch for href code wrapping in cells
  docs/_static/css/plasmapy.css
Labels: Documentation, No changelog entry needed

#1783 Mark tests as slow
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_quantum.py
Labels: Formulary, Diagnostics, No changelog entry needed, Analysis

#1777 Add `flake8` extensions
  changelog/1777.trivial.rst
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/utils/calculator/main_interface.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/data/downloader.py
  plasmapy/utils/decorators/validators.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Plasma class, Utilities, Analysis

#1769 Refactoring collisions functionality
  CHANGELOG.rst
  changelog/1676.removal.rst
  changelog/1678.trivial.1.rst
  changelog/1703.breaking.1.rst
  changelog/1703.breaking.2.rst
  changelog/1703.feature.rst
  changelog/1769.feature.rst
  docs/api_static/plasmapy.formulary.collisions.coulomb.rst
  docs/api_static/plasmapy.formulary.collisions.dimensionless.rst
  docs/api_static/plasmapy.formulary.collisions.frequencies.rst
  docs/api_static/plasmapy.formulary.collisions.lengths.rst
  docs/api_static/plasmapy.formulary.collisions.misc.rst
  docs/notebooks/formulary/coulomb.ipynb
  docs/whatsnew/0.6.0.rst
  docs/whatsnew/0.8.1.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/formulary/collisions/tests/__init__.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/collisions/tests/test_misc.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/tests/test_collisions.py
  setup.cfg
Labels: Formulary, No changelog entry needed, Notebooks, Breaking

#1782 Add `tryceratops` as a flake8 extension
  changelog/1782.breaking.1.rst
  changelog/1782.breaking.2.rst
  changelog/1782.trivial.rst
  changelog/1783.breaking.3.rst
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Particles, Plasma class, Formulary, Diagnostics, Utilities, Dispersion, PDD, Breaking, Analysis

#1794 Add `__all__` to `particle_integrators.py`
  plasmapy/simulation/particle_integrators.py
Labels: simulations, No changelog entry needed, size/very-small

#1779 Automate the release process
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
  docs/contributing/release_guide.rst
Labels: No changelog entry needed, Continuous Integration, github_actions, Contributor Guide

#1808 Change fortnightly tests to weekly even though "fortnightly" sounds waaaay cooler than "weekly"
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  README.md
  docs/contributing/release_guide.rst
Labels: No changelog entry needed

#1811 Delete size-labeler.yml
  .github/workflows/size-labeler.yml
Labels: No changelog entry needed
