Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-04, with the labels that each got.

#1476 Lite-Functions Ep. 4 | permittivity_1D_Maxwellian
  changelog/1476.feature.rst
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/tests/test_dielectric.py
Labels: Status: ready for review, Formulary

#1480 Apply automated Sourcery refactorings to `plasmapy.formulary`
  changelog/1480.trivial.rst
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/ionization.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/misc.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_transport.py
Labels: Mathematics, Status: ready for review, Refactoring, Formulary, parameters.quantum

#1494 Use `contextlib.suppress` to suppress exceptions instead of `try` & `except`
  changelog/1494.trivial.rst
  plasmapy/formulary/__init__.py
  plasmapy/particles/_factory.py
  plasmapy/particles/particle_collections.py
  plasmapy/plasma/grids.py
  plasmapy/utils/decorators/checks.py
Labels: Particles, Plasma class, Formulary, Utilities

#1504 Set maximum requirement for `click` in `pre-commit` configuration
  .pre-commit-config.yaml
Labels: Priority: high, Status: ready for review, No changelog entry needed

#1505 Stop using `check-merge-conflicts` pre-commit hook for `.rst` files
  .pre-commit-config.yaml
Labels: No changelog entry needed

#1499 Add pre-commit hook for `absolufy-imports`
  .pre-commit-config.yaml
  changelog/1499.trivial.rst
  docs/common_links.rst
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/tests/__init__.py
  plasmapy/utils/decorators/tests/test_helpers.py
Labels: Documentation, Status: ready for review, Formulary, Utilities

#1510 Delete dependabot.yml
  .github/dependabot.yml
Labels: No changelog entry needed, Continuous Integration

#1512 Add `analysis` and `dispersion` to `plasmapy.__init__`
  changelog/1512.bugfix.rst
  plasmapy/__init__.py
Labels: Status: ready for review, size/very-small

#1514 Allow `Particle("Li").ionize()`, assuming meant as neutral atom
  changelog/1514.feature.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

#1519 Specify allowed reST/Sphinx roles & directives for flake8-rst-docstrings
  setup.cfg
Labels: No changelog entry needed

#1509 Reduce number of warnings for nitpicky doc builds
  CHANGELOG.rst
  changelog/1509.doc.1.rst
  changelog/1509.doc.2.rst
  docs/ad/index.rst
  docs/api_static/plasmapy.plasma.plasma_factory.rst
  docs/common_links.rst
  docs/conf.py
  docs/development/code_guide.rst
  docs/development/testing_guide.rst
  docs/install.rst
  docs/particles/ionization_states.rst
  docs/plasma/index.rst
  docs/simulation/particletracker.rst
  docs/whatsnew/0.4.0.rst
  docs/whatsnew/0.5.0.rst
  docs/whatsnew/0.6.0.rst
  docs/whatsnew/0.7.0.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/formulary/__init__.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/atomic.py
  plasmapy/particles/data/__init__.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/particles/symbols.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/sources/plasma3d.py
  plasmapy/simulation/particletracker.py
  plasmapy/tests/helpers/exceptions.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/converter.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  setup.cfg
Labels: Particles, Documentation, Plasma class, Mathematics, Status: ready for review, Formulary, Diagnostics, parameters.quantum, Utilities

#1478 Describe doctests in documentation guide
  changelog/1478.doc.rst
  docs/development/doc_guide.rst
Labels: Documentation, Status: ready for review

#1482 Update requirements and installation instructions
  changelog/1482.doc.1.rst
  changelog/1482.doc.2.rst
  changelog/1482.removal.1.rst
  changelog/1482.removal.2.rst
  changelog/1482.trivial.1.rst
  changelog/1482.trivial.2.rst
  changelog/1482.trivial.3.rst
  changelog/1482.trivial.4.rst
  docs/api_static/plasmapy.optional_deps.rst
  docs/common_links.rst
  docs/conf.py
  docs/index.rst
  docs/install.rst
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/quantum.py
  plasmapy/optional_deps.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  requirements/docs.txt
  requirements/environment.yml
  requirements/extras.txt
  requirements/install.txt
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Documentation, Priority: high, Plasma class, Mathematics, Status: ready for review, Formulary, Availability, Testing, parameters.quantum, dependencies

#1524 Minor fixes in `plasmapy.formulary` from PyCharm & Sourcery
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/misc.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/radiation.py
Labels: Formulary, parameters.quantum, No changelog entry needed, size/small

#1495 Revise `README.md`
  README.md
  plasmapy/formulary/dielectric.py
  setup.cfg
Labels: Status: ready for review, Formulary, No changelog entry needed

#1501 Test that ``plasmapy`` can be imported
  .github/workflows/fortnightly.yml
  .github/workflows/testing.yml
  changelog/1501.trivial.rst
Labels: Status: ready for review, Testing, Continuous Integration, small

#1530 Add GitHub Action for codespell
  .github/workflows/testing.yml
  changelog/1530.doc.rst
  changelog/1530.trivial.rst
  docs/development/testing_guide.rst
  tox.ini
Labels: Documentation, Continuous Integration

#1532 Add Sphinx extensions
  changelog/1532.doc.1.rst
  changelog/1532.doc.2.rst
  changelog/1532.doc.3.rst
  docs/about/credits.rst
  docs/common_links.rst
  docs/conf.py
  docs/development/doc_guide.rst
  docs/development/testing_guide.rst
  requirements/docs.txt
  setup.cfg
Labels: Documentation

#1531 Faster distributions
  changelog/1531.trivial.rst
  docs/about/credits.rst
  plasmapy/formulary/distribution.py
  plasmapy/utils/units_definitions.py
Labels: Documentation, Formulary, Utilities

#1527 Base bibliography html anchors on citation key
  docs/conf.py
  docs/development/install_dev.rst
Labels: Documentation, Status: ready for review, No changelog entry needed, size/very-small
