Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-07, with the labels that each got.

#1610 Mark features as prototypes
  docs/plasma_calculator/index.rst
  plasmapy/analysis/nullpoint.py
  plasmapy/utils/calculator/__init__.py
Labels: Documentation, Status: ready for review, Utilities, No changelog entry needed

#1611 Re-run charged particle radiography notebooks
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_wire_mesh.ipynb
  setup.cfg
Labels: No changelog entry needed, Notebooks

#1606 Update `codemeta.json`
  changelog/1606.trivial.rst
  codemeta.json
  docs/about/credits.rst
Labels: Documentation, Status: ready for review

#1590 Put example notebooks in sub-directories, run `nb-clean`, and make minor edits
  changelog/1590.doc.1.rst
  changelog/1590.doc.2.rst
  docs/dispersion/index.rst
  docs/examples.rst
  docs/formulary/braginskii.rst
  docs/formulary/collisions.rst
  docs/formulary/dielectric.rst
  docs/formulary/dimensionless.rst
  docs/formulary/distribution.rst
  docs/formulary/drifts.rst
  docs/formulary/frequencies.rst
  docs/formulary/index.rst
  docs/formulary/lengths.rst
  docs/formulary/magnetostatics.rst
  docs/formulary/mathematics.rst
  docs/formulary/misc.rst
  docs/formulary/parameters.rst
  docs/formulary/radiation.rst
  docs/formulary/speeds.rst
  docs/index.rst
  docs/notebooks/analysis/fit_functions.ipynb
  docs/notebooks/analysis/swept_langmuir/find_floating_potential.ipynb
  docs/notebooks/diagnostics/langmuir_analysis.ipynb
  docs/notebooks/diagnostics/thomson.ipynb
  docs/notebooks/dispersion/dispersion_function.ipynb
  docs/notebooks/dispersion/two_fluid_dispersion.ipynb
  docs/notebooks/formulary/ExB_drift.ipynb
  docs/notebooks/formulary/braginskii.ipynb
  docs/notebooks/formulary/cold_plasma_tensor_elements.ipynb
  docs/notebooks/formulary/coulomb.ipynb
  docs/notebooks/formulary/distribution.ipynb
  docs/notebooks/formulary/iter.ipynb
  docs/notebooks/formulary/magnetostatics.ipynb
  docs/notebooks/formulary/thermal_bremsstrahlung.ipynb
  docs/notebooks/formulary/thermal_speed.ipynb
  docs/notebooks/getting_started/particles.ipynb
  docs/notebooks/getting_started/units.ipynb
  docs/notebooks/langmuir_samples/_generate_noisy.ipynb
  docs/notebooks/plasma/grids_cartesian.ipynb
  docs/notebooks/plasma/grids_nonuniform.ipynb
  docs/notebooks/simulation/particle_stepper.ipynb
Labels: Status: ready for review, Notebooks

#1613 Use `pathlib` to get path to `plasma-calculator` notebook
  plasmapy/utils/calculator/__init__.py
Labels: Utilities, No changelog entry needed

#1614 Update `.mailmap` prior to 0.8.0 release
  .mailmap
Labels: No changelog entry needed

#1623 Add a changelog file for dev
  changelog/1623.doc.rst
  docs/whatsnew/dev.rst
  docs/whatsnew/index.rst
Labels: Documentation, No changelog entry needed, size/very-small

#1626 Update towncrier settings
  changelog/1626.doc.rst
  docs/index.rst
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.1.1.rst
  docs/whatsnew/0.2.0.rst
  pyproject.toml
Labels: Documentation

#1636 Install PlasmaPy from repo when launching notebooks with binder for `latest` docs
  binder/requirements.txt
Labels: Priority: high, No changelog entry needed, size/very-small

#1634 Fix assertions in tests that were always `True`
  plasmapy/formulary/tests/test_dielectric.py
Labels: Status: ready for review, Formulary, Testing, No changelog entry needed, size/very-small

#1645 Restrict `sphinx != 5.1`
  requirements/docs.txt
  setup.cfg
Labels: No changelog entry needed

#1392 Hollweg Dispersion Relation Notebook
  changelog/1392.doc.rst
  docs/api_static/plasmapy.dispersion.numerical.hollweg_.rst
  docs/api_static/plasmapy.dispersion.numerical.rst
  docs/notebooks/dispersion/hollweg_dispersion.ipynb
  docs/notebooks/dispersion/two_fluid_dispersion.ipynb
  plasmapy/dispersion/numerical/hollweg_.py
Labels: Status: ready for review, Dispersion, Notebooks

#1649 Update the preamble to the coding guide
  changelog/1649.doc.rst
  docs/common_links.rst
  docs/contributing/code_guide.rst
Labels: Documentation

#1578 Created magnetic_skeleton file
  docs/api_static/plasmapy.analysis.magnetic_skeleton.rst
  docs/notebooks/analysis/magnetic_skeleton.ipynb
  plasmapy/analysis/magnetic_skeleton.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/tests/test_magnetic_skeleton.py
  requirements/install.txt
  setup.cfg
Labels: Notebooks, Analysis
