Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-12, with the labels that each got.

#1822 Remove pytest-xdist from test requirements
  changelog/1822.trivial.rst
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Priority: high, Testing

#1819 Update changelog for 0.9.1 on `stable`
  docs/whatsnew/0.9.1.rst
  docs/whatsnew/index.rst
Labels: Documentation, No changelog entry needed

#1827 Fix weekly test configuration error
  .github/workflows/weekly.yml
Labels: Priority: high, Testing, No changelog entry needed, Continuous Integration, size: very small

#1826 Update changelog guide
  changelog/1826.doc.rst
  changelog/README.rst
Labels: size: very small, Contributor Guide

#1820 Update changelog for 0.9.1 on `v0.9.x`
  docs/whatsnew/0.9.1.rst
Labels: Documentation, No changelog entry needed

#1833 Remove `plasmapy.formulary.parameters`
  changelog/1833.removal.rst
  docs/formulary/index.rst
  docs/formulary/parameters.rst
  docs/whatsnew/0.5.0.rst
  docs/whatsnew/0.8.1.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
Labels: Formulary, Breaking

#1758 Convert setup.cfg to pyproject.toml
  .github/workflows/testing.yml
  .gitignore
  .readthedocs.yml
  MANIFEST.in
  binder/requirements.txt
  changelog/1758.trivial.rst
  changelog/README.rst
  docs/common_links.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/install_dev.rst
  docs/contributing/testing_guide.rst
  docs/install.rst
  plasmapy/__init__.py
  plasmapy/_dev/__init__.py
  plasmapy/_dev/scm_version.py
  plasmapy/tests/test_requirements.py
  pyproject.toml
  requirements.txt
  requirements/build.txt
  requirements/docs.txt
  requirements/environment.yml
  requirements/extras.txt
  requirements/install.txt
  requirements/tests.txt
  setup.cfg
  setup.py
  tox.ini
Labels: Continuous Integration, Contributor Guide, Packaging

#1816 Add flake8 check for line length in docstrings
  changelog/1816.trivial.rst
  plasmapy/__init__.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/plasma3d.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/converter.py
  tox.ini
Labels: No changelog entry needed

#1834 Fixed functional typo in testing_guide.rst
  docs/contributing/testing_guide.rst
Labels: No changelog entry needed

#1823 Add a summary section to testing guide
  changelog/1823.doc.rst
  docs/common_links.rst
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

#1757 Update discussion of parameter type specifications in docstrings
  changelog/1757.doc.rst
  docs/contributing/doc_guide.rst
Labels: Contributor Guide

#1586 Update error messages in Coulomb logarithm calculations
  changelog/1586.trivial.rst
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
Labels: Formulary

#1840 Update Read the Docs configuration and add `graphviz` dependency
  .readthedocs.yml
  tox.ini
Labels: Priority: high, No changelog entry needed

#1839 Link to GitHub repository from documentation landing page
  docs/index.rst
Labels: Documentation, No changelog entry needed

#1842 Revert fail-on-warning option for Read the Docs build
  .readthedocs.yml
Labels: No changelog entry needed

#1841 Fix weekly test against development version of NumPy
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  pyproject.toml
Labels: Testing, No changelog entry needed

#1845 Apply changes from `refurb` and `ruff` to `plasmapy.utils`
  changelog/1845.trivial.rst
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/data/tests/test_downloader.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_helpers.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/tests/test_code_repr.py
Labels: Refactoring

#1799 DRAFT: Prad multiple field grids
  changelog/1799.feature.rst
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: Diagnostics

#1848 Add `ruff` section to `pyproject.toml`
  pyproject.toml
Labels: No changelog entry needed

#1850 Pin version of `towncrier` to address doc build error
  docs/whatsnew/0.9.1.rst
  docs/whatsnew/dev.rst
  docs/whatsnew/index.rst
  pyproject.toml
Labels: Documentation, Priority: high, No changelog entry needed

#1849 Apply ruff --fix to repository
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_lengths.py
  plasmapy/simulation/tests/test_particletracker.py
  plasmapy/utils/data/tests/test_downloader.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
Labels: Refactoring, No changelog entry needed

#1853 Use `ruff` and `refurb` on remainder of `plasmapy`
  changelog/1853.trivial.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_particle_collections.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
  plasmapy/plasma/tests/test_grids.py
Labels: Refactoring

#1852 Pin GitHub Action to specific version for posting code review checklists
  .github/workflows/add_comments.yml
Labels: No changelog entry needed, github_actions, size: very small

#1857 Pin GitHub Action to a specific commit
  .github/workflows/add_comments.yml
Labels: No changelog entry needed

#1859 Revert updates to GitHub Action
  .github/workflows/add_comments.yml
Labels: No changelog entry needed

#1858 Update create issue links in `README.md`
  README.md
Labels: No changelog entry needed

#1860 Adjust ruff for pre-commit
  .pre-commit-config.yaml
Labels: No changelog entry needed

#1843 Drop `dev` dependencies from pyproject.toml
  docs/contributing/doc_guide.rst
  docs/contributing/install_dev.rst
  docs/install.rst
  pyproject.toml
Labels: No changelog entry needed
