Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-01, with the labels that each got.

#1376 Minor docstring fixes in `plasmapy.formulary`
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/radiation.py
Labels: Mathematics, Formulary, parameters.quantum, No changelog entry needed

#1361 Revert pygments style to `"default"` and set minimum version of pygments to 2.11.0
  changelog/1361.doc.rst
  docs/conf.py
  requirements/docs.txt
  requirements/environment.yml
  setup.cfg
Labels: Documentation, Upstream fix required

#1374 Put references in bibliography
  changelog/1374.doc.rst
  docs/bibliography.bib
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/radiation.py
  plasmapy/simulation/particle_integrators.py
  plasmapy/simulation/particletracker.py
Labels: Documentation, Formulary, Diagnostics

#1375 Minor docstring fixes in `thomson.py` and `langmuir.py`
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics, No changelog entry needed

#1378 Add `ParticleList.is_category`
  changelog/1378.feature.rst
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles

#1379 Fix coupling_parameter Docstring
  changelog/1379.doc.rst
  plasmapy/formulary/collisions.py
Labels: Formulary

#1145 Lite-Functions Ep. 1 | Jump to Hyperspace
  changelog/1145.doc.rst
  changelog/1145.feature.1.rst
  changelog/1145.feature.2.rst
  changelog/1145.feature.3.rst
  changelog/1145.trivial.1.rst
  changelog/1145.trivial.2.rst
  docs/_static/rtd_theme_overrides.css
  docs/conf.py
  docs/glossary.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/utils/decorators/__init__.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/lite_func.py
  plasmapy/utils/decorators/tests/test_lite_func.py
Labels: Documentation, Formulary, Utilities

#1308 Lite-Functions Ep. 2 | plasma_frequency_lite
  changelog/1308.feature.rst
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_parameters.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/formulary/tests/test_thermal_speed.py
  setup.cfg
Labels: Formulary

#1189 Hollweg dispersion solver
  changelog/1189.feature.rst
  docs/api_static/plasmapy.dispersion.numerical.hollweg_.rst
  docs/api_static/plasmapy.dispersion.numerical.rst
  docs/bibliography.bib
  plasmapy/dispersion/__init__.py
  plasmapy/dispersion/analytical/tests/__init__.py
  plasmapy/dispersion/numerical/__init__.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/tests/__init__.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/dispersion/tests/__init__.py
Labels: Documentation, Dispersion

#1292 Add Python 3.10 tests to GitHub Actions
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  README.md
  changelog/1292.trivial.rst
  setup.cfg
Labels: Upstream fix required, Continuous Integration, github_actions

#1390 Describe plasma_calculator in narrative documentation
  changelog/1390.doc.rst
  docs/common_links.rst
  docs/index.rst
  docs/plasma_calculator/index.rst
Labels: Documentation

#1309 Add a function to create CustomParticles from molecule symbols.
  changelog/1309.feature.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/parsing.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles, Continuous Integration

#1282 Apply changes from static analysis tool that looks for likely bugs and design problems
  plasmapy/analysis/fit_functions.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/quantum.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/utils/decorators/helpers.py
Labels: Plasma class, Mathematics, Formulary, Diagnostics, parameters.quantum, Utilities, Continuous Integration, github_actions

#1399 Remove warnings from `CustomParticle` and `DimensionlessParticle` for `nan` attributes
  changelog/1399.trivial.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles, Status: ready for review

#1407 [Docs] Refactor `version`, `release`, and `revision` definitions in `conf.py`
  docs/conf.py
Labels: Documentation, No changelog entry needed

#1408 Update of pre-commit configuration and associated notebook autoformatting
  .pre-commit-config.yaml
  docs/notebooks/analysis/swept_langmuir/find_floating_potential.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/dispersion/two_fluid_dispersion.ipynb
  docs/notebooks/langmuir_samples/_generate_noisy.ipynb
Labels: Notebooks

#1287 Improve accessibility of documentation by increasing contrast for different website elements
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  changelog/1287.doc.1.rst
  changelog/1287.doc.2.rst
  changelog/1287.doc.3.rst
  changelog/1287.trivial.rst
  docs/_static/css/admonition_color_contrast.css
  docs/_static/css/plasmapy.css
  docs/_static/rtd_theme_overrides.css
  docs/conf.py
  licenses/sphinx_rtd_theme_ext_color_contrast_license.txt
Labels: Documentation, Status: ready for review, Accessibility, Continuous Integration
