Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-10, with the labels that each got.

#1749 Move pytest dep from tests to install and update `nitpick_ignore_regex` to fix new doc build warnings
  changelog/1749.trivial.rst
  docs/conf.py
  requirements/install.txt
  requirements/tests.txt
  setup.cfg
Labels: Documentation

#1615 Update release guide after 0.8.1 release
  changelog/1615.doc.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/release_guide.rst
  setup.cfg
Labels: Status: ready for review, Contributor Guide

#1764 Change license header to match OSI format
  LICENSE.md
Labels: No changelog entry needed

#1766 Add elliotwutingfeng to credits.rst
  docs/about/credits.rst
Labels: Documentation, No changelog entry needed

#1770 Fix broken hyperlinks and redirects prior to 0.9.0 release
  docs/about/credits.rst
  docs/common_links.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/testing_guide.rst
  docs/install.rst
  docs/notebooks/analysis/nullpoint.ipynb
  docs/notebooks/diagnostics/thomson_fitting.ipynb
  docs/notebooks/formulary/cold_plasma_tensor_elements.ipynb
  docs/whatsnew/0.1.0.rst
  pyproject.toml
Labels: No changelog entry needed, Notebooks, Contributor Guide

#1772 Delete `codemeta.json` in favor of `CITATION.cff`
  MANIFEST.in
  changelog/1772.trivial.rst
  codemeta.json
  docs/about/citation.rst
  docs/common_links.rst
  docs/contributing/release_guide.rst
Labels: Contributor Guide

#1773 Use `pretty-format-yaml` pre-commit hook on `CITATION.cff`
  CITATION.cff
Labels: No changelog entry needed

#1774 Update authors information
  CITATION.cff
  docs/about/credits.rst
Labels: Documentation, No changelog entry needed
