Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-05, with the labels that each got.

#1541 Replace broad exception statements in `formulary`, `particles`, and `utils`
  changelog/1541.trivial.rst
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/checks.py
Labels: Particles, Formulary, parameters.quantum, Utilities

#1529 Hollweg Dispersion Solver Bug Fix
  changelog/1529.bugfix.rst
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
Labels: Dispersion

#1543 Fixing node version for pre-commit
  .pre-commit-config.yaml
Labels: No changelog entry needed

#1546 Fix to Z dependence in `fundamental_collision_freq`.
  changelog/1546.bugfix.rst
  plasmapy/formulary/collisions.py
Labels: Bug, Formulary

#1528 Create `ParticleListLike` typing construct and "particle-list-like" term
  changelog/1528.feature.rst
  docs/common_links.rst
  docs/glossary.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/particle_collections.py
Labels: Particles, Documentation

#1555 Update `plasmapy.particles._parsing.extract_charge()` to better handle white spaces
  changelog/1555.bugfix.rst
  plasmapy/particles/_parsing.py
Labels: Particles

#1518 Update docs and the use of `kwargs` in `fit_functions.Linear.curve_fit`
  changelog/1518.bugfix.rst
  plasmapy/analysis/fit_functions.py
Labels: Status: ready for review, Analysis, size/very-small

#1557 Add `flake8-implicit-str-concat` and `flake8-mutable` extensions to linters
  changelog/1557.trivial.rst
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/formulary/collisions.py
  plasmapy/plasma/grids.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Plasma class, Formulary, Testing, Diagnostics, size/very-small

#1558 Add `flake8-simplify` to linters
  changelog/1558.trivial.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/parameters.py
  plasmapy/particles/__init__.py
  plasmapy/particles/_parsing.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/plasma3d.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/utils/__init__.py
  plasmapy/utils/decorators/checks.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Particles, Plasma class, Formulary, Utilities

#1554 Adding test cases for null point classification
  changelog/1554.doc.rst
  changelog/1554.feature.rst
  docs/bibliography.bib
  docs/notebooks/analysis/nullpoint.ipynb
  plasmapy/analysis/__init__.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/tests/test_nullpoint.py
Labels: Notebooks

#1382 Add an example notebook to introduce `plasmapy.particles`
  changelog/1382.doc.rst
  docs/examples.rst
  docs/getting_started.rst
  docs/notebooks/getting_started/particles.ipynb
  docs/particles/index.rst
  plasmapy/particles/atomic.py
Labels: Particles, Priority: high, Status: ready for review, Notebooks

#1561 Note that dev versions should not be used in published work
  docs/about/citation.rst
Labels: Documentation, No changelog entry needed

#1566 add my name to docs/about/credits.rst
  docs/about/credits.rst
Labels: Documentation, No changelog entry needed

#974 Fitting Thomson Scattering Spectra
  changelog/974.breaking.rst
  changelog/974.feature.1.rst
  changelog/974.feature.2.rst
  changelog/974.feature.3.rst
  docs/bibliography.bib
  docs/conf.py
  docs/notebooks/diagnostics/collective_vs_noncollective_ots.png
  docs/notebooks/diagnostics/thomson.ipynb
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
Labels: Status: ready for review, Diagnostics, Notebooks, Breaking

#1570 Minor cleanup of `collisions.py`
  changelog/1570.trivial.1.rst
  changelog/1570.trivial.2.rst
  plasmapy/formulary/collisions.py
Labels: Formulary, size/small

#1572 Expose `radation` to `formulary` namespace
  changelog/1572.bugfix.rst
  plasmapy/formulary/__init__.py
  plasmapy/particles/particle_collections.py
Labels: Particles, Formulary

#1579 Set `sphinx` requirement to `>= 4.4, < 5.0`
  requirements/docs.txt
  setup.cfg
Labels: Documentation, No changelog entry needed

#1563 Apply automated refactorings from Sourcery to `plasmapy.diagnostics`
  changelog/1563.trivial.rst
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Diagnostics
