Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-03, with the labels that each got.

#1456 Make `Z` and `mass_numb` parameters for `Particle` keyword-only
  changelog/1456.breaking.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles, Changes existing API, Breaking

#1466 Hide page with stability of subpackages
  changelog/1466.doc.rst
  docs/about/_stability.rst
  docs/index.rst
Labels: Documentation

#1380 Add an example notebook to introduce `astropy.units`
  changelog/1380.doc.1.rst
  changelog/1380.doc.2.rst
  docs/_static/notebook_images/astropy_logo_notext.png
  docs/conf.py
  docs/examples.rst
  docs/getting_started.rst
  docs/index.rst
  docs/notebooks/getting_started/units.ipynb
  docs/notebooks/physics.ipynb
Labels: Notebooks

#1471 Patch for PR #1453 (`plasmapy.formulary.misc`)
  changelog/1471.bugfix.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/misc.py
Labels: Bug, Formulary

#1464 Apply automated Sourcery refactorings to `plasmapy.plasma`
  changelog/1464.trivial.rst
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/plasma3d.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/tests/test_grids.py
Labels: Plasma class, Refactoring

#1465 Bump minimum required version of Python from 3.7 to 3.8
  .github/workflows/testing.yml
  README.md
  changelog/1465.removal.rst
  changelog/1465.trivial.1.rst
  changelog/1465.trivial.2.rst
  codemeta.json
  docs/conf.py
  docs/development/code_guide.rst
  docs/index.rst
  docs/install.rst
  plasmapy/__init__.py
  requirements/environment.yml
  requirements/extras.txt
  setup.cfg
  tox.ini
Labels: Documentation, Continuous Integration

#1479 Apply automated Sourcery refactorings to `plasmapy.particles`
  changelog/1479.trivial.rst
  plasmapy/particles/_elements.py
  plasmapy/particles/_isotopes.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/_special_particles.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles, Status: ready for review, Refactoring

#1485 Apply automated changes from pyupgrade
  conftest.py
  docs/conf.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/plasma/tests/test_plasma_factory.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/tests/test_datatype_factory_base.py
Labels: Documentation, Plasma class, Status: ready for review, Refactoring, Formulary, Utilities, No changelog entry needed

#1455 Update docstring for `molecule`
  changelog/1455.doc.rst
  plasmapy/particles/_parsing.py
  plasmapy/particles/particle_class.py
Labels: Particles, Status: ready for review

#1463 Apply automated Sourcery refactorings to `plasmapy.utils`
  changelog/1463.trivial.rst
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/roman.py
Labels: Status: ready for review, Utilities

#1488 Use short type hints in documented signatures
  changelog/1488.doc.1.rst
  changelog/1488.doc.2.rst
  docs/conf.py
  requirements/docs.txt
  setup.cfg
Labels: Documentation, Status: ready for review

#1467 Add workflow to label PR's based on size
  .github/workflows/labeler.yml
  changelog/1467.trivial.rst
Labels: Continuous Integration

#1487 Correct apparent bug in langmuir.py
  changelog/1487.bugfix.1.rst
  changelog/1487.bugfix.2.rst
  docs/about/credits.rst
  plasmapy/diagnostics/langmuir.py
  requirements/docs.txt
  setup.cfg
Labels: Bug, Documentation, Diagnostics

#1484 Fix broken hyperlinks
  CHANGELOG.rst
  docs/about/citation.rst
  docs/about/credits.rst
  docs/bibliography.bib
  docs/common_links.rst
  docs/conf.py
  docs/development/code_guide.rst
  docs/development/doc_guide.rst
  docs/development/testing_guide.rst
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.7.0.rst
  plasmapy/formulary/speeds.py
Labels: Documentation, Status: ready for review, Formulary, No changelog entry needed

#1493 Use `codespell` for spellchecking
  CHANGELOG.rst
  changelog/1493.trivial.rst
  docs/development/code_guide.rst
  docs/notebooks/analysis/fit_functions.ipynb
  docs/notebooks/analysis/swept_langmuir/find_floating_potential.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_wire_mesh.ipynb
  docs/notebooks/diagnostics/thomson.ipynb
  docs/notebooks/dispersion/two_fluid_dispersion.ipynb
  docs/notebooks/langmuir_samples/_generate_noisy.ipynb
  docs/notebooks/plasma/grids_cartesian.ipynb
  docs/whatsnew/0.6.0.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_speeds.py
  plasmapy/particles/decorators.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
  plasmapy/utils/decorators/tests/test_validators.py
  setup.cfg
  tox.ini
Labels: Particles, Plasma class, Formulary, Diagnostics, parameters.quantum, Utilities, Notebooks
