Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-09, with the labels that each got.

#1722 Update versions of `black`, `nbqa`, and `pyupgrade` used by `pre-commit`
  .pre-commit-config.yaml
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles, Status: ready for review, No changelog entry needed, size/very-small

#1720 Move `valid_categories` to `particle_class.py`
  changelog/1720.breaking.rst
  docs/notebooks/getting_started/particles.ipynb
  docs/particles/particle_class.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles, Status: ready for review, Notebooks, Breaking

#1726 Resolve numerical instability in `chemical_potential`
  changelog/1726.trivial.rst
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_quantum.py
Labels: Formulary, parameters.quantum

#1695 Add to docstrings in `plasmapy/formulary/magnetostatics.py`
  changelog/1695.doc.rst
  plasmapy/formulary/magnetostatics.py
Labels: Formulary

#1736 Use `pycln` to remove unused imports
  plasmapy/analysis/fit_functions.py
  plasmapy/formulary/dielectric.py
  plasmapy/tests/test_requirements.py
  plasmapy/utils/decorators/tests/test_lite_func.py
Labels: Formulary, Utilities, No changelog entry needed, Analysis, size/very-small

#1733 Use issue forms instead of issue templates
  .github/ISSUE_TEMPLATE/Bug_report.md
  .github/ISSUE_TEMPLATE/Feature_request.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
  changelog/1733.trivial.rst
Labels: Continuous Integration, Prototype

#1721 Return `False` when comparing an ionization object to an object of a different type
  changelog/1721.breaking.rst
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
Labels: Particles, Status: ready for review, Breaking

#1729 Add a GitHub Action to post a code review checklist on pull requests
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/add_comments.yml
  .github/workflows/checklist.md
  changelog/1729.trivial.rst
Labels: Continuous Integration

#1714 Apply automated Sourcery refactorings
  changelog/1714.trivial.rst
  plasmapy/__init__.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/tests/test_floating_potential.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/tests/test_Fermi_integral.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_ionization_state.py
Labels: Particles, Status: ready for review, Formulary, Diagnostics, Analysis

#1739 Revert "Limit CODEOWNERS to pinging plasmapy-reviewers group"
  CODEOWNERS
Labels: No changelog entry needed, GA Skip Comprehensive Tests, GA Skip Documentation, GA Skip Merge Allowed

#1057 Refactor `@particle_input` and broaden allowed function annotations
  changelog/1057.breaking.1.rst
  changelog/1057.breaking.2.rst
  changelog/1057.feature.1.rst
  changelog/1057.removal.rst
  changelog/1057.trivial.1.rst
  changelog/1057.trivial.2.rst
  changelog/1057.trivial.3.rst
  docs/common_links.rst
  docs/contributing/coding_guide.rst
  docs/glossary.rst
  plasmapy/formulary/collisions.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/misc.py
  plasmapy/formulary/radiation.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/_factory.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_exceptions.py
  requirements/install.txt
  setup.cfg
Labels: Particles, Priority: high, Refactoring, Status: nearing completion, Formulary, Changes existing API, Breaking, Contributor Guide

#1740 Update deprecated parameter in setup.cfg
  setup.cfg
Labels: No changelog entry needed, size/very-small, Packaging

#1732 Expand usage of `particle_input` in `plasmapy.formulary`
  changelog/1732.trivial.1.rst
  changelog/1732.trivial.2.rst
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/particles/_factory.py
  plasmapy/particles/decorators.py
  plasmapy/particles/tests/test_decorators.py
Labels: Particles, Formulary, parameters.quantum

#1718 Improve consistency of docstrings, annotations, and signatures in `plasmapy.particles`
  changelog/1718.breaking.rst
  changelog/1718.doc.rst
  docs/common_links.rst
  docs/glossary.rst
  plasmapy/particles/_factory.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/symbols.py
Labels: Particles, Documentation, Breaking

#1745 Show local variables in test failures
  tox.ini
Labels: No changelog entry needed, PDD, Continuous Integration

#1703 Move fundamental collision frequencies to `MaxwellianCollisionFrequencies`
  changelog/1676.feature.rst
  changelog/1703.breaking.1.rst
  changelog/1703.trivial.2.rst
  changelog/1705.trivial.rst
  plasmapy/formulary/collisions.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/utils/decorators/__init__.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/decorators/validators.py
Labels: Formulary, Utilities, Breaking
