Repository PlasmaPy/PlasmaPy, pull requests merged in 2022-08, with the labels that each got.

#1651 Move & revise section on installing and using pre-commit
  changelog/1651.doc.rst
  docs/common_links.rst
  docs/contributing/code_guide.rst
  docs/contributing/install_dev.rst
Labels: Documentation

#1650 Add a section to the coding guide on naming best practices
  changelog/1650.doc.rst
  docs/common_links.rst
  docs/contributing/code_guide.rst
  docs/contributing/doc_guide.rst
Labels: Documentation

#1469 Swept Langmuir | Ion-Saturation Current
  changelog/1469.feature.rst
  docs/api_static/plasmapy.analysis.swept_langmuir.ion_saturation_current.rst
  docs/glossary.rst
  docs/notebooks/analysis/swept_langmuir/find_floating_potential.ipynb
  plasmapy/analysis/swept_langmuir/__init__.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/swept_langmuir/tests/Pace2015.npy
  plasmapy/analysis/swept_langmuir/tests/test_ion_saturation_current.py
Labels: Notebooks, Analysis

#1647 Make docs build off sphinxdev actually build docs
  tox.ini
Labels: Status: ready for review, No changelog entry needed, Continuous Integration

#1657 Update guidelines section of coding guide
  changelog/1657.doc.rst
  docs/contributing/coding_guide.rst
  docs/contributing/index.rst
  docs/index.rst
Labels: Documentation, Status: ready for review

#1662 Add tables of contents to pages in contributor guide
  changelog/README.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/install_dev.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
Labels: Documentation, Status: ready for review, No changelog entry needed

#1660 Add sections on comments and error messages in coding guide
  changelog/1660.doc.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
Labels: Documentation, Status: ready for review

#1666 Add and apply substitution for `array_like`
  docs/common_links.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/formulary/dielectric.py
  plasmapy/particles/particle_collections.py
Labels: Particles, Documentation, Formulary, Diagnostics, No changelog entry needed, size/small

#1633 Remove `integer_charge` attributes
  changelog/1633.removal.1.rst
  changelog/1633.removal.2.rst
  changelog/1633.removal.3.rst
  docs/whatsnew/0.7.0.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles, Documentation, Status: ready for review

#1667 Update guidelines for "Parameters", "Raises", and "Warns" sections of docstrings
  changelog/1667.doc.rst
  docs/common_links.rst
  docs/contributing/doc_guide.rst
Labels: Documentation, Status: ready for review

#1655 Add sections on units & particles to coding guide
  changelog/1655.doc.rst
  docs/common_links.rst
  docs/contributing/coding_guide.rst
Labels: Documentation, Status: ready for review

#1670 Add pygrep-hooks to pre-commit
  .pre-commit-config.yaml
Labels: No changelog entry needed

#1500 Test the consistency of requirements defined in different locations
  changelog/1500.trivial.1.rst
  changelog/1500.trivial.2.rst
  plasmapy/tests/test_requirements.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Labels: Status: ready for review, Availability, Testing, medium

#1664 Add `critical_density`
  changelog/1664.feature.rst
  docs/about/credits.rst
  docs/formulary/densities.rst
  docs/formulary/index.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/densities.py
  plasmapy/formulary/tests/test_densities.py
Labels: Documentation, Formulary

#1673 Add coding guideline that functions should accept and return `numpy.nan` values
  changelog/1673.doc.rst
  docs/contributing/coding_guide.rst
Labels: Documentation, size/small

#1674 Add tip to changelog guide on updating broken reST links
  changelog/1674.doc.rst
  changelog/README.rst
  docs/common_links.rst
Labels: Documentation

#1671 Move `quantum_theta` to `quantum.py`
  CHANGELOG.rst
  changelog/1671.trivial.rst
  docs/whatsnew/0.6.0.rst
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_dimensionless.py
  plasmapy/formulary/tests/test_quantum.py
Labels: Documentation, Formulary, parameters.quantum

#1677 Appease codespell, which now peeks into our notebooks
  setup.cfg
Labels: No changelog entry needed

#1565 Refactor `find_floating_potentional` to use return pattern `(vf, extras)`
  changelog/1565.breaking.rst
  docs/notebooks/analysis/swept_langmuir/find_floating_potential.ipynb
  plasmapy/analysis/swept_langmuir/__init__.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/swept_langmuir/tests/test_floating_potential.py
Labels: Notebooks, Breaking, Analysis

#1658 Discuss lite-functions and aliases in the coding guide
  changelog/1658.doc.rst
  docs/common_links.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/glossary.rst
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/speeds.py
Labels: Documentation, Status: ready for review, Formulary

#1679 Update labeling of pull requests done by GitHub Actions
  .github/labeler.yml
Labels: No changelog entry needed, Continuous Integration, size/very-small

#1685 Attempt to fix intermittent test failure in test_optical_density_histogram
  changelog/1685.bugfix.rst
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Labels: Testing, Diagnostics

#1681 Add NaN check to prevent raising a false relativity error
  changelog/1681.feature.rst
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_relativity.py
Labels: Formulary

#1640 Add a `CITATION.cff` file
  CITATION.cff
  codemeta.json
Labels: No changelog entry needed

#1678 Resurrect `chemical_potential` and associated functions
  changelog/1678.feature.1.rst
  changelog/1678.feature.2.rst
  changelog/1678.trivial.3.rst
  plasmapy/formulary/collisions.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_quantum.py
Labels: Formulary, parameters.quantum

#1642 Add Lundquist number
  changelog/1642.feature.rst
  docs/about/credits.rst
  docs/bibliography.bib
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/parameters.py
  plasmapy/formulary/tests/test_dimensionless.py
Labels: Documentation, Formulary

#1689 Hall parameter tests
  changelog/1689.feature.rst
  docs/about/credits.rst
  plasmapy/formulary/tests/test_dimensionless.py
Labels: Documentation, Formulary

#1690 change os.path to pathlib
  changelog/1690.feature.rst
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
  plasmapy/particles/data/test/__init__.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/sources/tests/test_openpmd_hdf5.py
  plasmapy/plasma/tests/test_plasma_factory.py
Labels: Particles, Plasma class, Diagnostics

#1540 Add `RelativisticBody` class to `plasmapy.formulary`
  changelog/1540.feature.rst
  changelog/1540.trivial.rst
  docs/common_links.rst
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_relativity.py
  plasmapy/particles/_factory.py
  plasmapy/particles/tests/test_factory.py
Labels: Particles, Documentation, Status: ready for review, Formulary, PDD

#1696 Delete redundant changelog entry
  changelog/1540.trivial.rst
Labels: No changelog entry needed, size/very-small

#1697 Move `ionic_levels` to `plasmapy.particles.atomic`
  changelog/1697.breaking.rst
  docs/whatsnew/0.7.0.rst
  plasmapy/particles/__init__.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles, Documentation, Breaking

#1698 Enable inline code highlighting with `:py:` role
  changelog/1698.doc.1.rst
  changelog/1698.doc.2.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

#1676 Add `CollisionFrequencies`
  changelog/1676.feature.rst
  plasmapy/formulary/collisions.py
  plasmapy/formulary/tests/test_collisions.py
Labels: Formulary

#1702 Add note in coding guide that we should use `pathlib` instead of `os.path`
  docs/contributing/coding_guide.rst
Labels: No changelog entry needed, size/very-small, Contributor Guide

#1701 Remove software requirements from `codemeta.json`
  codemeta.json
Labels: No changelog entry needed

#1706 Apply `|keyword-only|` substitution in docstrings and reST files
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/whatsnew/0.8.1.rst
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/lengths.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/code_repr.py
Labels: Particles, Formulary, Diagnostics, Utilities, No changelog entry needed, Contributor Guide

#1705 Add check for unequal array lengths to `CollisionFrequencies`
  changelog/1705.trivial.rst
  plasmapy/formulary/collisions.py
  plasmapy/formulary/tests/test_collisions.py
Labels: Formulary

#1486 Data module
  changelog/1486.feature.rst
  docs/api_static/plasmapy.utils.data.downloader.rst
  docs/common_links.rst
  docs/utils/index.rst
  plasmapy/utils/data/__init__.py
  plasmapy/utils/data/downloader.py
  plasmapy/utils/data/tests/test_downloader.py
  requirements/install.txt
  setup.cfg
  tox.ini
Labels: Documentation, Status: ready for review, Utilities

#1520 Thomson fitting example notebook
  changelog/1520.doc.rst
  docs/ad/diagnostics/thomson.rst
  docs/notebooks/diagnostics/thomson_fitting.ipynb
  setup.cfg
Labels: Priority: high, Status: ready for review, Notebooks

#1700 Enable categorization of `CustomParticle` objects
  changelog/1700.feature.1.rst
  changelog/1700.feature.2.rst
  docs/particles/particle_class.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
  setup.cfg
Labels: Particles, Documentation, Priority: high

#1717 Update requirements for `towncrier` and `sphinx-changelog`
  changelog/1710.trivial.rst
  changelog/1717.trivial.rst
  docs/common_links.rst
  requirements/docs.txt
  setup.cfg
Labels: Documentation, No changelog entry needed

#1713 Update docstrings in `ParticleList`
  changelog/1713.doc.rst
  docs/common_links.rst
  plasmapy/particles/particle_collections.py
Labels: Particles, Documentation, Status: ready for review
