Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-10, with the labels that each got.

#2358 Consistentify type specifications in docstrings
  docs/contributing/doc_guide.rst
  plasmapy/analysis/nullpoint.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/relativity.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/symbols.py
  plasmapy/utils/code_repr.py
Labels: plasmapy.particles, docs, plasmapy.formulary, plasmapy.utils, No changelog entry needed, plasmapy.analysis, contributor guide

#2359 Update search and replace for type specifications
  .pre-commit-search-and-replace.yaml
  docs/contributing/doc_guide.rst
Labels: docs, No changelog entry needed, contributor guide

#2231 Add "decorators" section to coding guide
  changelog/2231.trivial.rst
  docs/contributing/coding_guide.rst
Labels: docs, contributor guide

#2356 Update docstrings and annotations in formulary length calculations
  changelog/2356.doc.rst
  docs/contributing/doc_guide.rst
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/lengths.py
Labels: docs, plasmapy.formulary, plasmapy.diagnostics, contributor guide

#2257 Expand documentation build troubleshooting guide to discuss missing toctrees
  changelog/2257.doc.rst
  docs/contributing/doc_guide.rst
Labels: docs, status: ready for review, contributor guide

#2199 Add issue form for documentation improvements
  .github/ISSUE_TEMPLATE/improve_docs.yml
Labels: No changelog entry needed, GitHub Actions

#2360 Make minor improvements to issue forms
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/general_issue.yml
  .github/ISSUE_TEMPLATE/improve_docs.yml
  .github/ISSUE_TEMPLATE/package_improvement.yml
Labels: GitHub Actions

#2193 Briefly discuss `git pull` in the code contribution workflow in the contributor guide
  .github/ISSUE_TEMPLATE/package_improvement.yml
  changelog/2193.doc.rst
  docs/conf.py
  docs/contributing/workflow.rst
Labels: docs, GitHub Actions, contributor guide

#2271 Rename plasma dispersion function module and expose other modules to `dispersion` namespace
  CHANGELOG.rst
  changelog/2271.breaking.rst
  changelog/2271.trivial.rst
  docs/api_static/plasmapy.dispersion.dispersion_functions.rst
  docs/api_static/plasmapy.dispersion.dispersionfunction.rst
  docs/changelog/0.8.1.rst
  docs/notebooks/dispersion/dispersion_function.ipynb
  plasmapy/dispersion/__init__.py
  plasmapy/dispersion/dispersion_functions.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/dispersion/tests/test_dispersion.py
  plasmapy/formulary/dielectric.py
Labels: docs, plasmapy.formulary, testing, changes existing API, plasmapy.dispersion, notebooks

#2362 Update Contributor Guide Pages for MacOS
  CITATION.cff
  docs/contributing/getting_ready.rst
Labels: docs, No changelog entry needed, contributor guide, packaging

#2300 In ExcessStatistics class enable time_step parameter with astropy unit
  changelog/2300.bugfix.rst
  plasmapy/analysis/time_series/excess_statistics.py
  plasmapy/analysis/time_series/tests/test_excess_statistics.py
Labels: bug, testing, plasmapy.analysis

#2363 Reorganize and clean up documentation configuration file
  changelog/2363.doc.rst
  docs/_global_substitutions.py
  docs/conf.py
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  docs/contributing/workflow.rst
Labels: docs, contributor guide

#2369 Reduce warnings issued in tests & deprecate passing real number to `charge` in `CustomParticle`
  changelog/2369.breaking.rst
  plasmapy/analysis/swept_langmuir/tests/test_ion_saturation_current.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/utils/calculator/main_interface.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, changes existing API, plasmapy.utils, plasmapy.analysis

#2367 Update metadata for `v2023.10.0`
  changelog/2300.bugfix.rst
  docs/about/citation.rst
  docs/install.rst
Labels: bug, docs, No changelog entry needed

#2361 Consolidate plasma dispersion function lite-functions with regular functions
  .pre-commit-config.yaml
  changelog/2361.breaking.rst
  changelog/2361.trivial.rst
  docs/_global_substitutions.py
  docs/changelog/0.8.1.rst
  docs/notebooks/dispersion/dispersion_function.ipynb
  plasmapy/dispersion/dispersion_functions.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/dispersion/tests/test_dispersion_functions.py
  plasmapy/formulary/dielectric.py
Labels: docs, plasmapy.formulary, testing, changes existing API, plasmapy.dispersion, CI, prototype, notebooks, linters

#2275 Add class for calculating conditional average of time series.
  changelog/2275.feature.rst
  docs/api_static/plasmapy.analysis.time_series.conditional_averaging.rst
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/conditional_averaging.py
  plasmapy/analysis/time_series/tests/test_conditioanl_averaging.py
Labels: docs, testing, plasmapy.analysis

#2378 Update `plasmapy/__init__.py`
  .pre-commit-config.yaml
  changelog/2378.trivial.rst
  docs/api_static/plasmapy.rst
  plasmapy/__init__.py
  requirements.txt
Labels: docs, CI, dependencies, linters

#2377 Update narrative docs for particle objects
  changelog/2377.doc.rst
  docs/particles/particle_class.rst
  plasmapy/particles/particle_class.py
Labels: plasmapy.particles, docs, PDD

#2265 Add page to contributor guide on using `pre-commit` (with troubleshooting!)
  .pre-commit-config.yaml
  changelog/2265.doc.rst
  changelog/2377.trivial.rst
  docs/_global_substitutions.py
  docs/contributing/getting_ready.rst
  docs/contributing/index.rst
  docs/contributing/pre-commit.rst
  docs/contributing/workflow.rst
  docs/index.rst
Labels: docs, PDD, CI, contributor guide, linters

#2206 Add dispersion relation for MHD waves
  changelog/2206.feature.rst
  docs/api_static/plasmapy.dispersion.analytical.mhd_waves_.rst
  plasmapy/dispersion/analytical/__init__.py
  plasmapy/dispersion/analytical/mhd_waves_.py
  plasmapy/dispersion/analytical/tests/test_mhd_wave_class.py
  plasmapy/dispersion/analytical/two_fluid_.py
Labels: docs, testing, plasmapy.dispersion

#2379 Rename and update GitHub actions
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/add-no-changelog-label.yml
  .github/workflows/check-author-included.yml
  .github/workflows/comment-on-pr.yml
  .github/workflows/label-pr.yml
  .github/workflows/mint-release.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/tests.yml
  .github/workflows/unlabel-pr-after-merge.yml
  .github/workflows/weekly-tests.yml
  .pre-commit-config.yaml
  CODEOWNERS
  README.md
  changelog/2379.trivial.rst
  changelog/README.rst
  docs/contributing/release_guide.rst
  pyproject.toml
Labels: docs, CI, GitHub Actions, contributor guide, packaging, linters

#2380 Add pre-commit hook to validate GitHub workflows
  .github/workflows/add-no-changelog-label.yml
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  changelog/2380.trivial.rst
Labels: CI, GitHub Actions, linters

#2381 Remove `# coverage: ignore` in most places for more realistic coverage reports
  plasmapy/diagnostics/langmuir.py
  plasmapy/formulary/__init__.py
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/relativity.py
  plasmapy/particles/_factory.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/_special_particles.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/_pytest_helpers/pytest_helpers.py
  plasmapy/utils/data/downloader.py
  plasmapy/utils/decorators/lite_func.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, plasmapy.diagnostics, plasmapy.utils, no changelog entry needed, plasmapy.simulation

#2382 Add admonition to see latest version of release guide
  docs/contributing/release_guide.rst
Labels: docs, no changelog entry needed, contributor guide

#2383 Update `.mailmap`
  .mailmap
Labels: no changelog entry needed

#2385 Pull in changes from `v2023.10.0`
  .pre-commit-config.yaml
  CHANGELOG.rst
  CITATION.cff
  changelog/2068.feature.rst
  changelog/2189.trivial.rst
  changelog/2193.doc.rst
  changelog/2206.feature.rst
  changelog/2219.trivial.rst
  changelog/2229.trivial.rst
  changelog/2231.trivial.rst
  changelog/2248.bugfix.rst
  changelog/2257.doc.rst
  changelog/2262.trivial.rst
  changelog/2263.doc.rst
  changelog/2265.doc.rst
  changelog/2266.doc.rst
  changelog/2268.doc.rst
  changelog/2269.doc.rst
  changelog/2271.breaking.rst
  changelog/2271.trivial.rst
  changelog/2272.doc.rst
  changelog/2275.feature.rst
  changelog/2281.doc.rst
  changelog/2282.doc.rst
  changelog/2289.feature.rst
  changelog/2295.trivial.rst
  changelog/2296.trivial.rst
  changelog/2300.bugfix.rst
  changelog/2302.doc.rst
  changelog/2307.doc.rst
  changelog/2307.trivial.rst
  changelog/2308.doc.rst
  changelog/2311.doc.rst
  changelog/2312.doc.rst
  changelog/2314.trivial.1.rst
  changelog/2314.trivial.2.rst
  changelog/2315.trivial.rst
  changelog/2324.doc.rst
  changelog/2328.trivial.rst
  changelog/2346.trivial.rst
  changelog/2356.doc.rst
  changelog/2361.breaking.rst
  changelog/2361.trivial.rst
  changelog/2363.doc.rst
  changelog/2369.breaking.rst
  changelog/2377.doc.rst
  changelog/2377.trivial.rst
  changelog/2378.trivial.rst
  changelog/2379.trivial.rst
  changelog/2380.trivial.rst
  docs/changelog/2023.10.0.rst
  docs/changelog/index.rst
Labels: bug, docs, changes existing API, no changelog entry needed, CI, packaging, linters

#2387 Attempt to fix documentation build
  changelog/2387.doc.rst
  docs/conf.py
  pyproject.toml
  requirements.txt
Labels: docs, dependencies, packaging

#2389 Fix hyperlinks
  docs/_global_substitutions.py
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/notebooks/formulary/magnetosphere.ipynb
Labels: docs, notebooks, contributor guide

#2392 Separate GitHub Action for checking hyperlinks into its own action
  .github/workflows/check-hyperlinks.yml
  .github/workflows/weekly-tests.yml
  changelog/2392.trivial.rst
Labels: testing, CI, GitHub Actions

#2391 Update ion_thermal_conductivity docstring
  CITATION.cff
  plasmapy/formulary/braginskii.py
Labels: plasmapy.formulary, no changelog entry needed, packaging

#2396 Fix link in README.md
  README.md
Labels: docs, no changelog entry needed
