Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-01, with the labels that each got.

#1862 Update README file and copyright year
  LICENSE.md
  README.md
Labels: No changelog entry needed

#1868 Use `pyproject-fmt` instead of `pretty-format-toml`
  .pre-commit-config.yaml
  pyproject.toml
Labels: No changelog entry needed

#1866 Expand charge number functionality for `CustomParticle`
  changelog/1866.feature.1.rst
  changelog/1866.feature.2.rst
  changelog/1866.removal.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: Particles

#1879 Add plep link in docs
  docs/index.rst
Labels: No changelog entry needed

#1756 Update docstring and annotations for `spectral_density`
  .github/workflows/testing.yml
  changelog/1756.doc.rst
  plasmapy/diagnostics/thomson.py
Labels: Diagnostics

#1880 Add `strict` and `allowed_physical_types` keyword arguments to `_get_physical_type_dict`
  changelog/1880.trivial.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/tests/test_units_helpers.py
Labels: Status: ready for review, Utilities

#1888 Drop codespell from pyproject.toml reqs
  pyproject.toml
Labels: No changelog entry needed

#1890 Merge in v2023.1.0 changes into main
  .pre-commit-config.yaml
  CHANGELOG.rst
  CITATION.cff
  changelog/1274.breaking.rst
  changelog/1274.feature.rst
  changelog/1586.trivial.rst
  changelog/1756.doc.rst
  changelog/1757.doc.rst
  changelog/1758.trivial.rst
  changelog/1799.feature.rst
  changelog/1803.feature.rst
  changelog/1807.trivial.rst
  changelog/1813.breaking.rst
  changelog/1813.feature.rst
  changelog/1817.doc.rst
  changelog/1822.trivial.rst
  changelog/1823.doc.rst
  changelog/1824.removal.rst
  changelog/1825.feature.rst
  changelog/1826.doc.rst
  changelog/1833.removal.rst
  changelog/1844.trivial.rst
  changelog/1845.trivial.rst
  changelog/1846.trivial.rst
  changelog/1847.trivial.rst
  changelog/1853.trivial.rst
  changelog/1854.trivial.rst
  changelog/1856.doc.rst
  changelog/1866.feature.1.rst
  changelog/1866.feature.2.rst
  changelog/1866.removal.rst
  changelog/1880.trivial.rst
  changelog/1881.trivial.rst
  changelog/1886.trivial.rst
  changelog/1887.doc.rst
  docs/about/citation.rst
  docs/whatsnew/2023.1.0.rst
  docs/whatsnew/index.rst
Labels: No changelog entry needed

#1891 Update pre-commit autoupdater to monthly
  .pre-commit-config.yaml
Labels: No changelog entry needed

#1885 Change minimum version of Python from 3.8 to 3.9
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  .pre-commit-config.yaml
  changelog/1885.breaking.rst
  docs/common_links.rst
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/relativity.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/_special_particles.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_particle_collections.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/tests/test_openpmd_hdf5.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/lite_func.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  pyproject.toml
  tox.ini
Labels: Priority: high, Status: ready for review

#1864 Bring back dependabot
  .github/dependabot.yml
  .github/workflows/testing.yml
  changelog/1864.trivial.rst
  requirements.txt
  tox.ini
Labels: Continuous Integration, dependencies

#1913 Adjust dependabot config
  .github/dependabot.yml
  CODEOWNERS
Labels: No changelog entry needed, GA Skip Comprehensive Tests, GA Skip Documentation

#1884 Apply new `CustomParticle` constructor to particle factory
  changelog/1884.feature.rst
  changelog/1884.trivial.1.rst
  changelog/1884.trivial.2.rst
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/particles/_factory.py
  plasmapy/particles/decorators.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_factory.py
Labels: Particles, Status: ready for review

#1933 Rerun particle_tracing notebooks due to high resource usage
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_custom_source.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_wire_mesh.ipynb
Labels: No changelog entry needed
