Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-06, with the labels that each got.

#2188 Set labeler GitHub Action to not remove labels
  .github/workflows/pr-lableler.yml
Labels: GitHub Actions

#2189 Update `MANIFEST.in`
  MANIFEST.in
  changelog/2189.trivial.rst
Labels: packaging

#2187 Use `bibtex-tidy` on `bibliography.bib`
  docs/bibliography.bib
Labels: docs, No changelog entry needed

#2192 Remove deprecated flag pre-commit configuration
  .pre-commit-config.yaml
Labels: No changelog entry needed, CI, linters

#2202 Loosen `ipykernel` requirement for compatibility with Google Colab
  CHANGELOG.rst
  CITATION.cff
  docs/about/citation.rst
  docs/changelog/2023.5.1.rst
  docs/changelog/index.rst
  pyproject.toml
  tox.ini
Labels: docs, testing, No changelog entry needed, CI, packaging

#2205 Pull in changes from 2023.5.1
  CHANGELOG.rst
  CITATION.cff
  docs/about/citation.rst
  docs/changelog/2023.5.1.rst
  docs/changelog/index.rst
  pyproject.toml
  tox.ini
Labels: docs, testing, No changelog entry needed, CI, packaging

#2219 Automated changes from Sourcery
  changelog/2219.trivial.rst
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/time_series/excess_statistics.py
  plasmapy/formulary/collisions/helio/collisional_analysis.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/validators.py
Labels: plasmapy.particles, plasmapy.formulary, testing, plasmapy.utils, plasmapy.analysis

#2213 Update ruff rules
  .github/scripts/citation_updater.py
  .pre-commit-config.yaml
  docs/conf.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_misc.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_frequencies.py
  plasmapy/formulary/tests/test_relativity.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/simulation/particle_integrators.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/_pytest_helpers/pytest_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/lite_func.py
  pyproject.toml
Labels: plasmapy.particles, docs, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.formulary.quantum, plasmapy.utils, No changelog entry needed, CI, GitHub Actions, plasmapy.analysis, packaging, plasmapy.simulation, linters

#2222 Shell command correction (In contribution workflow)
  docs/contributing/workflow.rst
Labels: docs, No changelog entry needed, contributor guide
