Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-07, with the labels that each got.

#2229 Raise ValueError for implicit cases in `distribution`
  changelog/2229.trivial.rst
  plasmapy/formulary/distribution.py
  plasmapy/formulary/tests/test_distribution.py
Labels: plasmapy.formulary, testing

#2240 Add ruff rule that prohibits implicit `typing.Optional`
  plasmapy/utils/decorators/tests/test_validators.py
  pyproject.toml
Labels: testing, plasmapy.utils, No changelog entry needed, size: very small, packaging

#2239 Appease Ruff in `nullpoint`
  plasmapy/analysis/nullpoint.py
  pyproject.toml
Labels: No changelog entry needed, plasmapy.analysis, packaging

#2249 Add GitHub Action to add no changelog label for automated pull requests
  .github/workflows/pr-labeler-changelog.yml
  .github/workflows/pr-labeler.yml
Labels: No changelog entry needed, GitHub Actions

#2250 Update GitHub Action for adding no changelog entry needed label autoupdate
  .github/workflows/pr-labeler-changelog.yml
Labels: No changelog entry needed, GitHub Actions

#2246 Update author check error message
  .github/scripts/authors_in_cff.py
Labels: No changelog entry needed, GitHub Actions

#2248 Update to CoAl functionality, bug fix
  changelog/2248.bugfix.rst
  docs/bibliography.bib
  plasmapy/formulary/collisions/helio/collisional_analysis.py
Labels: bug, docs, plasmapy.formulary
