Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-02, with the labels that each got.

#1953 Move codespell to pre-commit
  .github/workflows/testing.yml
  .pre-commit-config.yaml
  docs/contributing/testing_guide.rst
  tox.ini
Labels: No changelog entry needed

#1955 change version of black in pre commit
  .pre-commit-config.yaml
  docs/about/credits.rst
  docs/notebooks/diagnostics/thomson.ipynb
  docs/notebooks/formulary/coulomb.ipynb
  docs/plasma/index.rst
  docs/plasmapy_sphinx/automodsumm/core.py
  docs/plasmapy_sphinx/automodsumm/generate.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/radiation.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/_special_particles.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/simulation/particletracker.py
  plasmapy/tests/helpers/tests/sample_functions.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  plasmapy/utils/tests/test_datatype_factory_base.py
Labels: No changelog entry needed

#1956 Change GitHub Actions that comment on pull requests
  .github/workflows/add_comments.yml
  .github/workflows/checklist.md
Labels: Status: ready for review, No changelog entry needed, github_actions

#1960 Update pull request checklist
  .github/workflows/add_comments.yml
Labels: No changelog entry needed, Continuous Integration

#1665 Add kinetic Alfven wave dispersion solver
  changelog/1665.feature.rst
  docs/api_static/plasmapy.dispersion.numerical.kinetic_alfven_.rst
  docs/bibliography.bib
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Labels: Documentation, Dispersion

#1982 Make mostly stylistic edits to `plasmapy.formulary.lengths`
  plasmapy/formulary/lengths.py
Labels: Documentation, No changelog entry needed, size: small
