Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-03, with the labels that each got.

#1793 Update docstrings in `formulary.collisions.frequencies`
  changelog/1793.doc.rst
  docs/common_links.rst
  plasmapy/formulary/collisions/frequencies.py
Labels: Documentation, Status: ready for review, Formulary

#1656 Describe code contribution workflow in contributor guide
  .github/contributing.md
  changelog/1656.doc.1.rst
  changelog/1656.doc.2.rst
  changelog/1656.doc.3.rst
  changelog/1656.doc.4.rst
  changelog/README.rst
  docs/CONTRIBUTING.rst
  docs/common_links.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  docs/contributing/index.rst
  docs/contributing/install_dev.rst
  docs/contributing/testing_guide.rst
  docs/contributing/workflow.rst
  docs/index.rst
  docs/install.rst
  docs/whatsnew/0.1.0.rst
  pyproject.toml
  requirements.txt
Labels: Status: in progress, Continuous Integration, Contributor Guide

#2004 Rename label: "Good first contribution" → "good first issue"
  README.md
  docs/contributing/workflow.rst
Labels: No changelog entry needed

#2007 Updated Coulomb_log example to n_e
  docs/about/credits.rst
  plasmapy/formulary/collisions/coulomb.py
Labels: No changelog entry needed

#1990 Remove deprecated `pytest-xdist` option and update `CODEOWNERS`
  CODEOWNERS
  pyproject.toml
Labels: No changelog entry needed, size: very small

#2013 Use `pip-compile` to update `requirements.txt`
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing.ipynb
  docs/notebooks/diagnostics/charged_particle_radiography_particle_tracing_custom_source.ipynb
  requirements.txt
Labels: No changelog entry needed

#2019 Remove upper limit on `sphinx-gallery` and specify documentation-related requirements
  pyproject.toml
  requirements.txt
Labels: No changelog entry needed

#2018 Update versions of `towncrier` and `sphinx-changelog`
  pyproject.toml
  requirements.txt
Labels: No changelog entry needed

#1987 Make `ParticleList` accept `Quantity` arrays
  changelog/1987.feature.rst
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_particle_collections.py
Labels: Particles, Status: nearing completion

#1921 Decorate `reduced_mass` with `particle_input` & `validate_quantities` whilst expanding its docstring
  changelog/1921.feature.rst
  plasmapy/particles/atomic.py
  plasmapy/particles/tests/test_atomic.py
Labels: Particles

#1871 Decorate `RelativisticBody` and `relativistic_energy` with `@particle_input`
  changelog/1871.breaking.rst
  changelog/1871.feature.1.rst
  changelog/1871.feature.2.rst
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_relativity.py
Labels: Formulary, Status: on hold

#2029 Add step in code contribution workflow to add name to list of contributors
  docs/common_links.rst
  docs/contributing/workflow.rst
Labels: No changelog entry needed

#2033 Update requirements
  pyproject.toml
  requirements.txt
  tox.ini
Labels: Priority: high, No changelog entry needed, dependencies

#2015 additions to getting ready to contribute page
  docs/about/credits.rst
  docs/contributing/getting_ready.rst
Labels: No changelog entry needed

#2014 Expand introduction to contributor guide
  changelog/2014.doc.rst
  docs/contributing/doc_guide.rst
  docs/contributing/index.rst
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

#2043 Repair GitHub Action that labels pull requests
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: No changelog entry needed, GitHub Actions

#2041 Reorganize testing guide
  changelog/2041.doc.rst
  docs/contributing/testing_guide.rst
Labels: Contributor Guide

#2044 Repair GitHub Action that comments on pull requests
  .github/workflows/new-pull-request.yml
Labels: No changelog entry needed, GitHub Actions

#2046 Update pre-commit versions and fix linter error
  .pre-commit-config.yaml
  plasmapy/particles/decorators.py
  plasmapy/particles/particle_class.py
Labels: plasmapy.particles, No changelog entry needed
