Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-04, with the labels that each got.

#2034 Allow `@particle_input` to accept custom ions when parameter is named `ion`
  changelog/2034.breaking.rst
  changelog/2034.trivial.rst
  plasmapy/particles/decorators.py
  plasmapy/particles/tests/test_decorators.py
  tox.ini
Labels: plasmapy.particles, Breaking

#2060 Update YAML file defining labels to apply to pull requests
  .github/labeler.yml
  .pre-commit-config.yaml
Labels: No changelog entry needed, GitHub Actions

#2061 Update configuration for labeler GitHub Action
  .github/labeler.yml
  .github/workflows/pr-lableler.yml
Labels: No changelog entry needed, GitHub Actions

#2063 Update the labeler GitHub Action
  .github/labeler.yml
  .pre-commit-config.yaml
Labels: No changelog entry needed, Continuous Integration, GitHub Actions

#2062 Run packaging GitHub Action sooner
  .github/workflows/testing.yml
Labels: No changelog entry needed, Continuous Integration, GitHub Actions

#2059 Update changelog guide and Giles configuration
  changelog/2059.doc.rst
  changelog/README.rst
  pyproject.toml
Labels: Documentation, Contributor Guide, Packaging

#2073 Update requirements and fix issue with version conflict related to coverage
  .github/workflows/testing.yml
  requirements.txt
Labels: No changelog entry needed, Continuous Integration, dependencies, GitHub Actions

#1984 Excess statistics for time series
  changelog/1984.feature.rst
  docs/api_static/plasmapy.analysis.time_series.excess_statistics.rst
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/excess_statistics.py
  plasmapy/analysis/time_series/tests/test_excess_statistics.py
Labels: Documentation, Testing, plasmapy.analysis

#2076 Made minor edits to changelog entries
  changelog/1656.doc.3.rst
  changelog/1665.feature.rst
  changelog/1864.trivial.rst
  changelog/1992.bugfix.rst
  changelog/2038.doc.rst
  changelog/2041.doc.rst
Labels: Bug, Documentation, No changelog entry needed

#2075 Update dependency minimum versions, package metadata, and coding guide
  .pre-commit-config.yaml
  changelog/2075.trivial.1.rst
  changelog/2075.trivial.2.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  pyproject.toml
  requirements.txt
  tox.ini
Labels: Documentation, Testing, Continuous Integration, dependencies, Contributor Guide, Packaging
