Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-05, with the labels that each got.

#2089 Update requirements again and fix new linter error
  requirements.txt
  tox.ini
Labels: Testing, No changelog entry needed, Continuous Integration, dependencies

#2093 Apply `ruff` changes to `plasmapy.dispersion`
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/dispersion/analytical/tests/test_stix_.py
  plasmapy/dispersion/analytical/tests/test_two_fluid_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
  plasmapy/dispersion/tests/test_dispersion.py
Labels: Testing, No changelog entry needed, plasmapy.dispersion

#2097 Apply `ruff` changes to `plasmapy.formulary`
  plasmapy/formulary/__init__.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/collisions/tests/test_misc.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_fermi_integral.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/formulary/tests/test_mathematics.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/formulary/tests/test_speeds.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/formulary/tests/test_transport.py
Labels: plasmapy.formulary, Testing, No changelog entry needed

#2092 Apply `ruff` changes to `plasmapy.analysis`
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/analysis/time_series/tests/__init__.py
  plasmapy/analysis/time_series/tests/test_excess_statistics.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Labels: Testing, No changelog entry needed, plasmapy.analysis

#2099 Update codecov configuration
  .codecov.yaml
  .codecov.yml
Labels: Testing, No changelog entry needed, Continuous Integration

#2098 Update pinned requirements and fix errors associated with NumPy 1.24
  plasmapy/analysis/tests/test_nullpoint.py
  requirements.txt
Labels: Priority: high, Testing, No changelog entry needed, dependencies, plasmapy.analysis

#2102 Update codeowners for different files and subpackages
  CODEOWNERS
Labels: No changelog entry needed, Continuous Integration

#2103 Fix and update Read the Docs configuration
  .readthedocs.yml
Labels: Documentation, Priority: high, No changelog entry needed

#1775 Test on Python 3.11 and remove split between initial and comprehensive tests
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  README.md
  changelog/1775.trivial.rst
  docs/common_links.rst
  docs/contributing/getting_ready.rst
  docs/contributing/testing_guide.rst
  docs/install.rst
  requirements.txt
  tox.ini
Labels: Documentation, Priority: high, Testing, Continuous Integration, dependencies, GitHub Actions, Contributor Guide

#1693 Stix v2 notebook
  changelog/1693.feature.rst
  docs/api_static/plasmapy.dispersion.analytical.rst
  docs/api_static/plasmapy.dispersion.analytical.stix_.rst
  docs/notebooks/dispersion/hollweg_dispersion.ipynb
  docs/notebooks/dispersion/stix_dispersion.ipynb
  docs/notebooks/dispersion/two_fluid_dispersion.ipynb
Labels: Documentation, Priority: high, Notebooks

#2080 Enable more `ruff` rules and disable some redundant `flake8` checks
  .pre-commit-config.yaml
  changelog/2080.trivial.rst
  docs/conf.py
  plasmapy/__init__.py
  plasmapy/particles/ionization_state.py
  pyproject.toml
  tox.ini
Labels: plasmapy.particles, Documentation, Testing, Status: on hold, Continuous Integration, Packaging

#2047 Re-add GitHub Action to comment on someone's first pull request
  .github/workflows/new-pull-request.yml
  changelog/2112.doc.rst
Labels: Documentation, No changelog entry needed, GitHub Actions

#2122 Enable PLW rule set for ruff
  plasmapy/analysis/nullpoint.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/plasma/grids.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
  pyproject.toml
Labels: plasmapy.plasma, Testing, plasmapy.diagnostics, plasmapy.utils, No changelog entry needed, plasmapy.analysis, Packaging

#2123 Enable ruff rules for flake8-pytest-style
  plasmapy/analysis/swept_langmuir/tests/test_floating_potential.py
  plasmapy/analysis/swept_langmuir/tests/test_helpers.py
  plasmapy/analysis/swept_langmuir/tests/test_ion_saturation_current.py
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/analysis/time_series/tests/test_excess_statistics.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/dispersion/analytical/tests/test_stix_.py
  plasmapy/dispersion/analytical/tests/test_two_fluid_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
  plasmapy/dispersion/tests/test_dispersion.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_dimensionless.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_frequencies.py
  plasmapy/formulary/tests/test_lengths.py
  plasmapy/formulary/tests/test_mathematics.py
  plasmapy/formulary/tests/test_misc.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/formulary/tests/test_quantum.py
  plasmapy/formulary/tests/test_relativity.py
  plasmapy/formulary/tests/test_speeds.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_factory.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/particles/tests/test_particle_collections.py
  plasmapy/plasma/sources/tests/test_openpmd_hdf5.py
  plasmapy/plasma/sources/tests/test_plasma3d.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/simulation/tests/test_particletracker.py
  plasmapy/utils/data/tests/test_downloader.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_helpers.py
  plasmapy/utils/decorators/tests/test_lite_func.py
  plasmapy/utils/pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/tests/test_code_repr.py
  plasmapy/utils/tests/test_roman.py
  plasmapy/utils/tests/test_units_helpers.py
  pyproject.toml
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, Testing, plasmapy.diagnostics, plasmapy.utils, No changelog entry needed, plasmapy.dispersion, plasmapy.analysis, Packaging, plasmapy.simulation

#2121 Enable ruff rules for pylint refactorings
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/formulary/braginskii.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/_special_particles.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/plasma/grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  pyproject.toml
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, Testing, plasmapy.diagnostics, plasmapy.utils, No changelog entry needed, plasmapy.dispersion, plasmapy.analysis, Packaging

#2118 Enable NPY rules for ruff
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/plasma/grids.py
  plasmapy/simulation/tests/test_particletracker.py
  pyproject.toml
Labels: plasmapy.plasma, Testing, plasmapy.diagnostics, No changelog entry needed, Packaging, plasmapy.simulation

#2071 Update the comment that gets posted on pull requests
  .github/workflows/new-pull-request.yml
Labels: No changelog entry needed, GitHub Actions

#2128 Enable more `pydocstyle` rules for `ruff`
  .github/workflows/citation_updater.py
  .github/workflows/new-pull-request.yml
  conftest.py
  docs/conf.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/conftest.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/radiation.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/data/test/__init__.py
  plasmapy/particles/tests/conftest.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/sources/plasma3d.py
  plasmapy/utils/calculator/__init__.py
  plasmapy/utils/calculator/main_interface.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/converter.py
  plasmapy/utils/decorators/helpers.py
  pyproject.toml
Labels: plasmapy.particles, Documentation, plasmapy.plasma, plasmapy.formulary, Testing, plasmapy.diagnostics, plasmapy.utils, No changelog entry needed, plasmapy.dispersion, GitHub Actions, plasmapy.analysis, Packaging

#2129 Add `.editorconfig` file
  .editorconfig
Labels: No changelog entry needed

#1986 Collisional analysis
  changelog/1986.feature.rst
  docs/api_static/plasmapy.formulary.collisions.helio.collisional_analysis.rst
  docs/api_static/plasmapy.formulary.collisions.helio.rst
  docs/bibliography.bib
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/helio/__init__.py
  plasmapy/formulary/collisions/helio/collisional_analysis.py
  plasmapy/formulary/collisions/helio/tests/__init__.py
  plasmapy/formulary/collisions/helio/tests/test_collisional_analysis.py
  pyproject.toml
Labels: Documentation, Status: in progress, plasmapy.formulary, Testing, Packaging

#2119 Enable ruff rule for cyclomatic (McCabe) complexity
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/_special_particles.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/plasma/grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  pyproject.toml
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, Testing, plasmapy.diagnostics, plasmapy.utils, No changelog entry needed, plasmapy.dispersion, plasmapy.analysis, Packaging

#2131 Add `# noqa` comment for cognitive complexity rule
  plasmapy/formulary/collisions/helio/collisional_analysis.py
Labels: plasmapy.formulary, No changelog entry needed

#2114 Remove test helper functionality from public API
  .sourcery.yaml
  CHANGELOG.rst
  changelog/2114.breaking.1.rst
  changelog/2114.breaking.2.rst
  docs/api_static/plasmapy.conftest.rst
  docs/api_static/plasmapy.tests.helpers.exceptions.rst
  docs/api_static/plasmapy.tests.helpers.rst
  docs/api_static/plasmapy.utils.pytest_helpers.pytest_helpers.rst
  docs/utils/index.rst
  docs/whatsnew/0.5.0.rst
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/collisions/tests/test_misc.py
  plasmapy/formulary/tests/test_dimensionless.py
  plasmapy/formulary/tests/test_frequencies.py
  plasmapy/formulary/tests/test_lengths.py
  plasmapy/formulary/tests/test_misc.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/formulary/tests/test_speeds.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/tests/__init__.py
  plasmapy/tests/_helpers/__init__.py
  plasmapy/tests/_helpers/exceptions.py
  plasmapy/tests/_helpers/tests/__init__.py
  plasmapy/tests/_helpers/tests/sample_functions.py
  plasmapy/utils/__init__.py
  plasmapy/utils/_pytest_helpers/__init__.py
  plasmapy/utils/_pytest_helpers/pytest_helpers.py
  plasmapy/utils/_pytest_helpers/tests/__init__.py
  plasmapy/utils/_pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/tests/test_roman.py
  pyproject.toml
Labels: plasmapy.particles, Documentation, plasmapy.formulary, Testing, plasmapy.utils, Breaking, Packaging

#2132 Update indent sizes in `.editorconfig`
  .editorconfig
Labels: No changelog entry needed

#1828 add function to calculate Buchsbaum frequency to formulary.frequencies.py
  changelog/1828.feature.rst
  docs/bibliography.bib
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/tests/test_frequencies.py
  tox.ini
Labels: Documentation, plasmapy.formulary, Testing, Continuous Integration

#2133 Fix tests in `test_nullpoint`
  changelog/2133.bugfix.rst
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/tests/test_nullpoint.py
Labels: Bug, Testing, plasmapy.analysis

#2138 Fix failing weekly numpy test
  changelog/2138.trivial.rst
  tox.ini
Labels: Testing, Continuous Integration

#2134 Decorate `ion_sound_speed` with `@particle_input`
  changelog/2134.feature.rst
  changelog/2134.removal.rst
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_speeds.py
Labels: plasmapy.formulary, Testing, plasmapy.dispersion, PDD

#2140 Add `mass_numb` and `Z` as parameters to functions decorated with `@particle_input`
  changelog/2140.feature.rst
  plasmapy/formulary/distribution.py
  plasmapy/formulary/lengths.py
Labels: plasmapy.formulary

#2137 Update configuration for GitHub Action that marks issues & PRs as stale
  .github/workflows/stale.yml
Labels: No changelog entry needed, PDD, GitHub Actions

#2136 Decorate `kappa_thermal_speed` with `@particle_input`
  changelog/2136.feature.rst
  plasmapy/formulary/speeds.py
Labels: plasmapy.formulary, PDD

#2142 Mark tests as slow
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/formulary/collisions/helio/tests/test_collisional_analysis.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
Labels: plasmapy.formulary, Testing, plasmapy.diagnostics, No changelog entry needed

#2143 Add basic caching to GitHub Actions CI
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  .pre-commit-config.yaml
Labels: Testing, No changelog entry needed, Continuous Integration, GitHub Actions

#2146 Update `requirements.txt` prior to `v2023.5.0`
  requirements.txt
Labels: No changelog entry needed, dependencies

#2151 Collisional Analysis Fix
  changelog/2151.bugfix.rst
  plasmapy/formulary/collisions/helio/collisional_analysis.py
Labels: bug, plasmapy.formulary, needed for release

#2152 Add GitHub Action to remove labels when a PR is merged and update PR labeler
  .github/labeler.yml
  .github/workflows/close-pr.yml
  .github/workflows/new-pull-request.yml
Labels: No changelog entry needed, GitHub Actions

#2157 Update PR unlabeler GitHub Action
  .github/workflows/close-pr.yml
Labels: status: ready to merge, No changelog entry needed, GitHub Actions

#2158 Update PR unlabeler GitHub Action
  .github/workflows/close-pr.yml
Labels: status: ready to merge, No changelog entry needed, GitHub Actions

#2145 Add a weekly test for conda-forge installation
  .github/workflows/weekly.yml
Labels: testing, No changelog entry needed, GitHub Actions

#2112 Add admonitions for unstable functionality
  changelog/2112.doc.rst
  docs/common_links.rst
  docs/plasma/index.rst
  docs/plasma_calculator/index.rst
  docs/simulation/abstractions.rst
  docs/simulation/index.rst
  docs/simulation/particle_integrators.rst
  docs/simulation/particletracker.rst
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/__init__.py
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/excess_statistics.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/dispersion/__init__.py
  plasmapy/dispersion/analytical/__init__.py
  plasmapy/dispersion/numerical/__init__.py
  plasmapy/formulary/braginskii.py
  plasmapy/plasma/__init__.py
  plasmapy/plasma/plasma_base.py
  plasmapy/plasma/plasma_factory.py
  plasmapy/simulation/__init__.py
  plasmapy/simulation/abstractions.py
  plasmapy/simulation/particle_integrators.py
  plasmapy/simulation/particletracker.py
  plasmapy/tests/__init__.py
  plasmapy/utils/datatype_factory_base.py
Labels: docs, plasmapy.plasma, status: ready for review, plasmapy.formulary, plasmapy.utils, plasmapy.dispersion, plasmapy.analysis, plasmapy.simulation, needed for release

#2160 Refine GitHub Action for updating pinned requirements
  .github/workflows/update-pinned-reqs.yml
Labels: No changelog entry needed, GitHub Actions

#2162 Update GitHub Action to update requirements
  .github/workflows/update-pinned-reqs.yml
Labels: No changelog entry needed, GitHub Actions

#2155 Add a GitHub Action to check that authors are included in `CITATION.cff`
  .github/scripts/authors_in_cff.py
  .github/workflows/author-in-cff.yml
  .github/workflows/open-pr.yml
  changelog/2155.doc.rst
  docs/contributing/workflow.rst
Labels: docs, status: ready for review, GitHub Actions, contributor guide, needed for release

#2149 Update some `ruff` rules and consistentify `pyproject.toml` formatting
  plasmapy/utils/decorators/tests/test_helpers.py
  pyproject.toml
Labels: status: ready for review, testing, plasmapy.utils, No changelog entry needed, packaging

#2163 Update GitHub Action to update requirements.txt
  .github/workflows/update-pinned-reqs.yml
Labels: GitHub Actions

#2166 Update GitHub Action to regenerate requirements
  .github/workflows/update-pinned-reqs.yml
  requirements.txt
Labels: No changelog entry needed, dependencies, GitHub Actions

#2167 Use ChatGPT-4 script to justify paragraphs in reST files
  docs/CODE_OF_CONDUCT.rst
  docs/COMMUNICATION.rst
  docs/about/_stability.rst
  docs/about/credits.rst
  docs/ad/index.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  docs/contributing/testing_guide.rst
  docs/contributing/workflow.rst
  docs/examples.rst
  docs/index.rst
  docs/install.rst
  docs/particles/decorators.rst
  docs/particles/functional.rst
  docs/particles/index.rst
  docs/particles/ionization_states.rst
  docs/particles/nuclear.rst
  docs/particles/particle_class.rst
  docs/performance_tips.rst
  docs/plasma/index.rst
  docs/plasma_calculator/index.rst
  docs/simulation/particletracker.rst
  docs/utils/index.rst
  docs/whatsnew/0.1.0.rst
  docs/whatsnew/0.2.0.rst
  docs/whatsnew/0.4.0.rst
  docs/whatsnew/0.5.0.rst
  docs/whatsnew/0.7.0.rst
  docs/whatsnew/0.8.1.rst
Labels: docs, No changelog entry needed, contributor guide

#1639 [Doc] doc/whatsnew to doc/changelog
  .github/workflows/author-in-cff.yml
  CITATION.cff
  changelog/1639.doc.rst
  docs/about/credits.rst
  docs/changelog/0.1.0.rst
  docs/changelog/0.1.1.rst
  docs/changelog/0.2.0.rst
  docs/changelog/0.3.0.rst
  docs/changelog/0.3.1.rst
  docs/changelog/0.4.0.rst
  docs/changelog/0.5.0.rst
  docs/changelog/0.6.0.rst
  docs/changelog/0.7.0.rst
  docs/changelog/0.8.1.rst
  docs/changelog/0.9.0.rst
  docs/changelog/0.9.1.rst
  docs/changelog/2023.1.0.rst
  docs/changelog/dev.rst
  docs/changelog/index.rst
  docs/conf.py
  docs/index.rst
Labels: docs, GitHub Actions, packaging

#1410 [Docs] adds sphinx-codeautolink to link code samples to API docs
  changelog/1410.doc.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  plasmapy/particles/decorators.py
  pyproject.toml
  requirements.txt
  tox.ini
Labels: plasmapy.particles, docs, testing, CI, dependencies, contributor guide, packaging, status: dormant

#2130 Update the comment that gets posted on pull requests
  .github/workflows/open-pr.yml
Labels: status: ready for review, No changelog entry needed, GitHub Actions

#2064 Add GitHub Action for labeling pull request size
  .github/workflows/pr-size-labeler.yml
Labels: No changelog entry needed, GitHub Actions

#2171 Remove size labeler GitHub Action
  .github/workflows/pr-size-labeler.yml
Labels: GitHub Actions

#2175 Update `@angular_freq_to_hz` and implement `wrapt`
  changelog/2175.trivial.rst
  changelog/2176.doc.rst
  plasmapy/utils/decorators/converter.py
  plasmapy/utils/decorators/tests/test_converters.py
  pyproject.toml
Labels: docs, testing, plasmapy.utils, packaging

#2156 Generate author list in `docs/about/credits.rst` from `CITATION.cff`
  .gitignore
  changelog/2156.doc.rst
  docs/about/credits.rst
  docs/cff_to_rst.py
  docs/conf.py
  pyproject.toml
Labels: docs, status: ready for review, size: large, packaging

#1513 Create notebook for observations of ionization states in the solar wind
  changelog/1513.doc.rst
  docs/examples.rst
  docs/notebooks/particles/ace.ipynb
Labels: plasmapy.particles, docs, status: ready for review, notebooks, size: large

#2026 Decorate `plasma_frequency` with `particle_input`
  changelog/2026.bugfix.rst
  changelog/2026.feature.rst
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_plasma_frequency.py
Labels: bug, status: in progress, plasmapy.formulary, testing, size: large, needed for release, bugfix

#2177 Make minor updates to changelogs
  changelog/1639.doc.rst
  changelog/1864.trivial.rst
  changelog/1892.breaking.rst
  changelog/2151.trivial.rst
  changelog/2176.doc.rst
Labels: docs, changes existing API, No changelog entry needed

#2179 Decorate `Alfven_speed` with `@particle_input`
  changelog/2026.bugfix.rst
  changelog/2179.feature.rst
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_speeds.py
Labels: bug, status: ready for review, plasmapy.formulary, testing, No changelog entry needed, needed for release, bugfix

#2181 Decorate `hollweg` with `@particle_input`
  changelog/2181.feature.rst
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
Labels: status: ready for review, testing, plasmapy.dispersion, needed for release

#2022 Decorate `two_fluid` dispersion solver with `@particle_input`
  changelog/2022.breaking.rst
  changelog/2022.feature.rst
  changelog/2022.removal.rst
  plasmapy/dispersion/analytical/tests/test_two_fluid_.py
  plasmapy/dispersion/analytical/two_fluid_.py
Labels: status: ready for review, testing, changes existing API, plasmapy.dispersion, size: large

#2183 Update GitHub Action for release
  .github/workflows/release.yml
Labels: No changelog entry needed, GitHub Actions, packaging
