Repository PlasmaPy/PlasmaPy, pull requests merged in 2023-08, with the labels that each got.

#2262 Improve error message for `Alfven_speed`
  changelog/2262.trivial.rst
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_speeds.py
Labels: plasmapy.formulary, testing

#2264 Apply `ruff` rule RUF100 to remove unused `noqa` directives
  docs/conf.py
  plasmapy/__init__.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/tests/test_two_fluid_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
  plasmapy/formulary/collisions/helio/collisional_analysis.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_helpers.py
  plasmapy/utils/decorators/validators.py
  pyproject.toml
Labels: plasmapy.particles, docs, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, No changelog entry needed, plasmapy.dispersion, plasmapy.analysis, packaging

#2268 Add Sphinx extension for measuring durations in doc builds
  changelog/2268.doc.rst
  docs/conf.py
Labels: docs

#2273 Set default concatenation option for sphinx-codeautolink
  docs/conf.py
Labels: docs, No changelog entry needed

#2269 Enable Sphinx extension for adding links to source code pages
  changelog/2269.doc.rst
  docs/conf.py
  docs/contributing/doc_guide.rst
Labels: docs, contributor guide

#2279 Remove labeler configuration for adding "No changelog entry needed"
  .github/labeler.yml
Labels: No changelog entry needed, GitHub Actions

#2272 Move substitutions from `common_links.rst` to `doc_guide.rst`
  changelog/2272.doc.rst
  docs/changelog/0.7.0.rst
  docs/changelog/0.8.1.rst
  docs/changelog/0.9.0.rst
  docs/changelog/2023.5.0.rst
  docs/common_links.rst
  docs/contributing/doc_guide.rst
Labels: docs, contributor guide

#2282 Make imports from `astropy.units` and `astropy.constants` more consistent
  .pre-commit-config.yaml
  .pre-commit-search-and-replace.yaml
  changelog/2282.doc.rst
  docs/contributing/coding_guide.rst
  docs/notebooks/dispersion/stix_dispersion.ipynb
  docs/notebooks/formulary/ExB_drift.ipynb
  docs/notebooks/formulary/braginskii.ipynb
  docs/notebooks/formulary/cold_plasma_tensor_elements.ipynb
  docs/notebooks/formulary/distribution.ipynb
  docs/notebooks/formulary/iter.ipynb
  docs/notebooks/formulary/thermal_speed.ipynb
  docs/notebooks/getting_started/particles.ipynb
  docs/notebooks/simulation/particle_stepper.ipynb
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/dispersion/analytical/tests/test_stix_.py
  plasmapy/dispersion/analytical/tests/test_two_fluid_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
  plasmapy/dispersion/tests/test_dispersion.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/helio/tests/test_collisional_analysis.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/densities.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/misc.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/formulary/tests/test_relativity.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/sources/tests/test_openpmd_hdf5.py
  plasmapy/simulation/tests/test_particletracker.py
  plasmapy/utils/_units_definitions.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/tests/test_code_repr.py
Labels: plasmapy.particles, docs, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.formulary.quantum, plasmapy.utils, plasmapy.dispersion, CI, notebooks, contributor guide, plasmapy.simulation, linters

#2284 Fix and expand pre-commit-search-and-replace configuration
  .pre-commit-config.yaml
  .pre-commit-search-and-replace.yaml
  CHANGELOG.rst
  docs/contributing/coding_guide.rst
  plasmapy/dispersion/analytical/stix_.py
Labels: docs, No changelog entry needed, plasmapy.dispersion, CI, contributor guide, linters

#2068 Add 1D Harris Sheet
  changelog/2068.feature.rst
  docs/api_static/plasmapy.plasma.equilibria1d.rst
  plasmapy/plasma/__init__.py
  plasmapy/plasma/equilibria1d.py
  plasmapy/plasma/tests/test_equilibria1d.py
Labels: docs, plasmapy.plasma, testing, size: large

#2291 Update `pip-compile` command for regenerating `requirements.txt`
  .github/workflows/update-pinned-reqs.yml
Labels: No changelog entry needed, GitHub Actions

#2299 Temporarily pin version of Sphinx
  pyproject.toml
  requirements.txt
Labels: No changelog entry needed, dependencies, packaging

#2296 Enable `ruff` linter rules that check for `print` and `pprint`
  .github/scripts/authors_in_cff.py
  changelog/2296.trivial.rst
  docs/cff_to_rst.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/utils/calculator/__init__.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/tests/test_lite_func.py
  pyproject.toml
Labels: plasmapy.particles, docs, plasmapy.plasma, testing, plasmapy.diagnostics, plasmapy.utils, GitHub Actions, packaging

#2295 Apply more `ruff` rules
  .pre-commit-config.yaml
  changelog/2295.trivial.rst
  plasmapy/analysis/nullpoint.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/dispersion/analytical/tests/test_stix_.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/formulary/__init__.py
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/helio/collisional_analysis.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/tests/test_relativity.py
  plasmapy/formulary/tests/test_speeds.py
  plasmapy/particles/__init__.py
  plasmapy/particles/_factory.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_factory.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/simulation/abstractions.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
  pyproject.toml
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, plasmapy.dispersion, CI, plasmapy.analysis, packaging, plasmapy.simulation, linters, maintenance

#2281 Speed up doc build by factor of 2 by defining substitutions via `sphinxcontrib-globalsubs` instead of `common_links.rst`
  .pre-commit-config.yaml
  CHANGELOG.rst
  changelog/2272.doc.rst
  changelog/2281.doc.rst
  changelog/README.rst
  docs/CODE_OF_CONDUCT.rst
  docs/COMMUNICATION.rst
  docs/_global_substitutions.py
  docs/_static/css/plasmapy.css
  docs/about/citation.rst
  docs/ad/index.rst
  docs/cff_to_rst.py
  docs/changelog/0.1.0.rst
  docs/changelog/0.3.0.rst
  docs/changelog/0.4.0.rst
  docs/changelog/0.7.0.rst
  docs/changelog/0.8.1.rst
  docs/changelog/0.9.0.rst
  docs/changelog/2023.1.0.rst
  docs/changelog/2023.5.0.rst
  docs/common_links.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  docs/contributing/index.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
  docs/contributing/workflow.rst
  docs/index.rst
  docs/install.rst
  docs/performance_tips.rst
  docs/utils/index.rst
  plasmapy/__init__.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/utils/data/downloader.py
  pyproject.toml
  requirements.txt
Labels: docs, plasmapy.plasma, plasmapy.utils, No changelog entry needed, CI, dependencies, contributor guide, packaging, linters

#2308 Fix hyperlinks and reStructuredText references
  changelog/2308.doc.rst
  docs/COMMUNICATION.rst
  docs/_global_substitutions.py
  docs/bibliography.bib
  docs/changelog/2023.1.0.rst
  docs/changelog/2023.5.0.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
  docs/contributing/workflow.rst
  docs/index.rst
  docs/install.rst
  docs/notebooks/diagnostics/thomson_fitting.ipynb
  docs/notebooks/formulary/cold_plasma_tensor_elements.ipynb
Labels: docs, notebooks, contributor guide

#2311 Remove star imports from particles notebook
  changelog/2311.doc.rst
  docs/notebooks/getting_started/particles.ipynb
Labels: docs, notebooks

#2304 Use pre-release for `sphinx-notfound-page`
  docs/conf.py
  pyproject.toml
  requirements.txt
Labels: docs, No changelog entry needed, dependencies, packaging

#2316 Reduce number of warnings in `plasmapy.utils`
  plasmapy/utils/decorators/tests/test_lite_func.py
Labels: testing, plasmapy.utils, No changelog entry needed

#2317 Make it so no warnings are issued in tests of `plasmapy.analysis`
  plasmapy/analysis/tests/test_nullpoint.py
Labels: testing, No changelog entry needed, plasmapy.analysis

#2313 Reduce warnings emitted during tests of `plasmapy.dispersion`
  plasmapy/dispersion/analytical/tests/test_stix_.py
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Labels: testing, plasmapy.dispersion

#2289 Lundquist solutions
  changelog/2289.feature.rst
  docs/api_static/plasmapy.plasma.cylindrical_equilibria.rst
  docs/bibliography.bib
  plasmapy/plasma/__init__.py
  plasmapy/plasma/cylindrical_equilibria.py
  plasmapy/plasma/tests/test_lundquist.py
Labels: docs, plasmapy.plasma, testing

#2320 Make it so no warnings are issued during tests by `plasmapy.plasma`
  plasmapy/plasma/tests/test_grids.py
  pyproject.toml
Labels: plasmapy.plasma, testing, No changelog entry needed, packaging

#2315 Set `@pytest.mark.xfail` to default to being strict
  changelog/2315.trivial.rst
  plasmapy/dispersion/numerical/tests/test_hollweg_.py
  plasmapy/particles/tests/test_factory.py
  plasmapy/particles/tests/test_ionization_collection.py
  pyproject.toml
Labels: plasmapy.particles, testing, plasmapy.dispersion, packaging

#2322 Update sphinx-notfound-page and other reqs
  pyproject.toml
  requirements.txt
Labels: No changelog entry needed, dependencies, packaging

#2321 Reduce number of warnings issued during tests by `plasmapy.formulary`
  plasmapy/formulary/collisions/helio/tests/test_collisional_analysis.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_lengths.py
Labels: plasmapy.formulary, testing, No changelog entry needed
