Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-08, with the labels that each got.

#2802 Adding racecar emoji to Alfven Speed
  CITATION.cff
  src/plasmapy/formulary/speeds.py
Labels: plasmapy.formulary, no changelog entry needed, python

#2806 Added sparkle emoji to getting started page
  docs/getting_started.rst
Labels: docs, no changelog entry needed

#2809 Add an seedling emoji
  docs/index.rst
Labels: docs, no changelog entry needed

#2813 emoji
  docs/contributing/getting_ready.rst
Labels: docs, no changelog entry needed, contributor guide

#2810 Added Memo Emoji to Citation Page (PlasmaPy Summer School Demo)
  CITATION.cff
  docs/about/citation.rst
Labels: docs, no changelog entry needed

#2819 add snake emoji to install python section
  CITATION.cff
  docs/install.rst
Labels: docs, plasmapy.utils, no changelog entry needed, python

#2827 Changed all 'checks_on_return' to 'validates_on_return'(only changed …
  src/plasmapy/utils/decorators/validators.py
Labels: plasmapy.utils, no changelog entry needed, python

#2831 Reorganized the formulary docstrings to follow the numpy docstrings standard
  changelog/2831.doc.rst
  src/plasmapy/formulary/braginskii.py
  src/plasmapy/formulary/collisions/coulomb.py
  src/plasmapy/formulary/dimensionless.py
  src/plasmapy/formulary/distribution.py
  src/plasmapy/formulary/drifts.py
  src/plasmapy/formulary/frequencies.py
  src/plasmapy/formulary/ionization.py
  src/plasmapy/formulary/lengths.py
  src/plasmapy/formulary/mathematics.py
  src/plasmapy/formulary/misc.py
  src/plasmapy/formulary/quantum.py
  src/plasmapy/formulary/speeds.py
Labels: plasmapy.formulary, plasmapy.formulary.quantum, python

#2822 Fix beta
  changelog/2822.doc.rst
  src/plasmapy/formulary/dimensionless.py
Labels: plasmapy.formulary, python

#2804 added periods to getting started
  CITATION.cff
  docs/getting_started.rst
Labels: docs, no changelog entry needed

#2824 math formulary - restructured function page for rot_a_to_b and added raises, example section
  CITATION.cff
  changelog/2824.doc.rst
  src/plasmapy/formulary/mathematics.py
Labels: plasmapy.formulary, python

#2837 Fix welcome message
  .github/workflows/comment-on-pr.yml
Labels: GitHub Actions

#2814 add supervillian emoji next to cloning header.
  CITATION.cff
  docs/contributing/getting_ready.rst
Labels: docs, no changelog entry needed, contributor guide

#2808 Add green check emoji to testing guide under best practices
  CITATION.cff
  docs/contributing/testing_guide.rst
Labels: docs, no changelog entry needed, contributor guide

#2830 Added the force-free definition to the glossary
  CHANGELOG.rst
  CITATION.cff
  changelog/2830.doc.rst
  docs/glossary.rst
Labels: docs, maintenance

#2817 Added pledge emoji to CoC page
  CITATION.cff
  docs/CODE_OF_CONDUCT.rst
Labels: docs, no changelog entry needed

#2833 Add example to docstring of ParticleTracker
  CITATION.cff
  changelog/2833.doc.rst
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Labels: plasmapy.simulation, python

#2818 lil sloth dood hanging on a branch added to getting started
  CITATION.cff
  docs/getting_started.rst
Labels: docs, no changelog entry needed

#2805 TE: Added an emoji as part of the plasmapy summer school learning to …
  CITATION.cff
  docs/getting_started.rst
Labels: docs, no changelog entry needed

#2794 Add Nox session to CI to ensure consistency of `pyproject.toml` with pinned requirements
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  changelog/2794.internal.rst
  noxfile.py
Labels: testing, CI, requirements, GitHub Actions, packaging, linters, maintenance, python, nox

#2842 Fix minor test failure from change to `astropy.units` namespace
  tests/dispersion/analytical/test_mhd_wave_class.py
Labels: testing, no changelog entry needed, plasmapy.dispersion, python, run weekly tests in CI
