Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-04, with the labels that each got.

#2604 Moved charge/mass number to Other Parameters
  CITATION.cff
  plasmapy/particles/atomic.py
  plasmapy/particles/symbols.py
Labels: plasmapy.particles, no changelog entry needed, packaging

#2601 Update project settings
  .gitignore
  .pre-commit-config.yaml
  MANIFEST.in
  conftest.py
  docs/contributing/testing_guide.rst
  docs/notebooks/formulary/coulomb.ipynb
  plasmapy/conftest.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  pyproject.toml
  tox.ini
Labels: plasmapy.particles, docs, plasmapy.formulary, testing, no changelog entry needed, CI, notebooks, contributor guide, packaging, linters

#2609 Loosen voila requirement and update pinned requirements
  pyproject.toml
  requirements.txt
  requirements/requirements_docs_py312.txt
  requirements/requirements_tests_lowest_direct_py310.txt
  requirements/requirements_tests_py310.txt
  requirements/requirements_tests_py311.txt
  requirements/requirements_tests_py312.txt
Labels: no changelog entry needed, dependencies, packaging

#2612 Include coverage in a weekly test
  .github/workflows/weekly-tests.yml
Labels: testing, no changelog entry needed, CI, GitHub Actions

#2613 Fix coverage setup in weekly tests
  .github/workflows/weekly-tests.yml
Labels: testing, no changelog entry needed, CI, GitHub Actions

#2615 Update name of Codecov configuration file
  codecov.yml
Labels: no changelog entry needed

#2616 Include `CODECOV_TOKEN` in the GitHub workflows that it is used in
  .github/workflows/tests.yml
  .github/workflows/weekly-tests.yml
Labels: testing, no changelog entry needed, CI, GitHub Actions

#2617 Update Codecov settings and usage
  .github/workflows/tests.yml
  .github/workflows/weekly-tests.yml
  codecov.yml
Labels: testing, no changelog entry needed, CI, GitHub Actions

#2614 Added Tests for Verify correctness in MaxwellianCollisionFrequencies
  CITATION.cff
  changelog/2614.trivial.rst
  plasmapy/formulary/collisions/tests/test_frequencies.py
Labels: plasmapy.formulary, testing, packaging

#2624 Put token for Codecov back in configuration file
  codecov.yml
Labels: no changelog entry needed

#2623 Modify the way settings are passed to the _spectral_density_model function
  changelog/2623.bugfix.rst
  plasmapy/diagnostics/thomson.py
Labels: bug, plasmapy.diagnostics

#2618 Add examples to `thermal_bremsstrahlung` docstring
  changelog/2618.doc.rst
  plasmapy/formulary/radiation.py
Labels: docs, plasmapy.formulary

#2622 Use pinned requirements for Python 3.12 in Read the Docs build 📍
  .readthedocs.yml
  tox.ini
Labels: docs, testing, no changelog entry needed, CI, size: very small

#2627 Fix bug when giving `thermal_bremsstrahlung multiple` density values
  changelog/2627.bugfix.rst
  plasmapy/formulary/radiation.py
Labels: bug, plasmapy.formulary

#2633 Discuss consequences of switch to `src` layout in `README.md`
  .github/workflows/comment-on-pr.yml
  README.md
Labels: docs, no changelog entry needed, GitHub Actions

#2636 Several improvements to OTS fitting
  changelog/2636.feature.rst
  src/plasmapy/diagnostics/thomson.py
  tests/diagnostics/test_thomson.py
Labels: testing, plasmapy.diagnostics

#2646 Remove upper limit on Sphinx
  pyproject.toml
  requirements.txt
  requirements/requirements_docs_py312.txt
Labels: no changelog entry needed, dependencies, packaging

#2652 Fix workflow to comment on pull requests
  .github/workflows/comment-on-pr.yml
Labels: no changelog entry needed, GitHub Actions

#2653 Update Codecov settings
  .github/labeler.yml
  codecov.yml
  docs/contributing/testing_guide.rst
Labels: docs, no changelog entry needed, CI, GitHub Actions, contributor guide

#2651 Update `.git-blame-ignore-revs` to ignore recent repository-wide changes
  .git-blame-ignore-revs
  .github/workflows/tests.yml
  .pre-commit-config.yaml
  src/plasmapy/formulary/collisions/helio/collisional_analysis.py
  tests/dispersion/test_dispersion_functions.py
  tests/particles/conftest.py
  tests/particles/test_particle_class.py
Labels: testing, no changelog entry needed, CI, GitHub Actions, linters, maintenance
