Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-01, with the labels that each got.

#2437 Annotate dunder methods using `autotyping` and change `NoReturn` annotations to `None`
  changelog/2437.trivial.rst
  mypy.ini
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/time_series/conditional_averaging.py
  plasmapy/analysis/time_series/excess_statistics.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/dispersion/analytical/mhd_waves_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/relativity.py
  plasmapy/particles/_special_particles.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/plasma/cylindrical_equilibria.py
  plasmapy/plasma/equilibria1d.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/sources/plasma3d.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/simulation/abstractions.py
  plasmapy/simulation/particletracker.py
  plasmapy/tests/_helpers/tests/sample_functions.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/datatype_factory_base.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_checks.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/tests/test_datatype_factory_base.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, plasmapy.dispersion, plasmapy.analysis, plasmapy.simulation, static type checking

#2058 Add notch option to thomson spectral density function
  changelog/2058.feature.rst
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/diagnostics/thomson.py
Labels: testing, plasmapy.diagnostics, size: medium

#2432 Add mypy to continuous integration suite
  .github/workflows/tests.yml
  changelog/2432.trivial.rst
  mypy.ini
  tox.ini
Labels: testing, CI, GitHub Actions, static type checking

#2444 Fix mypy configuration and routine updates
  LICENSE.md
  README.md
  mypy.ini
Labels: docs, no changelog entry needed, packaging

#2445 Disallow deprecated aliases from `typing`
  pyproject.toml
  type_stubs/wrapt.pyi
Labels: no changelog entry needed, packaging

#2446 Add type hints for bool default arguments
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/time_series/conditional_averaging.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/formulary/collisions/helio/collisional_analysis.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/_pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/datatype_factory_base.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, no changelog entry needed, plasmapy.analysis, plasmapy.simulation

#2448 Use autotyping on return values
  plasmapy/analysis/nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/tests/test_plasma_base.py
  plasmapy/utils/_pytest_helpers/tests/test_pytest_helpers.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/tests/test_lite_func.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/tests/test_code_repr.py
Labels: plasmapy.particles, plasmapy.plasma, testing, plasmapy.diagnostics, plasmapy.utils, no changelog entry needed, plasmapy.analysis

#2443 Improve type hint annotations for `@particle_input`
  changelog/2443.trivial.rst
  mypy.ini
  plasmapy/particles/decorators.py
  plasmapy/particles/tests/test_decorators.py
Labels: plasmapy.particles, testing

#2447 Add type hints for float default arguments
  plasmapy/analysis/nullpoint.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/particles/ionization_state.py
  plasmapy/plasma/grids.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/checks.py
Labels: plasmapy.particles, plasmapy.plasma, testing, plasmapy.diagnostics, plasmapy.utils, no changelog entry needed, plasmapy.analysis

#2440 Discuss type hint annotations in testing guide
  changelog/2440.doc.rst
  docs/_global_substitutions.py
  docs/contributing/testing_guide.rst
Labels: docs, contributor guide, static type checking

#2449 Use autotyping to add type hint annotations based on common names
  mypy.ini
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/nullpoint.py
  plasmapy/analysis/swept_langmuir/tests/test_floating_potential.py
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/helio/collisional_analysis.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_nuclear.py
  plasmapy/particles/tests/test_parsing.py
  plasmapy/particles/tests/test_particle_class.py
  plasmapy/plasma/cylindrical_equilibria.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/tests/test_plasma3d.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/simulation/particletracker.py
  plasmapy/utils/_pytest_helpers/pytest_helpers.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/tests/test_helpers.py
  plasmapy/utils/tests/test_code_repr.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, no changelog entry needed, plasmapy.analysis, plasmapy.simulation, static type checking

#2463 Modernize `docs/Makefile` with help from `sphinx-quickstart`
  .gitignore
  docs/Makefile
Labels: docs, no changelog entry needed

#2466 Fix path in GitHub Action for creating issue with release checklist
  .github/workflows/create-release-issue.yml
Labels: no changelog entry needed, GitHub Actions, packaging

#2475 Fix nearest neighbor index errors/Remove SciPy upper limit
  changelog/2475.trivial.rst
  plasmapy/plasma/grids.py
  pyproject.toml
Labels: plasmapy.plasma, packaging

#2465 docs: linkchecking: update ignored hyperlinks and repair/allow valid redirects
  CITATION.cff
  docs/conf.py
  docs/contributing/release_guide.rst
Labels: docs, no changelog entry needed, contributor guide, packaging

#2473 Add `py.typed` marker and update `MANIFEST.in` for static type checking
  MANIFEST.in
  changelog/2473.trivial.rst
  plasmapy/py.typed
Labels: packaging

#2476 ci: run hyperlink checking with quiet mode flag enabled
  .github/workflows/check-hyperlinks.yml
  changelog/2476.trivial.rst
Labels: no changelog entry needed, GitHub Actions

#2477 Add new hyperlink redirects and add links to docstring of documentation configuration file
  CITATION.cff
  docs/conf.py
Labels: docs, no changelog entry needed, packaging

#2478 Revise testing environment for performing linkchecks of documentation builds
  .github/workflows/check-hyperlinks.yml
  docs/contributing/doc_guide.rst
  tox.ini
Labels: docs, testing, no changelog entry needed, CI, GitHub Actions, contributor guide

#2481 Update requirements with upper limit on pytest
  pyproject.toml
  requirements.txt
Labels: dependencies, packaging

#2455 Specify a version for Ruby in pre-commit configuration
  .pre-commit-config.yaml
Labels: no changelog entry needed, CI, linters
