Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-03, with the labels that each got.

#2552 Speed up tests by caching `.tox` in GitHub Actions and update tox environments
  .github/workflows/tests.yml
  .github/workflows/weekly-tests.yml
  changelog/2552.internal.rst
  tox.ini
Labels: status: ready for review, testing, optimization, CI, GitHub Actions, maintenance

#2554 Turn off `sphinx-codeautolink` in some docstrings to avoid warnings in repeat builds
  docs/contributing/doc_guide.rst
  plasmapy/analysis/time_series/conditional_averaging.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/utils/decorators/lite_func.py
Labels: docs, plasmapy.formulary, plasmapy.utils, no changelog entry needed, plasmapy.analysis, contributor guide, packaging, revisit in 2025

#2556 Fix GitHub Action to regenerate requirements
  .github/workflows/update-pinned-reqs.yml
Labels: no changelog entry needed, GitHub Actions

#2558 Remove `setup.py`
  changelog/2558.internal.rst
  setup.py
Labels: packaging

#2509 Parametrize tests of `Debye_length`
  changelog/2509.internal.rst
  plasmapy/formulary/tests/test_lengths.py
Labels: plasmapy.formulary, testing, plasmapy.simulation

#2483 Decorate potentially flaky tests with `@pytest.mark.flaky` from `pytest-rerunfailures`
  changelog/2483.trivial.rst
  docs/contributing/testing_guide.rst
  plasmapy/utils/data/tests/test_downloader.py
  pyproject.toml
  requirements.txt
Labels: docs, status: ready for review, testing, plasmapy.utils, dependencies, contributor guide, packaging

#2516 Add known limitations to docstring of `@particle_input`
  changelog/2516.doc.rst
  plasmapy/particles/decorators.py
Labels: plasmapy.particles, docs, status: ready for review

#2458 Improve type hint annotations to `plasmapy.particles`
  changelog/2458.trivial.rst
  mypy.ini
  plasmapy/particles/_elements.py
  plasmapy/particles/_factory.py
  plasmapy/particles/atomic.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: plasmapy.particles, plasmapy.plasma, status: ready for review, plasmapy.formulary, testing, plasmapy.formulary.quantum

#2560 Fix sentence in gyroradius documentation
  CITATION.cff
  changelog/2560.doc.rst
  plasmapy/formulary/lengths.py
Labels: docs, plasmapy.formulary, packaging

#2559 Make `common_isotopes`, `known_isotopes`, and `stable_isotopes` each return a `ParticleList`
  changelog/2559.breaking.rst
  plasmapy/particles/atomic.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_particle_class.py
Labels: plasmapy.particles, status: ready for review, testing, changes existing API

#2561 Add `sphinx-lint` to pre-commit configuration
  .pre-commit-config.yaml
  changelog/2561.internal.rst
  changelog/README.rst
  docs/plasma/index.rst
  licenses/sphinx_license.rst
Labels: docs, CI, contributor guide, linters

#2568 Fix Codecov Workflow
  .github/workflows/tests.yml
Labels: no changelog entry needed, CI, GitHub Actions

#2571 Reorganize and improve naming consistency of tests
  .github/workflows/tests.yml
  .github/workflows/update-pinned-reqs.yml
  .github/workflows/weekly-tests.yml
  .pre-commit-config.yaml
  requirements/requirements_tests_lowest_direct_py310.txt
  tox.ini
Labels: testing, no changelog entry needed, CI, GitHub Actions, linters

#2576 Switch to a GitHub Action for validating CITATION.cff
  .github/workflows/tests.yml
  tox.ini
Labels: testing, no changelog entry needed, CI, GitHub Actions

#2578 Explicitly specify UTF-8 for citation generation
  changelog/2578.bugfix.rst
  docs/_cff_to_rst.py
Labels: bug, docs

#2565 Update documentation guide on how to locally build docs
  changelog/2565.doc.rst
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  tox.ini
Labels: docs, testing, CI, contributor guide

#2584 Enable a `tox` extension to use `uv` instead of `pip` for installing all the things
  .github/workflows/linkcheck.yml
  .github/workflows/mint-release.yml
  .github/workflows/tests.yml
  .github/workflows/update-pinned-reqs.yml
  .github/workflows/weekly-tests.yml
  changelog/2584.internal.rst
  docs/_global_substitutions.py
  plasmapy/simulation/tests/test_particle_tracker.py
  pyproject.toml
  requirements.txt
  requirements/requirements_docs_py312.txt
  requirements/requirements_tests_lowest_direct_py310.txt
  requirements/requirements_tests_py310.txt
  requirements/requirements_tests_py311.txt
  requirements/requirements_tests_py312.txt
Labels: docs, testing, CI, dependencies, GitHub Actions, packaging, plasmapy.simulation

#2588 Fix typo in docs
  changelog/2588.doc.rst
  plasmapy/formulary/densities.py
Labels: docs, plasmapy.formulary

#2593 Add some new ruff rules
  plasmapy/analysis/tests/test_fit_functions.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/plasma_base.py
  plasmapy/utils/decorators/checks.py
  pyproject.toml
Labels: plasmapy.plasma, testing, plasmapy.utils, no changelog entry needed, plasmapy.analysis, packaging

#2599 Update versions of Python in weekly tests
  .github/workflows/weekly-tests.yml
Labels: testing, no changelog entry needed, CI, GitHub Actions

#2570 Create a class to manage local and online resource files
  .github/workflows/tests.yml
  .github/workflows/weekly-tests.yml
  CHANGELOG.rst
  changelog/2570.feature.rst
  docs/changelog/0.9.0.rst
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/formulary/coulomb.ipynb
  mypy.ini
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/utils/data/__init__.py
  plasmapy/utils/data/downloader.py
  plasmapy/utils/data/tests/test_downloader.py
  tox.ini
Labels: docs, testing, plasmapy.diagnostics, plasmapy.utils, CI, notebooks, GitHub Actions
