Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-09, with the labels that each got.

#2843 Ignore stopped particles in `synthetic_radiograph`
  changelog/2843.breaking.rst
  changelog/2843.bugfix.rst
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
Labels: testing, plasmapy.diagnostics, breaking change, plasmapy.simulation, bugfix, python

#2841 Remove Numba as a dependency
  changelog/2841.internal.rst
  ci_requirements/all-3.12-linux.txt
  ci_requirements/all-3.12-macos.txt
  ci_requirements/all-3.12-windows.txt
  ci_requirements/docs-3.12-linux.txt
  ci_requirements/docs-3.12-macos.txt
  ci_requirements/docs-3.12-windows.txt
  ci_requirements/tests-3.10-linux-lowest-direct.txt
  ci_requirements/tests-3.10-linux.txt
  ci_requirements/tests-3.10-macos-lowest-direct.txt
  ci_requirements/tests-3.10-macos.txt
  ci_requirements/tests-3.10-windows-lowest-direct.txt
  ci_requirements/tests-3.10-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  docs/_global_substitutions.py
  docs/changelog/0.8.1.rst
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/performance_tips.rst
  pyproject.toml
  src/plasmapy/formulary/frequencies.py
  src/plasmapy/formulary/speeds.py
  src/plasmapy/utils/decorators/lite_func.py
  tests/formulary/test_plasma_frequency.py
  tests/formulary/test_thermal_speed.py
  tests/utils/decorators/test_lite_func.py
Labels: docs, plasmapy.formulary, testing, plasmapy.utils, prototype 🏗️, requirements, contributor guide, packaging, maintenance, documentation infrastructure, python

#2853 Organize `CITATION.cff`
  CITATION.cff
Labels: no changelog entry needed

#2854 Update ruff configuration and pre-commit hooks
  .pre-commit-config.yaml
  pyproject.toml
  src/plasmapy/analysis/nullpoint.py
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/diagnostics/thomson.py
  src/plasmapy/formulary/magnetostatics.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/simulation/particle_tracker/save_routines.py
  tests/analysis/test_nullpoint.py
  tests/diagnostics/charged_particle_radiography/test_detector_stacks.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/diagnostics/test_langmuir.py
  tests/diagnostics/test_thomson.py
  tests/formulary/collisions/helio/test_collisional_analysis.py
  tests/formulary/collisions/test_collisions_dimensionless.py
  tests/formulary/test_densities.py
  tests/formulary/test_distribution.py
  tests/formulary/test_quantum.py
  tests/formulary/test_transport.py
  tests/particles/conftest.py
  tests/particles/test_atomic.py
  tests/particles/test_ionization_collection.py
  tests/particles/test_ionization_state.py
  tests/particles/test_particle_class.py
  tests/particles/test_particle_collections.py
  tests/plasma/sources/test_openpmd_hdf5.py
  tests/plasma/sources/test_plasma3d.py
  tests/plasma/sources/test_plasmablob.py
  tests/plasma/test_grids.py
  tests/simulation/test_particle_tracker.py
  tests/simulation/test_save_routines.py
  tests/utils/data/test_downloader.py
  tests/utils/decorators/test_checks.py
  tests/utils/decorators/test_validators.py
  tests/utils/test_code_repr.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, no changelog entry needed, CI, plasmapy.analysis, packaging, plasmapy.simulation, linters, python

#2807 added the running emoji to the getting ready page
  docs/contributing/getting_ready.rst
Labels: docs, no changelog entry needed, contributor guide

#2812 added emoji
  CITATION.cff
  docs/CODE_OF_CONDUCT.rst
Labels: docs, no changelog entry needed

#2820 add emoji to coding guide
  CITATION.cff
  docs/contributing/coding_guide.rst
Labels: docs, no changelog entry needed, contributor guide

#2816 Add Celebration Emojis to the Getting Ready to Contribute Page
  docs/contributing/getting_ready.rst
Labels: docs, no changelog entry needed, contributor guide

#2801 Update install.rst
  CITATION.cff
  docs/install.rst
Labels: docs, no changelog entry needed

#2815 Added 'Baby' emoji to visually denote 'new user' in .
  CITATION.cff
  docs/getting_started.rst
Labels: docs, no changelog entry needed

#2800 Modified the `Particle.ionize()` method to accept `np.inf` as an argument
  CITATION.cff
  changelog/2800.feature.rst
  src/plasmapy/particles/particle_class.py
  tests/particles/test_particle_class.py
Labels: plasmapy.particles, testing, python, feature

#2857 Adjust sphinx config for RTD default changes
  changelog/2857.internal.rst
  docs/conf.py
Labels: maintenance, documentation infrastructure, python
