Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-06, with the labels that each got.

#2716 Update GitHub workflow to regenerate requirements
  .github/content/update-requirements-pr-body.md
  .github/workflows/update-pinned-reqs.yml
Labels: no changelog entry needed, GitHub Actions

#2710 Make `Downloader` Test Suite Resilient to `ReadTimeout`
  changelog/2710.internal.rst
  src/plasmapy/particles/atomic.py
  src/plasmapy/utils/data/__init__.py
  src/plasmapy/utils/data/downloader.py
  tests/diagnostics/charged_particle_radiography/test_detector_stacks.py
  tests/utils/data/test_downloader.py
Labels: plasmapy.particles, testing, plasmapy.diagnostics, plasmapy.utils, maintenance, python

#2693 Issue 2673: Rename `binding_energy` to remove ambiguity, add `electron_binding_energy`
  changelog/2693.feature.rst
  src/plasmapy/particles/nuclear.py
  src/plasmapy/particles/particle_class.py
  tests/particles/test_particle_class.py
Labels: plasmapy.particles, testing, python, feature

#2675 Update release checklist following `v2024.5.0` release
  .github/content/release-checklist.md
Labels: status: ready for review, no changelog entry needed, GitHub Actions

#2694 Finish transition from tox to Nox for current continuous integration checks and weekly tests
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/weekly-tests.yml
  .github/workflows/weekly.yml
  .pre-commit-search-and-replace.yaml
  changelog/2694.internal.1.rst
  changelog/2694.internal.2.rst
  changelog/2694.internal.3.rst
  changelog/2694.internal.4.rst
  ci_requirements/README.md
  ci_requirements/all-3.12.txt
  ci_requirements/requirements_docs_py312.txt
  ci_requirements/requirements_tests_lowest_direct_py310.txt
  ci_requirements/requirements_tests_py310.txt
  ci_requirements/requirements_tests_py311.txt
  ci_requirements/requirements_tests_py312.txt
  ci_requirements/tests-3.10-lowest-direct.txt
  ci_requirements/tests-3.10.txt
  ci_requirements/tests-3.11.txt
  ci_requirements/tests-3.12.txt
  noxfile.py
  pyproject.toml
  requirements.txt
  tox.ini
Labels: testing, CI, requirements, GitHub Actions, packaging, linters, maintenance, documentation infrastructure, python, nox, run weekly tests in CI

#2696 Add Nox session that uses `autotyping` to automatically add type hint annotations
  .github/scripts/authors_in_cff.py
  .github/scripts/citation_updater.py
  .gitignore
  changelog/2696.internal.rst
  noxfile.py
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/particles/ionization_state.py
  src/plasmapy/particles/ionization_state_collection.py
  src/plasmapy/particles/particle_class.py
  src/plasmapy/plasma/sources/openpmd_hdf5.py
  src/plasmapy/simulation/particle_tracker/termination_conditions.py
  src/plasmapy/utils/data/downloader.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/diagnostics/test_thomson.py
  tests/formulary/test_lengths.py
  tests/particles/test_atomic.py
  tests/particles/test_particle_class.py
  tests/simulation/test_particle_tracker.py
  tests/simulation/test_save_routines.py
  tests/utils/data/test_downloader.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, CI, GitHub Actions, plasmapy.simulation, maintenance, static type checking, python, nox, tools

#2708 Revive Relativistic Boris Push
  docs/changelog/0.6.0.rst
  docs/changelog/0.9.0.rst
  mypy.ini
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/simulation/particle_integrators.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/simulation/test_particle_tracker.py
Labels: docs, testing, plasmapy.diagnostics, CI, notebooks, plasmapy.simulation, documentation infrastructure, static type checking, python

#2729 Spitzer resistivity edit
  CITATION.cff
  src/plasmapy/formulary/collisions/misc.py
Labels: plasmapy.formulary, python

#2730 HarrisSheet examples added
  src/plasmapy/plasma/equilibria1d.py
Labels: plasmapy.plasma, python

#2731 Add GitHub workflow to check changelog entries
  .github/workflows/changelog.yml
  pyproject.toml
Labels: no changelog entry needed, GitHub Actions, packaging

#2728 Apply autotyping with aggressive options with updates to type hints and docstrings
  changelog/2728.internal.rst
  mypy.ini
  src/plasmapy/analysis/nullpoint.py
  src/plasmapy/analysis/time_series/conditional_averaging.py
  src/plasmapy/analysis/time_series/excess_statistics.py
  src/plasmapy/analysis/time_series/running_moments.py
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/formulary/braginskii.py
  src/plasmapy/formulary/collisions/coulomb.py
  src/plasmapy/formulary/collisions/dimensionless.py
  src/plasmapy/formulary/collisions/frequencies.py
  src/plasmapy/formulary/collisions/lengths.py
  src/plasmapy/formulary/collisions/misc.py
  src/plasmapy/formulary/distribution.py
  src/plasmapy/formulary/magnetostatics.py
  src/plasmapy/formulary/speeds.py
  src/plasmapy/particles/atomic.py
  src/plasmapy/particles/ionization_state.py
  src/plasmapy/particles/ionization_state_collection.py
  src/plasmapy/plasma/sources/plasmablob.py
  src/plasmapy/utils/calculator/widget_helpers.py
  src/plasmapy/utils/decorators/converter.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/diagnostics/test_thomson.py
  tests/dispersion/test_dispersion_functions.py
  tests/utils/decorators/test_checks.py
  tests/utils/decorators/test_converters.py
Labels: plasmapy.particles, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, plasmapy.dispersion, CI, GitHub Actions, plasmapy.analysis, plasmapy.simulation, maintenance, static type checking, python, nox, tools
