Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-11, with the labels that each got.

#2898 Make pytest ignore the `tools` directory
  pyproject.toml
Labels: no changelog entry needed, packaging, python

#2892 Add & update notebook gallery sections
  changelog/2892.doc.rst
  docs/about/citation.rst
  docs/ad/analysis/index.rst
  docs/ad/analysis/swept_langmuir.rst
  docs/ad/diagnostics/charged_particle_radiography/detector_stacks.rst
  docs/ad/diagnostics/charged_particle_radiography/index.rst
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
  docs/ad/diagnostics/index.rst
  docs/ad/diagnostics/langmuir.rst
  docs/ad/diagnostics/thomson.rst
  docs/ad/index.rst
  docs/api_static/plasmapy.analysis.fit_functions.rst
  docs/api_static/plasmapy.analysis.nullpoint.rst
  docs/api_static/plasmapy.analysis.time_series.rst
  docs/api_static/plasmapy.dispersion.analytical.mhd_waves_.rst
  docs/api_static/plasmapy.dispersion.analytical.rst
  docs/api_static/plasmapy.dispersion.analytical.stix_.rst
  docs/api_static/plasmapy.dispersion.analytical.two_fluid_.rst
  docs/api_static/plasmapy.dispersion.dispersion_functions.rst
  docs/api_static/plasmapy.dispersion.numerical.hollweg_.rst
  docs/api_static/plasmapy.dispersion.numerical.rst
  docs/api_static/plasmapy.formulary.collisions.coulomb.rst
  docs/api_static/plasmapy.particles.atomic.rst
  docs/api_static/plasmapy.particles.ionization_state.rst
  docs/api_static/plasmapy.particles.ionization_state_collection.rst
  docs/api_static/plasmapy.particles.particle_class.rst
  docs/api_static/plasmapy.particles.particle_collections.rst
  docs/api_static/plasmapy.particles.symbols.rst
  docs/api_static/plasmapy.plasma.grids.rst
  docs/api_static/plasmapy.rst
  docs/bibliography.bib
  docs/bibliography.rst
  docs/changelog/0.6.0.rst
  docs/dispersion/index.rst
  docs/examples.rst
  docs/formulary/braginskii.rst
  docs/formulary/collisions.rst
  docs/formulary/dielectric.rst
  docs/formulary/dimensionless.rst
  docs/formulary/distribution.rst
  docs/formulary/drifts.rst
  docs/formulary/frequencies.rst
  docs/formulary/index.rst
  docs/formulary/lengths.rst
  docs/formulary/magnetostatics.rst
  docs/formulary/radiation.rst
  docs/formulary/speeds.rst
  docs/index.rst
  docs/particles/index.rst
  docs/particles/ionization_states.rst
  docs/particles/particle_class.rst
  docs/plasmapy_sphinx/autodoc/automodapi.py
  docs/plasmapy_sphinx/utils.py
  docs/simulation/index.rst
  docs/simulation/particle_tracker/index.rst
  docs/utils/index.rst
  pyproject.toml
  src/plasmapy/diagnostics/langmuir.py
Labels: plasmapy.particles, docs, plasmapy.formulary, plasmapy.diagnostics, plasmapy.utils, plasmapy.dispersion, plasmapy.analysis, packaging, plasmapy.simulation, documentation infrastructure, python

#2901 Make minor updates to documentation and changelog
  changelog/2901.doc.rst
  docs/changelog/0.1.0.rst
  docs/changelog/0.1.1.rst
  docs/changelog/0.2.0.rst
  docs/changelog/0.3.0.rst
  docs/changelog/0.3.1.rst
  docs/changelog/0.4.0.rst
  docs/changelog/0.5.0.rst
  docs/changelog/0.6.0.rst
  docs/changelog/0.7.0.rst
  docs/changelog/2023.10.0.rst
  docs/changelog/2024.7.0.rst
  docs/index.rst
Labels: docs

#2880 Drop support for Python 3.10 and bump minimum versions of dependencies
  .github/workflows/check-author-included.yml
  .github/workflows/ci.yml
  .github/workflows/mint-release.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/update-pinned-reqs.yml
  .github/workflows/weekly.yml
  .sourcery.yaml
  changelog/2880.internal.rst
  ci_requirements/tests-3.10-linux.txt
  ci_requirements/tests-3.10-macos-lowest-direct.txt
  ci_requirements/tests-3.10-windows-lowest-direct.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  docs/_global_substitutions.py
  docs/conf.py
  docs/contributing/coding_guide.rst
  mypy.ini
  noxfile.py
  pyproject.toml
  src/plasmapy/__init__.py
  tests/diagnostics/test_langmuir.py
  tests/formulary/test_frequencies.py
Labels: docs, plasmapy.formulary, testing, plasmapy.diagnostics, CI, requirements, GitHub Actions, contributor guide, packaging, linters, maintenance, release, documentation infrastructure, static type checking, python, nox

#2886 Update release checklist following v2024.10.0 release
  .github/content/release-checklist.md
  changelog/2886.internal.rst
Labels: GitHub Actions, maintenance

#2921 Update README.md
  README.md
Labels: no changelog entry needed, maintenance

#2915 Resolve documentation build errors
  changelog/2915.doc.rst
  changelog/2915.internal.rst
  docs/_global_substitutions.py
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  src/plasmapy/utils/data/downloader.py
  src/plasmapy/utils/decorators/checks.py
  src/plasmapy/utils/decorators/validators.py
Labels: docs, plasmapy.diagnostics, plasmapy.utils, notebooks, packaging, maintenance, documentation infrastructure, python
