Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-07, with the labels that each got.

#2743 Drop `|tox|` global substitution and adjust changelog formatting
  CHANGELOG.rst
  changelog/2664.internal.rst
  changelog/2685.internal.rst
  changelog/2693.feature.1.rst
  changelog/2693.feature.2.rst
  changelog/2694.internal.2.rst
  changelog/2694.internal.3.rst
  changelog/2694.internal.4.rst
  changelog/2704.trivial.rst
  ci_requirements/all-3.12.txt
  ci_requirements/docs-3.12.txt
  ci_requirements/tests-3.10-lowest-direct.txt
  ci_requirements/tests-3.10.txt
  ci_requirements/tests-3.11.txt
  ci_requirements/tests-3.12.txt
  docs/_global_substitutions.py
  docs/changelog/0.7.0.rst
  docs/changelog/0.8.1.rst
  docs/changelog/0.9.0.rst
  docs/changelog/0.9.1.rst
  docs/changelog/2023.1.0.rst
  docs/changelog/2023.10.0.rst
  docs/changelog/2023.5.0.rst
  docs/changelog/2024.2.0.rst
  docs/changelog/2024.5.0.rst
  docs/contributing/testing_guide.rst
  pyproject.toml
Labels: docs, no changelog entry needed, requirements, contributor guide, packaging, maintenance, documentation infrastructure, python, feature, skip changelog checks

#2506 Make `@validate_quantities` compatible with `from __future__ import annotations`
  changelog/2506.bugfix.rst
  src/plasmapy/utils/decorators/validators.py
  tests/utils/decorators/test_validate_quantities_annotations.py
Labels: status: ready for review, testing, plasmapy.utils, bugfix, python

#2738 Update docstrings in `plasmapy.diagnostics`
  changelog/2738.doc.rst
  src/plasmapy/diagnostics/langmuir.py
  src/plasmapy/diagnostics/thomson.py
  src/plasmapy/plasma/grids.py
Labels: plasmapy.plasma, status: ready for review, plasmapy.diagnostics, python

#2736 Update docstrings in `plasmapy.formulary.collisions`
  changelog/2736.doc.rst
  src/plasmapy/formulary/braginskii.py
  src/plasmapy/formulary/collisions/coulomb.py
  src/plasmapy/formulary/collisions/frequencies.py
  src/plasmapy/formulary/collisions/helio/collisional_analysis.py
  src/plasmapy/formulary/collisions/lengths.py
Labels: status: ready for review, plasmapy.formulary, python

#2734 Add type hints to `plasmapy.utils._units_helpers`
  changelog/2734.internal.rst
  mypy.ini
  src/plasmapy/utils/_units_helpers.py
  tests/utils/test_units_helpers.py
Labels: status: ready for review, testing, plasmapy.utils, CI, maintenance, static type checking, python

#2746 Require `particle` for `ParticleTracker.load_particles`
  changelog/2746.breaking.rst
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/simulation/test_particle_tracker.py
Labels: testing, plasmapy.diagnostics, breaking change, plasmapy.simulation, python

#2750 Update Nox sessions including docstrings and troubleshooting messages
  .github/scripts/authors_in_cff.py
  changelog/2750.internal.rst
  noxfile.py
Labels: testing, CI, GitHub Actions, maintenance, python, nox, tools

#2712 Add Stopping to `ParticleTracker`
  changelog/2712.breaking.rst
  changelog/2712.feature.rst
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/formulary/collisions/misc.py
  src/plasmapy/particles/atomic.py
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_integrators.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/simulation/particle_tracker/termination_conditions.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/formulary/collisions/test_collisions_misc.py
  tests/simulation/test_particle_tracker.py
Labels: plasmapy.particles, docs, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, breaking change, CI, notebooks, plasmapy.simulation, documentation infrastructure, static type checking, python, feature

#2733 Add type hints to `plasmapy.utils.roman`
  changelog/2733.internal.rst
  mypy.ini
  noxfile.py
  src/plasmapy/utils/roman.py
  tests/utils/test_roman.py
Labels: status: ready for review, testing, plasmapy.utils, CI, maintenance, static type checking, python, nox

#2735 Update docstrings for `plasmapy.dispersion` and `plasmapy.plasma.grids`
  changelog/2735.doc.rst
  src/plasmapy/dispersion/analytical/mhd_waves_.py
  src/plasmapy/dispersion/analytical/stix_.py
  src/plasmapy/dispersion/analytical/two_fluid_.py
  src/plasmapy/dispersion/numerical/kinetic_alfven_.py
Labels: status: ready for review, plasmapy.dispersion, python

#2756 Include `src/plasmapy/_version.py` in `MANIFEST.in`
  MANIFEST.in
  changelog/2756.trivial.rst
  docs/conf.py
Labels: packaging, documentation infrastructure, python

#2758 Apply autofixes from ruff rule PLR6201
  src/plasmapy/dispersion/analytical/mhd_waves_.py
  src/plasmapy/dispersion/analytical/stix_.py
  src/plasmapy/dispersion/analytical/two_fluid_.py
  src/plasmapy/dispersion/numerical/hollweg_.py
  src/plasmapy/dispersion/numerical/kinetic_alfven_.py
  src/plasmapy/formulary/braginskii.py
  src/plasmapy/formulary/collisions/coulomb.py
  src/plasmapy/formulary/collisions/frequencies.py
  src/plasmapy/formulary/collisions/lengths.py
  src/plasmapy/particles/atomic.py
  src/plasmapy/particles/particle_class.py
  src/plasmapy/utils/decorators/checks.py
  tests/formulary/test_transport.py
  tests/particles/test_special_particles.py
Labels: plasmapy.particles, plasmapy.formulary, testing, plasmapy.utils, no changelog entry needed, plasmapy.dispersion, python

#2755 Update `docs/conf.py`
  .github/workflows/changelog.yml
  .pre-commit-config.yaml
  docs/conf.py
  pyproject.toml
Labels: no changelog entry needed, CI, GitHub Actions, packaging, linters, documentation infrastructure, python

#2759 Update release checklist
  .github/content/release-checklist.md
Labels: no changelog entry needed, GitHub Actions

#2761 Update changlog entries prior to v2024.7.0 release
  .pre-commit-config.yaml
  .pre-commit-search-and-replace.yaml
  changelog/2699.bugfix.rst
  changelog/2700.internal.rst
  changelog/2712.feature.1.rst
  changelog/2712.feature.2.rst
  changelog/2712.feature.3.rst
  changelog/2728.internal.rst
  changelog/2733.internal.rst
  changelog/2734.internal.rst
  changelog/2746.breaking.rst
  changelog/2756.trivial.rst
Labels: breaking change, CI, linters, bugfix, maintenance, feature, skip changelog checks

#2763 Re-write 'Test independence and parametrization' section of testing guide
  CITATION.cff
  changelog/2763.doc.rst
  docs/contributing/testing_guide.rst
Labels: docs, contributor guide

#2766 Generate table of global substitutions to put in the documentation guide
  .gitignore
  CODEOWNERS
  changelog/2766.doc.1.rst
  changelog/2766.doc.2.rst
  docs/_author_list_from_cff.py
  docs/_global_substitutions.py
  docs/conf.py
  docs/contributing/doc_guide.rst
Labels: docs, contributor guide, maintenance, documentation infrastructure, python

#2765 Update comment that gets posted to pull requests
  .github/workflows/comment-on-pr.yml
  changelog/2765.trivial.rst
Labels: GitHub Actions

#2737 Update docstrings in `plasmapy.formulary`
  changelog/2737.doc.rst
  src/plasmapy/formulary/densities.py
  src/plasmapy/formulary/dielectric.py
  src/plasmapy/formulary/dimensionless.py
  src/plasmapy/formulary/distribution.py
  src/plasmapy/formulary/drifts.py
  src/plasmapy/formulary/frequencies.py
  src/plasmapy/formulary/ionization.py
  src/plasmapy/formulary/magnetostatics.py
  src/plasmapy/formulary/mathematics.py
  src/plasmapy/formulary/speeds.py
Labels: status: ready for review, plasmapy.formulary, python

#2747 Add experimental Nox session for running MonkeyType
  changelog/2747.internal.rst
  docs/_global_substitutions.py
  noxfile.py
Labels: status: ready for review, testing, CI, prototype 🏗️, maintenance, documentation infrastructure, static type checking, python, nox

#2742 Add `README.md` files to important directories
  .github/PULL_REQUEST_TEMPLATE.md
  .github/content/README.md
  .github/dependabot.yml
  .github/scripts/README.md
  .github/workflows/README.md
  .gitignore
  README.md
  changelog/2742.doc.rst
  docs/README.md
  noxfile.py
  pyproject.toml
  src/plasmapy/README.md
  tests/README.md
  type_stubs/README.md
Labels: docs, status: ready for review, testing, CI, GitHub Actions, packaging, maintenance, static type checking, python, nox, tools

#2770 Fix hyperlinks
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/getting_ready.rst
  docs/install.rst
  docs/notebooks/diagnostics/thomson_fitting.ipynb
Labels: docs, plasmapy.diagnostics, no changelog entry needed, notebooks, contributor guide, documentation infrastructure, perform linkcheck in CI, python

#2707 Update `README.md`
  README.md
Labels: status: on hold, no changelog entry needed, maintenance

#2715 Prevent array shape mismatch due to NumPy squeeze in `mhd_waves_.py`
  changelog/2715.bugfix.rst
  src/plasmapy/dispersion/analytical/mhd_waves_.py
Labels: plasmapy.dispersion, bugfix, python

#2771 Update `.mailmap`
  .mailmap
Labels: no changelog entry needed, maintenance

#2754 Automatically regenerate changelog index
  .github/scripts/citation_updater.py
  .gitignore
  changelog/2754.doc.rst
  docs/_changelog_index.py
  docs/changelog/index.rst
  docs/conf.py
Labels: docs, GitHub Actions, maintenance, documentation infrastructure, python, tools

#2454 Add section to coding guide on type hint annotations and static type checking
  changelog/2454.doc.rst
  docs/_global_substitutions.py
  docs/changelog/2024.2.0.rst
  docs/contributing/coding_guide.rst
  docs/contributing/pre-commit.rst
  docs/contributing/testing_guide.rst
Labels: docs, contributor guide, status: dormant, documentation infrastructure, python

#2772 Fix tests for `numpy == 2.0.0` and update requirements
  .pre-commit-config.yaml
  changelog/2772.internal.rst
  ci_requirements/all-3.12.txt
  ci_requirements/docs-3.12.txt
  ci_requirements/tests-3.10-lowest-direct.txt
  ci_requirements/tests-3.10.txt
  ci_requirements/tests-3.11.txt
  ci_requirements/tests-3.12.txt
  docs/notebooks/dispersion/hollweg_dispersion.ipynb
  noxfile.py
  pyproject.toml
  src/plasmapy/utils/code_repr.py
  tests/diagnostics/test_thomson.py
  tests/formulary/test_dimensionless.py
Labels: docs, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, plasmapy.dispersion, CI, notebooks, requirements, packaging, linters, maintenance, python, nox

#2744 Create Nox session for building changelog
  CHANGELOG.rst
  changelog/2744.internal.rst
  noxfile.py
Labels: testing, CI, maintenance, documentation infrastructure, python, nox

#2720 Update discussion of dependencies in `pyproject.toml` and coding guide
  changelog/2720.doc.rst
  docs/contributing/coding_guide.rst
  pyproject.toml
Labels: docs, status: ready for review, contributor guide, packaging

#2775 Modify version in latest docs to be based on current date and git hash
  changelog/2775.doc.rst
  docs/conf.py
Labels: documentation infrastructure, python

#2778 Use `autotyping` to add type hint annotations
  src/plasmapy/simulation/particle_integrators.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/formulary/collisions/test_collisions_misc.py
  tests/simulation/test_particle_tracker.py
Labels: plasmapy.formulary, testing, plasmapy.diagnostics, no changelog entry needed, plasmapy.simulation, python

#2779 Update version of ruff
  .pre-commit-config.yaml
  src/plasmapy/diagnostics/thomson.py
  tests/particles/test_factory.py
Labels: plasmapy.particles, testing, plasmapy.diagnostics, no changelog entry needed, CI, linters, python

#2780 Update release checklist
  .github/content/release-checklist.md
  README.md
Labels: no changelog entry needed, GitHub Actions, maintenance

#2777 Update contributor guide
  .github/workflows/changelog.yml
  changelog/2777.doc.1.rst
  changelog/2777.doc.2.rst
  changelog/2777.doc.3.rst
  changelog/2777.doc.4.rst
  ci_requirements/all-3.12.txt
  ci_requirements/docs-3.12.txt
  ci_requirements/tests-3.10.txt
  ci_requirements/tests-3.11.txt
  ci_requirements/tests-3.12.txt
  docs/_global_substitutions.py
  docs/changelog/0.7.0.rst
  docs/changelog/0.9.0.rst
  docs/changelog/2024.5.0.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  docs/contributing/index.rst
  docs/contributing/many_ways.rst
  docs/contributing/pre-commit.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
  docs/contributing/workflow.rst
  docs/index.rst
  docs/install.rst
  pyproject.toml
Labels: docs, requirements, GitHub Actions, contributor guide, packaging, documentation infrastructure, python

#2781 Add `sphinxemoji` as a documentation extension
  changelog/2781.doc.rst
  ci_requirements/all-3.12.txt
  ci_requirements/docs-3.12.txt
  ci_requirements/tests-3.10-lowest-direct.txt
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/index.rst
  docs/contributing/many_ways.rst
  docs/formulary/index.rst
  docs/particles/index.rst
  pyproject.toml
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/particles/test_atomic.py
  tests/simulation/test_particle_tracker.py
  tests/utils/data/test_downloader.py
Labels: plasmapy.particles, docs, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, requirements, contributor guide, packaging, plasmapy.simulation, documentation infrastructure, python

#2774 Generate OS-aware requirements
  .github/workflows/ci.yml
  .github/workflows/weekly.yml
  .readthedocs.yml
  ci_requirements/all-3.12-linux.txt
  ci_requirements/all-3.12-macos.txt
  ci_requirements/all-3.12-windows.txt
  ci_requirements/docs-3.12-linux.txt
  ci_requirements/docs-3.12-macos.txt
  ci_requirements/docs-3.12-windows.txt
  ci_requirements/tests-3.10-linux-lowest-direct.txt
  ci_requirements/tests-3.10-linux.txt
  ci_requirements/tests-3.10-macos-lowest-direct.txt
  ci_requirements/tests-3.10-macos.txt
  ci_requirements/tests-3.10-windows-lowest-direct.txt
  ci_requirements/tests-3.10-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  noxfile.py
Labels: testing, no changelog entry needed, CI, requirements, GitHub Actions, documentation infrastructure, python, nox, run weekly tests in CI

#2784 Update the checklist for releases
  .github/content/release-checklist.md
  changelog/2784.internal.rst
Labels: GitHub Actions, maintenance

#2791 Unpin sphinx
  pyproject.toml
Labels: no changelog entry needed, packaging

#2793 Fix problem with installation step in Nox sessions to build documentation
  noxfile.py
  pyproject.toml
Labels: testing, no changelog entry needed, CI, packaging, python, nox
