Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-10, with the labels that each got.

#2868 Update saving for CPR synthetic radiography
  changelog/2868.feature.1.rst
  changelog/2868.feature.2.rst
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/simulation/particle_tracker/save_routines.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/simulation/test_save_routines.py
Labels: testing, plasmapy.diagnostics, plasmapy.simulation, python, feature

#2871 Changed recognized_quantities from class property to property (Closes #2870)
  changelog/2871.breaking.rst
  docs/notebooks/plasma/grids_cartesian.ipynb
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
Labels: docs, plasmapy.plasma, testing, plasmapy.diagnostics, breaking change, notebooks, plasmapy.simulation, maintenance, python

#2877 Update changelog entries ahead of v2024.10.0 release
  .pre-commit-config.yaml
  changelog/2800.feature.rst
  changelog/2824.doc.rst
  changelog/2831.doc.rst
  changelog/2833.doc.rst
  changelog/2843.breaking.rst
  changelog/2857.internal.rst
  changelog/2861.doc.rst
Labels: linters, skip changelog checks

#2832 Added a util function to compute CFL time constraints
  changelog/2832.feature.rst
  docs/bibliography.bib
  docs/performance_tips.rst
  docs/simulation/index.rst
  docs/simulation/resolution_constraints.rst
  mypy.ini
  src/plasmapy/simulation/__init__.py
  src/plasmapy/simulation/resolution_constraints.py
  tests/simulation/test_resolution_constraints.py
Labels: docs, testing, plasmapy.utils, CI, plasmapy.simulation, static type checking, python, feature

#2803 Add emoji for chat room
  docs/COMMUNICATION.rst
Labels: docs, no changelog entry needed

#2881 Add error message in `test_checks.py`
  tests/utils/decorators/test_checks.py
Labels: testing, plasmapy.utils, no changelog entry needed, python

#2882 Fix hyperlinks ahead of v2024.10.0 release
  .github/workflows/comment-on-pr.yml
  .gitignore
  CITATION.cff
  docs/ad/ad_attention.inc
  docs/contributing/coding_guide.rst
  docs/contributing/getting_ready.rst
  docs/contributing/pre-commit.rst
  docs/contributing/testing_guide.rst
Labels: docs, no changelog entry needed, GitHub Actions, contributor guide, maintenance, perform linkcheck in CI

#2885 Merge changes back in from v2024.10.x
  CHANGELOG.rst
  CITATION.cff
  changelog/2784.internal.rst
  changelog/2794.internal.rst
  changelog/2800.feature.rst
  changelog/2822.doc.rst
  changelog/2824.doc.rst
  changelog/2830.doc.rst
  changelog/2831.doc.rst
  changelog/2832.feature.rst
  changelog/2833.doc.rst
  changelog/2834.internal.rst
  changelog/2834.trivial.rst
  changelog/2841.internal.rst
  changelog/2843.breaking.rst
  changelog/2843.bugfix.rst
  changelog/2857.internal.rst
  changelog/2861.doc.rst
  changelog/2868.feature.1.rst
  changelog/2868.feature.2.rst
  changelog/2869.internal.rst
  changelog/2871.breaking.rst
  changelog/2879.internal.rst
  docs/about/citation.rst
  docs/changelog/2024.10.0.rst
Labels: docs, breaking change, no changelog entry needed, bugfix, maintenance, feature, skip changelog checks

#2890 Update author metadata in `CITATION.cff`
  CITATION.cff
  changelog/2890.doc.rst
  docs/_global_substitutions.py
  docs/bibliography.bib
  docs/conf.py
Labels: docs, documentation infrastructure, perform linkcheck in CI, python

#2891 Use `bibtex-tidy` on `bibliography.bib`
  docs/bibliography.bib
Labels: docs, no changelog entry needed

#2895 Update acknowledgements page in documentation
  changelog/2895.doc.rst
  docs/about/credits.rst
Labels: docs
