Repository PlasmaPy/PlasmaPy, pull requests merged in 2024-02, with the labels that each got.

#2484 Specify version of `black` in `pre-commit` hook for `blacken-docs`
  .pre-commit-config.yaml
  plasmapy/particles/decorators.py
Labels: plasmapy.particles, no changelog entry needed, CI, linters

#2482 Update requirements for building docs
  .pre-commit-config.yaml
  pyproject.toml
  requirements.txt
  tox.ini
Labels: plasmapy.particles, testing, no changelog entry needed, CI, dependencies, packaging, linters

#2479 Make `@particle_input` compatible with `from __future__ import annotations`
  changelog/2479.bugfix.rst
  plasmapy/particles/decorators.py
  plasmapy/particles/tests/test_decorators_annotations.py
Labels: bug, plasmapy.particles, testing, bugfix

#2488 Bump minimum versions of dependencies
  changelog/2488.trivial.rst
  pyproject.toml
  tox.ini
Labels: docs, testing, CI, packaging

#2368 Add Python 3.12 to CI and reorganize tests
  .github/workflows/check-hyperlinks.yml
  .github/workflows/create-release-issue.yml
  .github/workflows/mint-release.yml
  .github/workflows/tests.yml
  .github/workflows/update-pinned-reqs.yml
  .github/workflows/weekly-tests.yml
  .pre-commit-search-and-replace.yaml
  changelog/2368.trivial.rst
  docs/contributing/testing_guide.rst
  requirements.txt
  tox.ini
Labels: docs, testing, CI, dependencies, GitHub Actions, contributor guide, packaging

#2489 Add setuptools as documentation build dependency for Python 3.12+
  docs/conf.py
  pyproject.toml
Labels: docs, no changelog entry needed, packaging

#2490 Perform linkchecks when pull requests are accordingly labeled
  .github/workflows/check-hyperlinks.yml
Labels: no changelog entry needed, GitHub Actions, perform linkcheck in CI

#2487 Make `synthetic_radiograph.Tracker` deterministic by adding a random seed keyword to the `create_particles` method
  changelog/2487.feature.rst
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Labels: testing, plasmapy.diagnostics

#2470 Revise changelog entries prior to v2024.1.0
  changelog/2058.feature.rst
  changelog/2387.doc.rst
  changelog/2394.trivial.rst
  changelog/2402.bugfix.rst
  changelog/2402.trivial.rst
  changelog/2403.breaking.rst
  changelog/2424.trivial.rst
  changelog/2431.trivial.rst
  changelog/2432.trivial.rst
  changelog/2437.trivial.rst
  changelog/2439.trivial.rst
  changelog/2442.trivial.rst
  changelog/2443.trivial.rst
  changelog/2453.trivial.rst
Labels: bug, docs, changes existing API, no changelog entry needed

#2492 Fix linkcheck GitHub Action along with minor updates to workflows
  .github/workflows/add-no-changelog-label.yml
  .github/workflows/check-author-included.yml
  .github/workflows/comment-on-pr.yml
  .github/workflows/create-release-issue.yml
  .github/workflows/label-pr.yml
  .github/workflows/linkcheck.yml
  .github/workflows/mint-release.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/stale.yml
  .github/workflows/tests.yml
  .github/workflows/unlabel-pr-after-merge.yml
  .github/workflows/update-pinned-reqs.yml
  .github/workflows/weekly-tests.yml
  README.md
Labels: docs, testing, no changelog entry needed, CI, GitHub Actions, packaging, perform linkcheck in CI

#2495 Improve consistency of particle definitions
  .pre-commit-search-and-replace.yaml
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/dispersion/analytical/mhd_waves_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/densities.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_dielectric.py
  plasmapy/formulary/tests/test_distribution.py
  plasmapy/formulary/tests/test_frequencies.py
  plasmapy/formulary/tests/test_lengths.py
  plasmapy/formulary/tests/test_speeds.py
  plasmapy/formulary/tests/test_thermal_speed.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/sources/tests/test_plasmablob.py
  plasmapy/plasma/tests/test_plasma_factory.py
Labels: plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.formulary.quantum, no changelog entry needed, plasmapy.dispersion

#2496 Minor changes prior to release
  .github/workflows/add-no-changelog-label.yml
  .github/workflows/check-author-included.yml
  .github/workflows/comment-on-pr.yml
  .github/workflows/create-release-issue.yml
  .github/workflows/label-pr.yml
  .github/workflows/linkcheck.yml
  .github/workflows/publish-to-pypi.yml
  .github/workflows/update-pinned-reqs.yml
  .pre-commit-config.yaml
  requirements.txt
Labels: no changelog entry needed, CI, dependencies, GitHub Actions, packaging, linters

#2500 Pull changes from the `v2024.2.0` back into `main`
  CHANGELOG.rst
  CITATION.cff
  changelog/2058.feature.rst
  changelog/2245.breaking.rst
  changelog/2368.trivial.rst
  changelog/2376.trivial.rst
  changelog/2387.doc.rst
  changelog/2392.trivial.rst
  changelog/2394.trivial.rst
  changelog/2402.trivial.rst
  changelog/2403.breaking.rst
  changelog/2410.breaking.rst
  changelog/2421.feature.rst
  changelog/2424.trivial.rst
  changelog/2428.feature.rst
  changelog/2431.trivial.rst
  changelog/2432.trivial.rst
  changelog/2437.trivial.rst
  changelog/2439.trivial.rst
  changelog/2440.doc.rst
  changelog/2442.trivial.rst
  changelog/2443.trivial.rst
  changelog/2453.trivial.rst
  changelog/2473.trivial.rst
  changelog/2475.trivial.rst
  changelog/2476.trivial.rst
  changelog/2479.bugfix.rst
  changelog/2487.feature.rst
  changelog/2488.trivial.rst
  docs/about/citation.rst
  docs/changelog/2024.2.0.rst
  docs/changelog/index.rst
Labels: no changelog entry needed

#2501 Drop python 3.9 support
  .github/workflows/tests.yml
  README.md
  changelog/2501.breaking.rst
  docs/_global_substitutions.py
  docs/notebooks/analysis/fit_functions.ipynb
  docs/notebooks/analysis/swept_langmuir/find_floating_potential.ipynb
  docs/notebooks/particles/ace.ipynb
  mypy.ini
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/analysis/time_series/conditional_averaging.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/dispersion/analytical/tests/test_stix_.py
  plasmapy/formulary/collisions/helio/collisional_analysis.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/densities.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/_factory.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/tests/test_atomic.py
  plasmapy/particles/tests/test_exceptions.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/particles/tests/test_ionization_state.py
  plasmapy/particles/tests/test_particle_collections.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/utils/_pytest_helpers/pytest_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/roman.py
  pyproject.toml
  tox.ini
Labels: plasmapy.particles, docs, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, changes existing API, plasmapy.utils, plasmapy.dispersion, CI, notebooks, GitHub Actions, plasmapy.analysis, packaging, plasmapy.simulation

#2503 Alphabetize authors in `CITATION.cff`
  CITATION.cff
Labels: no changelog entry needed, packaging

#2504 Apply ruff rules `UP006` and `UP007`
  .github/scripts/authors_in_cff.py
  changelog/2504.trivial.rst
  docs/_cff_to_rst.py
  mypy.ini
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/mhd_waves_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/dispersion_functions.py
  plasmapy/dispersion/dispersionfunction.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/densities.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/mathematics.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/particles/_factory.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/atomic.py
  plasmapy/particles/decorators.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/symbols.py
  plasmapy/particles/tests/test_decorators.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/sources/tests/test_openpmd_hdf5.py
  plasmapy/simulation/particle_tracker.py
  plasmapy/utils/_pytest_helpers/pytest_helpers.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/helpers.py
  plasmapy/utils/decorators/lite_func.py
  plasmapy/utils/decorators/tests/test_converters.py
  plasmapy/utils/decorators/tests/test_validators.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/roman.py
  pyproject.toml
Labels: plasmapy.particles, docs, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, plasmapy.dispersion, GitHub Actions, plasmapy.analysis, packaging, plasmapy.simulation

#2505 Update `@particle_input` docstring to use type union syntax instead of `Optional`
  changelog/2505.doc.rst
  plasmapy/particles/decorators.py
Labels: plasmapy.particles, docs

#2469 Update release checklist
  .github/content/release-checklist.md
  .pre-commit-config.yaml
  docs/about/citation.rst
Labels: docs, no changelog entry needed, CI, GitHub Actions, linters, release

#2441 Revise sections of changelog and add new `internal` category
  changelog/2441.doc.rst
  changelog/2504.internal.rst
  changelog/README.rst
  pyproject.toml
Labels: docs, status: ready for review, contributor guide, packaging

#2512 Fix typo in gyroradius formula
  CITATION.cff
  plasmapy/formulary/lengths.py
Labels: plasmapy.formulary, no changelog entry needed, packaging

#2519 Silence some require_quantities warnings in particle_tracker
  changelog/2519.trivial.rst
  plasmapy/plasma/grids.py
  plasmapy/simulation/particle_tracker.py
Labels: plasmapy.plasma, plasmapy.simulation

#2518 Add a "See Also" to the `formulary.radiation` docs on `astropy.modeling.BlackBody`
  docs/formulary/radiation.rst
Labels: docs, no changelog entry needed

#2520 Update type hints for `int` and `float` arguments
  changelog/2520.internal.rst
  docs/contributing/coding_guide.rst
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/mhd_waves_.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/dispersion_functions.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/dispersion/numerical/kinetic_alfven_.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/formulary/densities.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_plasma_frequency.py
  plasmapy/particles/_factory.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/symbols.py
  plasmapy/particles/tests/test_ionization_collection.py
  plasmapy/utils/_units_helpers.py
  plasmapy/utils/code_repr.py
  plasmapy/utils/roman.py
Labels: plasmapy.particles, docs, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, plasmapy.dispersion, plasmapy.analysis, contributor guide

#2524 Refactor script for checking `CITATION.cff`
  .github/scripts/authors_in_cff.py
  CITATION.cff
Labels: no changelog entry needed, GitHub Actions, packaging

#2525 Loosen requirements for `pytest` and `sphinx` and drop `pytest` as runtime dependency
  changelog/2525.trivial.rst
  plasmapy/diagnostics/tests/test_langmuir.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/tests/test_transport.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
  pyproject.toml
  requirements.txt
Labels: plasmapy.particles, plasmapy.formulary, testing, plasmapy.diagnostics, no changelog entry needed, dependencies, packaging

#2526 Drop the `py310-conda` tox environment
  changelog/2526.trivial.rst
  tox.ini
Labels: testing, CI

#2528 Minor updates of docstrings
  plasmapy/analysis/time_series/excess_statistics.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/dispersion/analytical/stix_.py
  plasmapy/formulary/radiation.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/utils/calculator/widget_helpers.py
Labels: plasmapy.particles, plasmapy.formulary, plasmapy.utils, no changelog entry needed, plasmapy.dispersion, plasmapy.analysis

#2533 Resolve deprecation warnings in tests
  plasmapy/analysis/nullpoint.py
  plasmapy/formulary/tests/test_distribution.py
Labels: plasmapy.formulary, testing, no changelog entry needed, plasmapy.analysis

#2538 Add `nucleus` attribute to `Particle`
  changelog/2538.feature.rst
  plasmapy/particles/particle_class.py
  plasmapy/particles/tests/test_particle_class.py
Labels: plasmapy.particles, testing

#2541 Fix `kappa_velocity_3D` docstring
  plasmapy/formulary/distribution.py
Labels: plasmapy.formulary, no changelog entry needed

#2542 Refactor gyroradius to reduce cognitive complexity
  changelog/2542.internal.rst
  plasmapy/formulary/lengths.py
Labels: plasmapy.formulary

#2539 Add test for when `lorentzfactor` and multiple particles are provided to `gyroradius`
  changelog/2542.bugfix.rst
  plasmapy/formulary/tests/test_lengths.py
Labels: bug, plasmapy.formulary, testing, no changelog entry needed, bugfix

#2543 Update type hints and docstrings in `plasmapy.formulary`
  changelog/2543.internal.rst
  changelog/2543.trivial.rst
  mypy.ini
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/formulary/densities.py
  plasmapy/formulary/dielectric.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/lengths.py
  plasmapy/formulary/misc.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/radiation.py
  plasmapy/formulary/relativity.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_densities.py
  plasmapy/formulary/tests/test_dimensionless.py
  plasmapy/formulary/tests/test_speeds.py
  plasmapy/formulary/tests/test_thermal_speed.py
Labels: plasmapy.formulary, testing, plasmapy.formulary.quantum, static type checking

#2511 Update release checklist
  .github/content/release-checklist.md
Labels: no changelog entry needed, GitHub Actions

#2546 Create universal wheel in tox environments
  tox.ini
Labels: testing, no changelog entry needed, CI

#2551 Update dependabot settings
  .github/dependabot.yml
Labels: no changelog entry needed, GitHub Actions
