Repository PlasmaPy/PlasmaPy, pull requests merged in 2025-06, with the labels that each got.

#3039 Reduce CPR test time
  changelog/3039.internal.rst
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
Labels: testing, plasmapy.diagnostics, optimization, maintenance, python

#3041 Update pinned requirements on Thursdays instead of Mondays
  .github/workflows/update-pinned-reqs.yml
Labels: no changelog entry needed, GitHub Actions

#3024 Remove `sphinx-hoverxref` as an extension to the documentation build
  changelog/3024.doc.rst
  docs/changelog/0.8.1.rst
  docs/conf.py
  docs/contributing/doc_guide.rst
  pyproject.toml
  uv.lock
Labels: docs, status: ready for review, requirements, contributor guide, packaging, documentation infrastructure, python, run weekly tests in CI

#3036 Added functions to laser formulary for Gaussian beams
  changelog/3036.feature.rst
  docs/bibliography.bib
  src/plasmapy/formulary/laser.py
  tests/formulary/test_laser.py
Labels: docs, plasmapy.formulary, testing, python, feature
