Repository PlasmaPy/PlasmaPy, pull requests merged in 2025-07, with the labels that each got.

#3056 Fix hyperlinks in documentation
  changelog/3056.doc.rst
  docs/_global_substitutions.py
  docs/conf.py
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/getting_ready.rst
  docs/install.rst
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/getting_started/units.ipynb
  src/plasmapy/formulary/laser.py
Labels: docs, plasmapy.formulary, plasmapy.diagnostics, notebooks, contributor guide, documentation infrastructure, perform linkcheck in CI, python, run weekly tests in CI

#3045 Let `Particle` accept NumPy integers in the same ways as regular `int` objects
  changelog/3045.bugfix.rst
  src/plasmapy/particles/_factory.py
  src/plasmapy/particles/_parsing.py
  tests/particles/test_atomic.py
  tests/particles/test_parsing.py
  tests/particles/test_particle_class.py
Labels: plasmapy.particles, docs, testing, contributor guide, needed for release, bugfix, documentation infrastructure, python

#2998 Update usage of `uv` by Nox
  .github/workflows/ci.yml
  .github/workflows/linkcheck.yml
  .github/workflows/update-pinned-reqs.yml
  .github/workflows/weekly.yml
  changelog/2998.internal.rst
  noxfile.py
  pyproject.toml
  uv.lock
Labels: testing, CI, requirements, GitHub Actions, packaging, maintenance, documentation infrastructure, python, nox, run weekly tests in CI

#3060 Extract plasma formulary calculator into a standalone package
  changelog/3060.breaking.rst
  docs/_global_substitutions.py
  docs/changelog/0.8.1.rst
  docs/plasma_calculator/index.rst
  pyproject.toml
  src/plasmapy/utils/calculator/__init__.py
  src/plasmapy/utils/calculator/favicon.ico
  src/plasmapy/utils/calculator/main_interface.py
  src/plasmapy/utils/calculator/plasma_calculator.ipynb
  src/plasmapy/utils/calculator/properties_metadata.json
  src/plasmapy/utils/calculator/widget_helpers.py
  uv.lock
Labels: docs, status: ready for review, breaking change, plasmapy.utils, notebooks, requirements, packaging, documentation infrastructure, python

#3066 Make `plasmapy_sphinx` solely a `docs` dependency
  pyproject.toml
  uv.lock
Labels: no changelog entry needed, requirements, packaging

#2938 Expand the docstring of `Hall_parameter`
  changelog/2938.doc.rst
  src/plasmapy/formulary/dimensionless.py
Labels: plasmapy.formulary, python

#2919 Update `validators.py`
  CITATION.cff
  changelog/2919.internal.rst
  src/plasmapy/utils/decorators/validators.py
Labels: plasmapy.utils, needed for release, maintenance, python

#3069 Update the code of conduct to the Contributor Covenant v3.0
  changelog/3069.doc.rst
  docs/CODE_OF_CONDUCT.rst
Labels: docs
