Repository PlasmaPy/PlasmaPy, pull requests merged in 2025-01, with the labels that each got.

#2932 Added introduction for dispersion relation
  CITATION.cff
  changelog/2932.doc.rst
  src/plasmapy/dispersion/__init__.py
Labels: plasmapy.dispersion, python

#2911 Optimizing ParticleTracker and cpr.Tracker
  changelog/2911.breaking.1.rst
  changelog/2911.breaking.2.rst
  changelog/2911.breaking.3.rst
  changelog/2911.feature.rst
  changelog/2911.internal.1.rst
  changelog/2911.trivial.1.rst
  mypy.ini
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/simulation/particle_tracker/termination_conditions.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/plasma/test_grids.py
  tests/simulation/test_particle_tracker.py
  tests/simulation/test_save_routines.py
Labels: plasmapy.plasma, testing, plasmapy.diagnostics, breaking change, plasmapy.utils, CI, plasmapy.simulation, maintenance, static type checking, python, feature

#2936 Unpin `pygments` and `sphinx-codeautolink` requirements
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  noxfile.py
  pyproject.toml
Labels: upstream fix required, testing, no changelog entry needed, CI, requirements, packaging, python, nox

#2942 Update to newest version of ruff
  .pre-commit-config.yaml
  docs/conf.py
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/dispersion/hollweg_dispersion.ipynb
  docs/notebooks/plasma/grids_cartesian.ipynb
  docs/notebooks/plasma/grids_nonuniform.ipynb
  docs/notebooks/simulation/particle_tracker.ipynb
  pyproject.toml
  src/plasmapy/__init__.py
  src/plasmapy/analysis/fit_functions.py
  src/plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/dispersion/analytical/mhd_waves_.py
  src/plasmapy/dispersion/analytical/stix_.py
  src/plasmapy/formulary/collisions/dimensionless.py
  src/plasmapy/particles/_parsing.py
  src/plasmapy/particles/atomic.py
  src/plasmapy/particles/ionization_state.py
  src/plasmapy/particles/ionization_state_collection.py
  src/plasmapy/particles/particle_class.py
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/utils/decorators/checks.py
  src/plasmapy/utils/decorators/validators.py
  tests/diagnostics/charged_particle_radiography/test_detector_stacks.py
  tests/diagnostics/test_thomson.py
  tests/formulary/collisions/test_collisions_frequencies.py
  tests/formulary/collisions/test_collisions_misc.py
  tests/formulary/collisions/test_coulomb.py
  tests/formulary/test_distribution.py
  tests/formulary/test_quantum.py
  tests/formulary/test_radiation.py
  tests/particles/test_atomic.py
  tests/particles/test_ionization_collection.py
  tests/particles/test_ionization_state.py
  tests/particles/test_particle_class.py
  tests/particles/test_special_particles.py
  tests/plasma/test_equilibria1d.py
  tests/utils/decorators/test_checks.py
  tests/utils/decorators/test_converters.py
Labels: plasmapy.particles, docs, plasmapy.plasma, plasmapy.formulary, testing, plasmapy.diagnostics, plasmapy.utils, no changelog entry needed, plasmapy.dispersion, CI, notebooks, plasmapy.analysis, packaging, plasmapy.simulation, linters, documentation infrastructure, python
