Repository PlasmaPy/PlasmaPy, pull requests merged in 2025-03, with the labels that each got.

#2955 Update caching and cache invalidation in CI
  .github/workflows/ci.yml
  .github/workflows/weekly.yml
  CODEOWNERS
  MANIFEST.in
  noxfile.py
  pyproject.toml
Labels: testing, no changelog entry needed, CI, GitHub Actions, packaging, maintenance, python, nox

#2958 Update GitHub workflows for CI
  .github/workflows/ci.yml
  .github/workflows/weekly.yml
Labels: testing, no changelog entry needed, GitHub Actions

#2961 Enable Nox to be run as a script
  changelog/2961.internal.rst
  noxfile.py
Labels: testing, CI, maintenance, python, nox

#2965 Improve handling of unexpected lines of `uv lock` output in Nox session to update requirements
  noxfile.py
Labels: testing, no changelog entry needed, CI, python, nox

#2906 Add multiple electron species to OTS tests
  changelog/2906.internal.rst
  tests/diagnostics/test_thomson.py
Labels: testing, plasmapy.diagnostics, maintenance, python

#2968 Add optional keywords to SyntheticRadiograph to directly control detector orientation & source particle orientation
  changelog/2968.feature.rst
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
Labels: testing, plasmapy.diagnostics, python, feature

#2967 Update meeting times on `README.md`
  README.md
Labels: no changelog entry needed, maintenance

#2972 Update pre-commit configuration after new releases of `ruff`
  .pre-commit-config.yaml
  pyproject.toml
  src/plasmapy/particles/ionization_state_collection.py
Labels: plasmapy.particles, no changelog entry needed, CI, packaging, linters, python
