Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @pheuer, @ejohnson-96

CODEOWNERS:

# Define individuals or teams who are responsible for code in a
# repository (i.e. who gets requested for a review by default).

# Order is important; the last matching pattern takes the most
# precedence.

# Tip: IDEs like PyCharm may have features or extensions that validate
# CODEOWNERS files and check that paths that are listed match any files.

* @PlasmaPy/plasmapy-reviewers

# subpackages

*pytest_helpers/ @namurphy
analysis/ @rocco8773
diagnostics/ @rocco8773
**/diagnostics/charged_particle_radiography/ @pheuer
dispersion/ @ejohnson-96
**/utils/decorators/ @rocco8773

# subpackage files (with wildcards to include tests)

**/analysis/*nullpoint.py @namurphy
**/diagnostics/*thomson.py @pheuer
**/formulary/*relativity.py @namurphy

# documentation

.readthedocs.yml @namurphy
docs/_author_list_from_cff.py @namurphy
docs/_global_substitutions.py @namurphy
docs/conf.py @namurphy
docs/contributing/ @namurphy
docs/plasmapy_sphinx/ @rocco8773

# project files

ci_requirements/ @namurphy
mypy.ini @namurphy
pyproject.toml @namurphy
type_stubs/ @namurphy

# tests, linters, CI

.github/ @namurphy
.pre-commit-config.yaml @namurphy
codecov.yml @namurphy
noxfile.py @namurphy

Use formualry to calculate gyroperiod
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Fix import for assert_quantity_allclose
  tests/plasma/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Revert to using explicit gyroperiod until lite function is available
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Units in test soften edges
  tests/plasma/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Expanded on the description of Hall parameter
  src/plasmapy/formulary/dimensionless.py
Owners: @PlasmaPy/plasmapy-reviewers

replaced ions with particles
  src/plasmapy/formulary/dimensionless.py
Owners: @PlasmaPy/plasmapy-reviewers

Added my changelog entry
  changelog/2938.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Require newer versions of pygments & sphinx-codeautolink
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Add sphinx.configuration in RTD config file
  .readthedocs.yml
Owners: @namurphy

Use older pre-commmit-search-and-replace
  .pre-commit-config.yaml
Owners: @namurphy

Remove strict Sphinx requirement
  pyproject.toml
Owners: @namurphy

Pin pygments and sphinx-codeautolink to previous releases
  pyproject.toml
Owners: @namurphy

nox -s requirements
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
Owners: @namurphy

Re-pin sphinx == 7.3.7
  pyproject.toml
Owners: @namurphy

nox -s requirements
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
Owners: @namurphy

Unpin pygments & sphinx-codeautolink again
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Check center value isn't really changed by soften edges
  tests/plasma/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Correct requirements file used in doc build
  noxfile.py
Owners: @namurphy

Optimizing ParticleTracker and cpr.Tracker (#2911)
  changelog/2911.breaking.1.rst
  changelog/2911.breaking.2.rst
  changelog/2911.breaking.3.rst
  changelog/2911.feature.rst
  changelog/2911.internal.1.rst
  changelog/2911.trivial.1.rst
  mypy.ini
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/simulation/particle_tracker/termination_conditions.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/plasma/test_grids.py
  tests/simulation/test_particle_tracker.py
  tests/simulation/test_save_routines.py
Owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @pheuer

Loosen requirements on pygments
  pyproject.toml
Owners: @namurphy

Loosen requirement on pygments
  pyproject.toml
Owners: @namurphy

Unpin `pygments` and `sphinx-codeautolink` requirements (#2936)
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  noxfile.py
  pyproject.toml
Owners: @namurphy

Remove _get_requirements_filepath
  noxfile.py
Owners: @namurphy

Move & update validate_requirements
  noxfile.py
Owners: @namurphy

Update uv.lock
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Remove unused dependencies
  noxfile.py
Owners: @namurphy

Update validate_requirements
  noxfile.py
Owners: @namurphy

Invert if/else block
  noxfile.py
Owners: @namurphy

Update validate_requirements
  noxfile.py
Owners: @namurphy

Remove debugging command
  noxfile.py
Owners: @namurphy

Remove Nox session for validate_requirements
  noxfile.py
Owners: @namurphy

Re-arrange
  noxfile.py
Owners: @namurphy

Re-arrange
  noxfile.py
Owners: @namurphy

Comment a link to Nox cookbook
  noxfile.py
Owners: @namurphy

Add comment
  noxfile.py
Owners: @namurphy

pre-commit run --all-files
  noxfile.py
Owners: @namurphy

nox -s requirements
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

nox -s requirements
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Minor reorganization
  noxfile.py
Owners: @namurphy
