Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

update
  docs/api_static/plasmapy.formulary.collisions.timescales.rst
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/bibliography.bib
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/__init__.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

typo correction
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

more changes
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

test
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

formatting
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

formatting
  changelog/1804.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

formatting
  changelog/1804.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog entry
  changelog/1816.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

Ignore docstring line lengths
  plasmapy/diagnostics/charged_particle_radiography.py
  setup.cfg
Owners: @rocco8773, @PlasmaPy/plasmapy-reviewers

Make docstring lengths closer to 72 characters
  plasmapy/__init__.py
  plasmapy/analysis/fit_functions.py
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/diagnostics/langmuir.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/mathematics.py
  plasmapy/particles/_parsing.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/plasma/sources/plasma3d.py
Owners: @PlasmaPy/plasmapy-reviewers, @rocco8773, @namurphy

Update files to ignore line lengths in
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Fix configuration issue in setup.cfg
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Update parameter description section
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Remove extra line
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add syntax for extra long type line
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Try out syntax for extra long type line
  plasmapy/formulary/magnetostatics.py
Owners: @PlasmaPy/plasmapy-reviewers

Revert "Try out syntax for extra long type line"
  plasmapy/formulary/magnetostatics.py
Owners: @PlasmaPy/plasmapy-reviewers

Update type specification conventions
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add plasmapy.analysis.time_series.rst
  docs/api_static/plasmapy.analysis.time_series.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog for 0.9.1
  docs/whatsnew/0.9.1.rst
  docs/whatsnew/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add dev back to TOC
  docs/whatsnew/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Remove dev from changelog
  docs/whatsnew/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update doc guide troubleshooting section
  docs/common_links.rst
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update api_static section
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Fix incorrect link
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Wording change
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Fix reST role for unit superscripts
  plasmapy/diagnostics/langmuir.py
Owners: @rocco8773

"type line" -> "type specification"
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update thomson.py docstrings
  plasmapy/diagnostics/thomson.py
Owners: @rocco8773

Remove duplication
  plasmapy/diagnostics/thomson.py
Owners: @rocco8773

Add changelog entry
  changelog/1756.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Revert collisions.py
  plasmapy/formulary/collisions.py
Owners: @PlasmaPy/plasmapy-reviewers

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer
