Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

Add changelog entry for magnetostatics
  changelog/1782.breaking.1.rst
Owners: @PlasmaPy/plasmapy-reviewers

Re-fix tryceratops issues with particle_class.py
  plasmapy/particles/particle_class.py
Owners: @namurphy

Re-fix tryceratops issues with particle_class.py
  plasmapy/particles/particle_class.py
Owners: @namurphy

Re-fix tryceratops issues with ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Owners: @namurphy

Re-fix tryceratops issues with ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Owners: @namurphy

Re-fix tryceratops issues with ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Owners: @namurphy

Update test of grids exception
  plasmapy/plasma/tests/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Revert grids
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Re-add grids changes
  plasmapy/plasma/grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Change ValueError to TypeError
  plasmapy/plasma/grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Change test for ValueError to TypeError
  plasmapy/plasma/tests/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Update grids tests
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Use TypeError instead of ValueError in grids
  plasmapy/plasma/grids.py
  plasmapy/plasma/tests/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry for thomson
  changelog/1782.breaking.2.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry for grids
  changelog/1783.breaking.3.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update type & parameter descriptions
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  changelog/1787.feature.rst
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  changelog/1787.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

intermittancy code for plasmapy
  plasmapy/analysis/intermittancy.py
Owners: @rocco8773

Add changelog entry
  changelog/1757.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update type & parameter descriptions
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add `tryceratops` as a flake8 extension (#1782)
  changelog/1782.breaking.1.rst
  changelog/1782.breaking.2.rst
  changelog/1782.trivial.rst
  changelog/1783.breaking.3.rst
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/speeds.py
  plasmapy/formulary/tests/test_magnetostatics.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/nuclear.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/plasma/tests/test_grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers, @rocco8773, @namurphy

Better version string logic
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Typo fix
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

even better version logic
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

create branch if doesnt exist
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Target pypi choice in testing.yml
  .github/workflows/release.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Apply suggestions from code review
  .github/workflows/release.yml
  docs/contributing/release_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

ubuntu-latest is actually too new
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update mod docstring
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Add common link for |SingleParticleCollisionFrequencies|
  docs/common_links.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update parameters section
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update math representations
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update docstrings
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update math
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update docstring
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update docstring
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update docstring
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer
