Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @pheuer, @ejohnson-96

CODEOWNERS:

# Define individuals or teams who are responsible for code in a
# repository (i.e. who gets requested for a review by default).

# Order is important; the last matching pattern takes the most
# precedence.

# Tip: IDEs like PyCharm may have features or extensions that validate
# CODEOWNERS files and check that paths that are listed match any files.

* @PlasmaPy/plasmapy-reviewers

# subpackages

*pytest_helpers/ @namurphy
analysis/ @rocco8773
diagnostics/ @rocco8773
**/diagnostics/charged_particle_radiography/ @pheuer
dispersion/ @ejohnson-96
**/utils/decorators/ @rocco8773

# subpackage files (with wildcards to include tests)

**/analysis/*nullpoint.py @namurphy
**/diagnostics/*thomson.py @pheuer
**/formulary/*relativity.py @namurphy

# documentation

.readthedocs.yml @namurphy
docs/_author_list_from_cff.py @namurphy
docs/_global_substitutions.py @namurphy
docs/conf.py @namurphy
docs/contributing/ @namurphy
docs/plasmapy_sphinx/ @rocco8773

# project files

ci_requirements/ @namurphy
mypy.ini @namurphy
pyproject.toml @namurphy
type_stubs/ @namurphy

# tests, linters, CI

.github/ @namurphy
.pre-commit-config.yaml @namurphy
codecov.yml @namurphy
noxfile.py @namurphy

Add back validate_requirements + tidying
  noxfile.py
  uv.lock
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Update automated PR message
  .github/content/update-requirements-pr-body.md
Owners: @namurphy

Update contributor guide
  docs/contributing/coding_guide.rst
Owners: @namurphy

Update uv.lock
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update minimum version of uv for requirements sessions in noxfile.py
  noxfile.py
Owners: @namurphy

Update uv.lock with pinned requirements for sphinx-codeautolink & pygments
  pyproject.toml
  uv.lock
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Add back `validate_requirements` workflow
  .github/workflows/ci.yml
Owners: @namurphy

Update commands and add --no-progress
  noxfile.py
Owners: @namurphy

Purposefully make pyproject.toml inconsistent with uv.lock
  pyproject.toml
Owners: @namurphy

Test validate_requirements sessions of Nox
  pyproject.toml
Owners: @namurphy

Revert to original pinned version of Sphinx
  pyproject.toml
Owners: @namurphy

Revert a style change
  .github/workflows/ci.yml
Owners: @namurphy

Add default sphinx-codeautolink warnings filters
  docs/conf.py
Owners: @namurphy

Add lines like session.install('uv')
  noxfile.py
Owners: @namurphy

nox -s requirements
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Add note about how to validate requirements
  docs/contributing/coding_guide.rst
Owners: @namurphy

Remove ci_requirements/ in favor of uv.lock
  ci_requirements/README.md
  ci_requirements/all-3.12-linux.txt
  ci_requirements/all-3.12-macos.txt
  ci_requirements/all-3.12-windows.txt
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.12-linux.txt
  ci_requirements/docs-3.12-macos.txt
  ci_requirements/docs-3.12-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

pre-commit autoupdate
  .pre-commit-config.yaml
Owners: @namurphy

New ruff
  docs/conf.py
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/dispersion/hollweg_dispersion.ipynb
  docs/notebooks/plasma/grids_cartesian.ipynb
  docs/notebooks/plasma/grids_nonuniform.ipynb
  docs/notebooks/simulation/particle_tracker.ipynb
  pyproject.toml
  src/plasmapy/__init__.py
  src/plasmapy/analysis/fit_functions.py
  src/plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/dispersion/analytical/mhd_waves_.py
  src/plasmapy/dispersion/analytical/stix_.py
  src/plasmapy/formulary/collisions/dimensionless.py
  src/plasmapy/particles/_parsing.py
  src/plasmapy/particles/atomic.py
  src/plasmapy/particles/ionization_state.py
  src/plasmapy/particles/ionization_state_collection.py
  src/plasmapy/particles/particle_class.py
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/utils/decorators/checks.py
  src/plasmapy/utils/decorators/validators.py
  tests/diagnostics/charged_particle_radiography/test_detector_stacks.py
  tests/diagnostics/test_thomson.py
  tests/formulary/collisions/test_collisions_frequencies.py
  tests/formulary/collisions/test_collisions_misc.py
  tests/formulary/collisions/test_coulomb.py
  tests/formulary/test_distribution.py
  tests/formulary/test_quantum.py
  tests/formulary/test_radiation.py
  tests/particles/test_atomic.py
  tests/particles/test_ionization_collection.py
  tests/particles/test_ionization_state.py
  tests/particles/test_particle_class.py
  tests/particles/test_special_particles.py
  tests/plasma/test_equilibria1d.py
  tests/utils/decorators/test_checks.py
  tests/utils/decorators/test_converters.py
Owners: @namurphy, @rocco8773, @ejohnson-96, @PlasmaPy/plasmapy-reviewers, @pheuer

Update to newest version of ruff (#2942)
  .pre-commit-config.yaml
  docs/conf.py
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  docs/notebooks/dispersion/hollweg_dispersion.ipynb
  docs/notebooks/plasma/grids_cartesian.ipynb
  docs/notebooks/plasma/grids_nonuniform.ipynb
  docs/notebooks/simulation/particle_tracker.ipynb
  pyproject.toml
  src/plasmapy/__init__.py
  src/plasmapy/analysis/fit_functions.py
  src/plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/dispersion/analytical/mhd_waves_.py
  src/plasmapy/dispersion/analytical/stix_.py
  src/plasmapy/formulary/collisions/dimensionless.py
  src/plasmapy/particles/_parsing.py
  src/plasmapy/particles/atomic.py
  src/plasmapy/particles/ionization_state.py
  src/plasmapy/particles/ionization_state_collection.py
  src/plasmapy/particles/particle_class.py
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/utils/decorators/checks.py
  src/plasmapy/utils/decorators/validators.py
  tests/diagnostics/charged_particle_radiography/test_detector_stacks.py
  tests/diagnostics/test_thomson.py
  tests/formulary/collisions/test_collisions_frequencies.py
  tests/formulary/collisions/test_collisions_misc.py
  tests/formulary/collisions/test_coulomb.py
  tests/formulary/test_distribution.py
  tests/formulary/test_quantum.py
  tests/formulary/test_radiation.py
  tests/particles/test_atomic.py
  tests/particles/test_ionization_collection.py
  tests/particles/test_ionization_state.py
  tests/particles/test_particle_class.py
  tests/particles/test_special_particles.py
  tests/plasma/test_equilibria1d.py
  tests/utils/decorators/test_checks.py
  tests/utils/decorators/test_converters.py
Owners: @namurphy, @rocco8773, @ejohnson-96, @PlasmaPy/plasmapy-reviewers, @pheuer

Build documentation with Python 3.13
  .readthedocs.yml
  noxfile.py
Owners: @namurphy

Edit changelog: 2943.doc.rst
  changelog/2943.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Bump version of pygments & sphinx-codeautolink
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Add blank lines for legibility
  noxfile.py
Owners: @namurphy

Unquietify sphinx-build
  noxfile.py
Owners: @namurphy

Update docs requirements
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Add suppress_warnings option to docs/conf.py
  docs/conf.py
Owners: @namurphy

Re-enable --quiet for sphinx-build
  noxfile.py
Owners: @namurphy

Adjust math to see if error is related
  src/plasmapy/formulary/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Remove .. math: directive
  src/plasmapy/formulary/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Remove colon
  src/plasmapy/formulary/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Remove colons preceding warnings in docstrings
  src/plasmapy/formulary/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

pre-commit run --all-files
  src/plasmapy/formulary/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update docstring for dispersion_functions.py
  src/plasmapy/dispersion/dispersion_functions.py
Owners: @ejohnson-96

Edit changelog: 2897.removal.rst
  changelog/2897.removal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Edit changelog: 2897.removal.rst
  changelog/2897.removal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Remove deprecated dispersionfunction.py
  src/plasmapy/dispersion/dispersionfunction.py
Owners: @ejohnson-96

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update Python version in GitHub workflows
  .github/workflows/ci.yml
  .github/workflows/weekly.yml
Owners: @namurphy
