Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer

Fix test for TypeError in running_mean
  plasmapy/analysis/time_series/tests/test_running_moments.py
Owners: @rocco8773

Consistentify spacing in doc guide
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Consistentify reST formatting in testing guide
  docs/contributing/testing_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Reorganize imports in code block
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update spacing in code blocks in coding guide
  docs/contributing/coding_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Apply changes from shed in coding guide
  docs/contributing/coding_guide.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Run shed on docs
  docs/particles/decorators.rst
  docs/particles/particle_class.rst
  docs/plasma/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add pre-commit hook for blacken-docs
  .pre-commit-config.yaml
Owners: @PlasmaPy/plasmapy-reviewers

Apply blacken-docs
  plasmapy/plasma/grids.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
Owners: @PlasmaPy/plasmapy-reviewers

Run blacken-docs on particle_class.py
  plasmapy/particles/particle_class.py
Owners: @namurphy

Remove formatting tip from coding guide
  docs/contributing/coding_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Exclude coding_guide.rst from blacken-docs
  .pre-commit-config.yaml
Owners: @PlasmaPy/plasmapy-reviewers

Add missing }'s
  plasmapy/utils/decorators/checks.py
Owners: @PlasmaPy/plasmapy-reviewers

Apply autoformatting
  plasmapy/utils/decorators/checks.py
Owners: @PlasmaPy/plasmapy-reviewers

Separate code block & run blacken-docs
  plasmapy/utils/decorators/lite_func.py
Owners: @PlasmaPy/plasmapy-reviewers

Undo fix of purposefully bad formatting
  docs/contributing/coding_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry
  changelog/1807.doc.rst
  changelog/1807.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add _version.py to .gitignore
  .gitignore
Owners: @PlasmaPy/plasmapy-reviewers

Remove empty/unneeded changelog file
  changelog/1807.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add `blacken-docs` to `pre-commit` & apply minor reST fixes (#1807)
  .gitignore
  .pre-commit-config.yaml
  changelog/1807.trivial.rst
  docs/contributing/coding_guide.rst
  docs/contributing/doc_guide.rst
  docs/contributing/release_guide.rst
  docs/contributing/testing_guide.rst
  docs/particles/decorators.rst
  docs/particles/particle_class.rst
  docs/plasma/index.rst
  plasmapy/particles/particle_class.py
  plasmapy/plasma/grids.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/lite_func.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
Owners: @PlasmaPy/plasmapy-reviewers, @namurphy

Rename fortnightly → weekly
  .github/workflows/weekly.yml
Owners: @PlasmaPy/plasmapy-reviewers

Change cron schedule to weekly
  .github/workflows/weekly.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update versions of Python in weekly tests
  .github/workflows/weekly.yml
Owners: @PlasmaPy/plasmapy-reviewers

Test PlasmaPy on more versions
  .github/workflows/weekly.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update fortnightly → weekly
  README.md
  docs/contributing/release_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update OS for workflow
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Restrict version of ipykernel
  requirements/docs.txt
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry
  changelog/1810.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Set upper limit on version of ipykernel
  requirements/docs.txt
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Restrict ipykernel < 6.18.0, >= 6.18.2
  requirements/docs.txt
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Require ipykernel >= 6.18.2
  requirements/docs.txt
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

ubuntu-latest -> ubuntu-20.04
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Change cron job time
  .github/workflows/weekly.yml
Owners: @PlasmaPy/plasmapy-reviewers

Change fortnightly tests to weekly even though "fortnightly" sounds waaaay cooler than "weekly" (#1808)
  .github/workflows/testing.yml
  .github/workflows/weekly.yml
  README.md
  docs/contributing/release_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Delete size-labeler.yml
  .github/workflows/size-labeler.yml
Owners: @PlasmaPy/plasmapy-reviewers

Delete size-labeler.yml (#1811)
  .github/workflows/size-labeler.yml
Owners: @PlasmaPy/plasmapy-reviewers

Make docstring of running_moment function more readable
  plasmapy/analysis/time_series/running_moments.py
Owners: @rocco8773

Added relativistic functionality to the gyroradius, and fixed error message for inputting both T and Vperp
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Added relativistic functionality and fixed small error message problem PlasmaPy#1537
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

changelog
  changelog/1813.breaking.rst
  changelog/1813.bugfix.rst
  changelog/1813.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers
