Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @pheuer, @ejohnson-96

Modify multispecies test to also have multiple electron species
  tests/diagnostics/test_thomson.py
Owners: @pheuer

Initial commit
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/simulation/particle_tracker/termination_conditions.py
Owners: @pheuer, @PlasmaPy/plasmapy-reviewers

Fix unit tests
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/simulation/test_particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Add soften edges method to Grid
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Fix synthetic radiograph, change caching strategy
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @pheuer, @PlasmaPy/plasmapy-reviewers

Interpolate only non-zero quantities
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Made axis attributes of grid cached
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

fix for interpolating grids with only one value
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

soften_edges sets border cells to zero, fix units on interpolator
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Stopping on only a subset of grids now better supported.
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Update tests, fix bugs
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/simulation/test_particle_tracker.py
  tests/simulation/test_save_routines.py
Owners: @PlasmaPy/plasmapy-reviewers, @pheuer

Refactoring of ParticleTracker + tests to get tests passing
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/simulation/test_particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers, @pheuer

Add a test for the new soften_edges() method for CartesianGrid
  tests/plasma/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Remove an unused method
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Adaptive dt bugfixes, descriptive label on progress bar
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Printout updates
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Update tests dependencies
  pyproject.toml
Owners: @namurphy

nox -s requirements
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Edit changelog: 2913.internal.rst
  changelog/2913.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Downgrade mypy for now
  pyproject.toml
Owners: @namurphy

Enable pytest-doctestplus
  pyproject.toml
Owners: @namurphy

nox -s requirements
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Enable options for pytest-doctestplus
  noxfile.py
Owners: @namurphy

Status update edit, bugfix in dt
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Fixed divide by zero bug in _adaptive_dt, reduce some memory allocation per iteration.
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Bugfix
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Mypy
  mypy.ini
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Mypy and docs
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  src/plasmapy/utils/data/downloader.py
Owners: @PlasmaPy/plasmapy-reviewers

Only print when verbose
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Init changelogs
  changelog/2911.feature.rst
  changelog/2911.trivial.1.rst
  changelog/2911.trivial.2.rst
  changelog/2911.trivial.3.rst
Owners: @PlasmaPy/plasmapy-reviewers

Pin astropy
  pyproject.toml
Owners: @namurphy

Only show detailed progressbar when verbose
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Change where cache is reset
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Changelog for deleted req_quantities, added back a test
  changelog/2911.breaking.rst
  tests/simulation/test_particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Changelog updates
  changelog/2911.breaking.1.rst
  changelog/2911.breaking.2.rst
  changelog/2911.trivial.2.rst
Owners: @PlasmaPy/plasmapy-reviewers

Remove a check on dt, add a test case
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
  tests/simulation/test_particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Except one test, use the (much faster) nearest_neighbor interp option for particle_tracker and cpr.Tracker
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
  tests/simulation/test_particle_tracker.py
Owners: @pheuer, @PlasmaPy/plasmapy-reviewers

Changelog updates
  changelog/2911.breaking.3.rst
  changelog/2911.internal.1.rst
Owners: @PlasmaPy/plasmapy-reviewers

Changelog typo
  changelog/2911.trivial.1.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update README.md
  README.md
Owners: @PlasmaPy/plasmapy-reviewers

CODEOWNERS:

# Define individuals or teams who are responsible for code in a
# repository (i.e. who gets requested for a review by default).

# Order is important; the last matching pattern takes the most
# precedence.

# Tip: IDEs like PyCharm may have features or extensions that validate
# CODEOWNERS files and check that paths that are listed match any files.

* @PlasmaPy/plasmapy-reviewers

# subpackages

*pytest_helpers/ @namurphy
analysis/ @rocco8773
diagnostics/ @rocco8773
**/diagnostics/charged_particle_radiography/ @pheuer
dispersion/ @ejohnson-96
**/utils/decorators/ @rocco8773

# subpackage files (with wildcards to include tests)

**/analysis/*nullpoint.py @namurphy
**/diagnostics/*thomson.py @pheuer
**/formulary/*relativity.py @namurphy

# documentation

.readthedocs.yml @namurphy
docs/_author_list_from_cff.py @namurphy
docs/_global_substitutions.py @namurphy
docs/conf.py @namurphy
docs/contributing/ @namurphy
docs/plasmapy_sphinx/ @rocco8773

# project files

ci_requirements/ @namurphy
mypy.ini @namurphy
pyproject.toml @namurphy
type_stubs/ @namurphy

# tests, linters, CI

.github/ @namurphy
.pre-commit-config.yaml @namurphy
codecov.yml @namurphy
noxfile.py @namurphy
