Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

changelog
  changelog/1813.breaking.rst
  changelog/1813.bugfix.rst
  changelog/1813.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

typo fix: ommited to omitted
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/bibliography.bib
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

fixed code logic a bit
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

typo
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

reduced margin of error for GyroradiusTest::test_values 6 10 and 12 b/c relativistic changes
  plasmapy/formulary/tests/test_lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

changelog
  changelog/1813.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

added some tests to cover new lorentz functionality
  plasmapy/formulary/tests/test_lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

fixed more logical bugs
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

changelog
  changelog/1813.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

fixed logical error
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

added more tests
  plasmapy/formulary/tests/test_lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

wording
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog/1813.bugfix.rst
  changelog/1813.bugfix.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog/1813.feature.rst
  changelog/1813.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

trivial test changelong removed, breaking handles that
  changelog/1813.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

changed notes to be more accurate
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/lengths.py
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog/1813.breaking.rst
  changelog/1813.breaking.rst
Owners: @PlasmaPy/plasmapy-reviewers

whitespace
  changelog/1813.bugfix.rst
Owners: @PlasmaPy/plasmapy-reviewers

added relativistic keyword
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

changelog and test
  changelog/1813.feature.rst
  plasmapy/formulary/tests/test_lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

changelog and test
  changelog/1813.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

changelog, also will not infer velocity when relativisic is false
  changelog/1813.bugfix.rst
  changelog/1813.feature.rst
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

I think I fixed the doc issue
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Make a few slight edits before merging
  changelog/1813.feature.rst
  plasmapy/formulary/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Added relativistic functionality to gyroradius (#1813)
  changelog/1813.breaking.rst
  changelog/1813.feature.rst
  plasmapy/formulary/lengths.py
  plasmapy/formulary/tests/test_lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

Set max-doc-length for flake8
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Shorten line lengths in docstrings
  plasmapy/particles/particle_class.py
Owners: @namurphy

Fix doctest error
  plasmapy/particles/particle_class.py
Owners: @namurphy

Update files to ignore docstring line lengths in
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Docstring edits to nullpoint.py
  plasmapy/analysis/nullpoint.py
Owners: @rocco8773

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer
