Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

update
  docs/api_static/plasmapy.dispersion.numerical.kinetic_alfven_.rst
  docs/bibliography.bib
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/bibliography.bib
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/bibliography.bib
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/api_static/plasmapy.dispersion.numerical.kinetic_alfven_.rst
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

Add running_mean function with according tests
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Owners: @rocco8773

update
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/tests/test_timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Owners: @PlasmaPy/plasmapy-reviewers

Implemented basic particle scattering during push
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Owners: @rocco8773

Bugfix energy conservation, started adding keywords
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Owners: @rocco8773

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/dispersion/numerical/tests/test_kinetic_alfven_.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/dispersion/numerical/kinetic_alfven_.py
Owners: @PlasmaPy/plasmapy-reviewers

Bugfixes and updates
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Owners: @rocco8773

update
  plasmapy/formulary/collisions/tests/test_timescales.py
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

Work
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
Owners: @rocco8773

Implemented particle stopping, added a proper _remove_particles function
  plasmapy/diagnostics/charged_particle_radiography.py
Owners: @rocco8773

update
  plasmapy/formulary/collisions/tests/test_timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

Implement running_moment function
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Owners: @rocco8773

Implement running_moment function
  plasmapy/analysis/time_series/__init__.py
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Owners: @rocco8773

Fix spelling errors
  plasmapy/analysis/time_series/running_moments.py
Owners: @rocco8773

Update
  docs/bibliography.bib
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

Update
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry for upcoming pull request
  changelog/1803.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

fix spelling error
  changelog/1803.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

notebook describes the usage of the cold plasma dispersion function stix()
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

Adjust imports, run pre-commit hooks
  plasmapy/reaction_rates/__init__.py
  plasmapy/reaction_rates/conversions.py
  plasmapy/reaction_rates/cross_section.py
  plasmapy/reaction_rates/exceptions.py
  plasmapy/reaction_rates/experiment.py
  plasmapy/reaction_rates/fusionlib.py
  plasmapy/reaction_rates/latexutils.py
  plasmapy/reaction_rates/lib/conversions.py
  plasmapy/reaction_rates/lib/cross_section.py
  plasmapy/reaction_rates/lib/exceptions.py
  plasmapy/reaction_rates/lib/experiment.py
  plasmapy/reaction_rates/lib/fusionlib.py
  plasmapy/reaction_rates/lib/latexutils.py
  plasmapy/reaction_rates/lib/plasmaprofile.py
  plasmapy/reaction_rates/lib/reactivity.py
  plasmapy/reaction_rates/plasmaprofile.py
  plasmapy/reaction_rates/reactivity.py
  plasmapy/reaction_rates/tests/Checks of reactivity values.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

Run notebooks, move config to separate module
  plasmapy/reaction_rates/config.py
  plasmapy/reaction_rates/cross_section.py
  plasmapy/reaction_rates/reactivity.py
  plasmapy/reaction_rates/tests/Checks of reactivity values.ipynb
  plasmapy/reaction_rates/tests/Cross Section and Reactivity Checks.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

notebook corrections
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

added changelog
  changelog/1804.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

corrected citation
  PlasmaPy.code-workspace
Owners: @PlasmaPy/plasmapy-reviewers

formatting correction
  docs/notebooks/dispersion/stix_dispersion.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

Implement namurphy's suggestions from review in PR 1803
  changelog/1803.feature.rst
  plasmapy/analysis/time_series/running_moments.py
Owners: @PlasmaPy/plasmapy-reviewers, @rocco8773

Implement check if radius is int in running_mean.
  plasmapy/analysis/time_series/running_moments.py
  plasmapy/analysis/time_series/tests/test_running_moments.py
Owners: @rocco8773

Add api_statis file for time_series.running_moments
  docs/api_static/plasmapy.analysis.time_series.running_moments.rst
Owners: @PlasmaPy/plasmapy-reviewers

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer
