Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

put original imports back
  plasmapy/formulary/dimensionless.py
Owners: @PlasmaPy/plasmapy-reviewers

add stub files for newly created collisions files
  docs/api_static/plasmapy.formulary.collisions.coulomb.rst
  docs/api_static/plasmapy.formulary.collisions.dimensionless.rst
  docs/api_static/plasmapy.formulary.collisions.frequencies.rst
  docs/api_static/plasmapy.formulary.collisions.lengths.rst
  docs/api_static/plasmapy.formulary.collisions.misc.rst
Owners: @PlasmaPy/plasmapy-reviewers

update intersphinx references in old change log entries
  docs/whatsnew/0.6.0.rst
  docs/whatsnew/0.8.1.rst
Owners: @PlasmaPy/plasmapy-reviewers

update intersphinx references in CHANGELOG.rst
  CHANGELOG.rst
Owners: @PlasmaPy/plasmapy-reviewers

update intersphinx references in active/current changelog entries
  changelog/1676.removal.rst
  changelog/1678.trivial.1.rst
  changelog/1703.breaking.1.rst
  changelog/1703.breaking.2.rst
  changelog/1703.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

more intersphinx fixes
  docs/whatsnew/0.8.1.rst
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

clean up notebook references so the point to the current documentation and not the stable documentation
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

clean up notebook [Erik's stupid mistakes]
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

fix the notebook kernelspec names
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

fix the notebook kernelspec names
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

fix the notebook kernelspec names
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

remove all pycharm related metadata
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

patch for href code wrapping in cells
  docs/_static/css/plasmapy.css
Owners: @PlasmaPy/plasmapy-reviewers

repair links
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

remove "private" functions from __all__
  plasmapy/formulary/collisions/misc.py
Owners: @PlasmaPy/plasmapy-reviewers

Patch for href code wrapping in cells (#1785)
  docs/_static/css/plasmapy.css
Owners: @PlasmaPy/plasmapy-reviewers

Mark tests as slow (#1783)
  plasmapy/analysis/tests/test_nullpoint.py
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_quantum.py
Owners: @rocco8773, @PlasmaPy/plasmapy-reviewers

Add `flake8` extensions (#1777)
  changelog/1777.trivial.rst
  plasmapy/analysis/swept_langmuir/helpers.py
  plasmapy/plasma/sources/plasmablob.py
  plasmapy/utils/calculator/main_interface.py
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/data/downloader.py
  plasmapy/utils/decorators/validators.py
  requirements/tests.txt
  setup.cfg
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers, @rocco8773

Update plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/coulomb.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/sources/plasmablob.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/plasma/sources/plasmablob.py
  plasmapy/plasma/sources/plasmablob.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/tests/test_transport.py
  plasmapy/formulary/tests/test_transport.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/braginskii.py
  plasmapy/formulary/braginskii.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/tests/test_transport.py
  plasmapy/formulary/tests/test_transport.py
Owners: @PlasmaPy/plasmapy-reviewers

Update plasmapy/formulary/tests/test_transport.py
  plasmapy/formulary/tests/test_transport.py
Owners: @PlasmaPy/plasmapy-reviewers

Update docs/bibliography.bib
  docs/bibliography.bib
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog/1769.feature.rst
  changelog/1769.feature.rst
Owners: @PlasmaPy/plasmapy-reviewers

update
  changelog/1769.breaking.rst
Owners: @PlasmaPy/plasmapy-reviewers

update
  changelog/1769.breaking.rst
Owners: @PlasmaPy/plasmapy-reviewers

delete test_collisions.py
  plasmapy/formulary/tests/test_collisions.py
Owners: @PlasmaPy/plasmapy-reviewers

fix one more notebook link
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

notebook: use .rst for file links not .html
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

Refactoring collisions functionality (#1769)
  CHANGELOG.rst
  changelog/1676.removal.rst
  changelog/1678.trivial.1.rst
  changelog/1703.breaking.1.rst
  changelog/1703.breaking.2.rst
  changelog/1703.feature.rst
  changelog/1769.feature.rst
  docs/api_static/plasmapy.formulary.collisions.coulomb.rst
  docs/api_static/plasmapy.formulary.collisions.dimensionless.rst
  docs/api_static/plasmapy.formulary.collisions.frequencies.rst
  docs/api_static/plasmapy.formulary.collisions.lengths.rst
  docs/api_static/plasmapy.formulary.collisions.misc.rst
  docs/notebooks/formulary/coulomb.ipynb
  docs/whatsnew/0.6.0.rst
  docs/whatsnew/0.8.1.rst
  plasmapy/formulary/__init__.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions.py
  plasmapy/formulary/collisions/__init__.py
  plasmapy/formulary/collisions/coulomb.py
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
  plasmapy/formulary/collisions/tests/__init__.py
  plasmapy/formulary/collisions/tests/test_coulomb.py
  plasmapy/formulary/collisions/tests/test_dimensionless.py
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
  plasmapy/formulary/collisions/tests/test_misc.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/tests/test_collisions.py
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

add keyword-only parameters to MagneticDipole.magnetic_field
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/tests/test_magnetostatics.py
Owners: @PlasmaPy/plasmapy-reviewers

Add noqa comments to thomson.py
  plasmapy/diagnostics/thomson.py
Owners: @rocco8773

Add noqa comments to ionization_state.py
  plasmapy/particles/ionization_state.py
Owners: @namurphy

Add noqa comments to ionization_state_collection.py
  plasmapy/particles/ionization_state_collection.py
Owners: @namurphy

Add noqa comments to nuclear.py
  plasmapy/particles/nuclear.py
Owners: @namurphy

Add noqa comments to openpmd_hdf5.py
  plasmapy/plasma/sources/openpmd_hdf5.py
Owners: @PlasmaPy/plasmapy-reviewers

Update test of exception for magnetostatics
  plasmapy/formulary/tests/test_magnetostatics.py
Owners: @PlasmaPy/plasmapy-reviewers

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer
