Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @pheuer, @ejohnson-96

Update README.md (#2917)
  README.md
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update __init__.py
  src/plasmapy/dispersion/__init__.py
Owners: @ejohnson-96

Update CITATION.cff
  CITATION.cff
Owners: @PlasmaPy/plasmapy-reviewers

Resolving issue #2788
  src/plasmapy/utils/decorators/validators.py
Owners: @rocco8773

Update release checklist following v2024.10.0 release (#2886)
  .github/content/release-checklist.md
  changelog/2886.internal.rst
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Update README.md
  README.md
Owners: @PlasmaPy/plasmapy-reviewers

Update README.md (#2921)
  README.md
Owners: @PlasmaPy/plasmapy-reviewers

Different reference for Equivalency (direct to the class)
  src/plasmapy/utils/decorators/checks.py
Owners: @rocco8773

Try as a global link substitution
  docs/_global_substitutions.py
  src/plasmapy/utils/decorators/checks.py
  src/plasmapy/utils/decorators/validators.py
Owners: @namurphy, @rocco8773

Resolve mypy downloader error, remove astropy pin
  pyproject.toml
  src/plasmapy/utils/data/downloader.py
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Changelog
  changelog/2915.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add a some lines to notebook to debug readthedocs bug
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
Owners: @rocco8773

More debugging of notebook readthedocs output
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
Owners: @rocco8773

Try setting a user-agent header in Downloader
  src/plasmapy/utils/data/downloader.py
Owners: @PlasmaPy/plasmapy-reviewers

Revert notebook to previous state
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
Owners: @rocco8773

Changelog entry for Downloader fix
  changelog/2915.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Minor changelog updates for consistency
  changelog/2915.doc.rst
  changelog/2915.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Resolve documentation build errors (#2915)
  changelog/2915.doc.rst
  changelog/2915.internal.rst
  docs/_global_substitutions.py
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  src/plasmapy/utils/data/downloader.py
  src/plasmapy/utils/decorators/checks.py
  src/plasmapy/utils/decorators/validators.py
Owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773

nox -s requirements
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update pre-commit-search-and-replace
  .pre-commit-search-and-replace.yaml
  README.md
  src/plasmapy/utils/decorators/checks.py
Owners: @PlasmaPy/plasmapy-reviewers, @rocco8773

pre-commit-search-and-replace for 'astropy.unit.'
  .pre-commit-search-and-replace.yaml
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  tests/utils/decorators/test_checks.py
Owners: @PlasmaPy/plasmapy-reviewers, @pheuer, @rocco8773

Add temporary upper limit on Astropy
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Reduce upper limit on Astropy
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Add upper limit on xarray
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Update upper limit comments in pyproject.toml with links
  pyproject.toml
Owners: @namurphy

Update changelog/2911.breaking.2.rst
  changelog/2911.breaking.2.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @namurphy

np.reshape keyword error on 3.11, try calling w/o keyword shape
  tests/diagnostics/charged_particle_radiography/test_synthetic_radiography.py
Owners: @pheuer

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Tentatively ignore new mypy errors
  src/plasmapy/dispersion/numerical/hollweg_.py
  src/plasmapy/particles/ionization_state.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @ejohnson-96, @PlasmaPy/plasmapy-reviewers

Use .items()
  src/plasmapy/particles/_special_particles.py
Owners: @PlasmaPy/plasmapy-reviewers

Use .items()
  src/plasmapy/particles/decorators.py
Owners: @PlasmaPy/plasmapy-reviewers

Rename variables in ionization_state_collection & fix PLC0206
  src/plasmapy/particles/ionization_state_collection.py
Owners: @PlasmaPy/plasmapy-reviewers

Rename variables in grids & fix PLC0206
  src/plasmapy/plasma/grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Update .gitignore
  .gitignore
Owners: @PlasmaPy/plasmapy-reviewers

Revert "Rename variables in ionization_state_collection & fix PLC0206"
  src/plasmapy/particles/ionization_state_collection.py
Owners: @PlasmaPy/plasmapy-reviewers

Rename variable and update ionization_state_collection
  src/plasmapy/particles/ionization_state_collection.py
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

CODEOWNERS:

# Define individuals or teams who are responsible for code in a
# repository (i.e. who gets requested for a review by default).

# Order is important; the last matching pattern takes the most
# precedence.

# Tip: IDEs like PyCharm may have features or extensions that validate
# CODEOWNERS files and check that paths that are listed match any files.

* @PlasmaPy/plasmapy-reviewers

# subpackages

*pytest_helpers/ @namurphy
analysis/ @rocco8773
diagnostics/ @rocco8773
**/diagnostics/charged_particle_radiography/ @pheuer
dispersion/ @ejohnson-96
**/utils/decorators/ @rocco8773

# subpackage files (with wildcards to include tests)

**/analysis/*nullpoint.py @namurphy
**/diagnostics/*thomson.py @pheuer
**/formulary/*relativity.py @namurphy

# documentation

.readthedocs.yml @namurphy
docs/_author_list_from_cff.py @namurphy
docs/_global_substitutions.py @namurphy
docs/conf.py @namurphy
docs/contributing/ @namurphy
docs/plasmapy_sphinx/ @rocco8773

# project files

ci_requirements/ @namurphy
mypy.ini @namurphy
pyproject.toml @namurphy
type_stubs/ @namurphy

# tests, linters, CI

.github/ @namurphy
.pre-commit-config.yaml @namurphy
codecov.yml @namurphy
noxfile.py @namurphy
