Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @pheuer, @ejohnson-96

CODEOWNERS:

# Define individuals or teams who are responsible for code in a
# repository (i.e. who gets requested for a review by default).

# Order is important; the last matching pattern takes the most
# precedence.

# Tip: IDEs like PyCharm may have features or extensions that validate
# CODEOWNERS files and check that paths that are listed match any files.

* @PlasmaPy/plasmapy-reviewers

# subpackages

*pytest_helpers/ @namurphy
analysis/ @rocco8773
diagnostics/ @rocco8773
**/diagnostics/charged_particle_radiography/ @pheuer
dispersion/ @ejohnson-96
**/utils/decorators/ @rocco8773

# subpackage files (with wildcards to include tests)

**/analysis/*nullpoint.py @namurphy
**/diagnostics/*thomson.py @pheuer
**/formulary/*relativity.py @namurphy

# documentation

.readthedocs.yml @namurphy
docs/_author_list_from_cff.py @namurphy
docs/_global_substitutions.py @namurphy
docs/conf.py @namurphy
docs/contributing/ @namurphy
docs/plasmapy_sphinx/ @rocco8773

# project files

ci_requirements/ @namurphy
mypy.ini @namurphy
pyproject.toml @namurphy
type_stubs/ @namurphy

# tests, linters, CI

.github/ @namurphy
.pre-commit-config.yaml @namurphy
codecov.yml @namurphy
noxfile.py @namurphy

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Ignore a mypy assignment error
  mypy.ini
Owners: @namurphy

Added a brief description for dispersion relation
  src/plasmapy/dispersion/__init__.py
Owners: @ejohnson-96

added mysef to the author list
  CITATION.cff
Owners: @PlasmaPy/plasmapy-reviewers

added changelog file
  changelog/2932.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

removed trailing white space
  src/plasmapy/dispersion/__init__.py
Owners: @ejohnson-96

removed white spaces again
  CITATION.cff
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Apply suggestions from code review
  src/plasmapy/diagnostics/thomson.py
  tests/simulation/test_particle_tracker.py
Owners: @pheuer, @PlasmaPy/plasmapy-reviewers

Update src/plasmapy/dispersion/__init__.py
  src/plasmapy/dispersion/__init__.py
Owners: @ejohnson-96

Added introduction for dispersion relation (#2932)
  CITATION.cff
  changelog/2932.doc.rst
  src/plasmapy/dispersion/__init__.py
Owners: @PlasmaPy/plasmapy-reviewers, @ejohnson-96

Remove mention of separate 'Details' link in list of GitHub checks
  .github/workflows/comment-on-pr.yml
  docs/README.md
  docs/contributing/doc_guide.rst
  docs/contributing/testing_guide.rst
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Update license year
  LICENSE.md
Owners: @PlasmaPy/plasmapy-reviewers

Edit changelog: 2935.doc.rst
  changelog/2935.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Reword docs/README.md
  docs/README.md
Owners: @PlasmaPy/plasmapy-reviewers

Revert pre-commit-search-and-replace hook to old version
  .pre-commit-config.yaml
Owners: @namurphy

Remove obsolete preview image
  docs/_static/contributor_guide/readthedocs_preview_link.png
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers, @namurphy

Fix doc test failure from updates to scipy.optimize.fsolve
  src/plasmapy/analysis/fit_functions.py
Owners: @rocco8773

Re-run
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Pin version of pygments to 2.18.0
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Require pygments ≥ 2.19.1
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  pyproject.toml
Owners: @namurphy

Un-ignore uv.lock files
  .gitignore
Owners: @PlasmaPy/plasmapy-reviewers

Add uv.lock from running
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Update uv.lock
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Make `nox -s requirements` generate `uv.lock`
  noxfile.py
Owners: @namurphy

Update Nox session for tests to use uv.lock
  noxfile.py
Owners: @namurphy

Use uv.lock for Nox docs session
  noxfile.py
Owners: @namurphy

Extract uv sync command into uv_sync
  noxfile.py
Owners: @namurphy

Update doc installation for linkcheck session
  noxfile.py
Owners: @namurphy

Fix a typo in noxfile.py
  noxfile.py
Owners: @namurphy

Edit changelog: 2937.internal.rst
  changelog/2937.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Exclude uv.lock from MANIFEST.in
  MANIFEST.in
Owners: @PlasmaPy/plasmapy-reviewers

Apply suggestions from code review
  changelog/2911.internal.1.rst
  changelog/2911.trivial.1.rst
  src/plasmapy/plasma/grids.py
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Assert -> ValueError, add test for soften edges with width.
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  tests/plasma/test_grids.py
Owners: @pheuer, @PlasmaPy/plasmapy-reviewers

Update tests/plasma/test_grids.py
  tests/plasma/test_grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Remove Nox session to validate requirements files
  .github/workflows/ci.yml
  noxfile.py
Owners: @namurphy

Update nox version & remove pre-commit from tests dependencies set
  pyproject.toml
Owners: @namurphy

Use uv sync for mypy session
  noxfile.py
Owners: @namurphy

Add qualifiers to docstrings
  src/plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  src/plasmapy/plasma/grids.py
Owners: @pheuer, @PlasmaPy/plasmapy-reviewers
