Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer

Update lengths in utils docstrings
  plasmapy/utils/calculator/widget_helpers.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/converter.py
Owners: @PlasmaPy/plasmapy-reviewers

Update lengths in grids docstrings
  plasmapy/plasma/grids.py
Owners: @PlasmaPy/plasmapy-reviewers

Update lengths in formulary docstrings
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/distribution.py
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/quantum.py
  plasmapy/formulary/speeds.py
Owners: @PlasmaPy/plasmapy-reviewers

Update lengths in diagnostics docstrings
  plasmapy/diagnostics/charged_particle_radiography.py
  plasmapy/diagnostics/thomson.py
Owners: @rocco8773

Update lengths in particles docstrings
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
Owners: @namurphy

Update troubleshooting and api_static stuff in doc guide
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Link to troubleshooting guide in output of build_docs tox env
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers

Allow numbers in type lines
  docs/conf.py
Owners: @PlasmaPy/plasmapy-reviewers

Update reST formatting
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry
  changelog/1817.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update reST formatting
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update regex for type lines
  docs/conf.py
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry
  changelog/1816.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update troubleshooting section
  docs/contributing/doc_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Fix docstring typo
  plasmapy/particles/particle_class.py
Owners: @namurphy

Revert some changes to type lines
  plasmapy/analysis/nullpoint.py
Owners: @rocco8773

Remove from nitpick_ignore_regex
  docs/conf.py
Owners: @PlasmaPy/plasmapy-reviewers

Update noxfile.py
  noxfile.py
Owners: @PlasmaPy/plasmapy-reviewers

Update noxfile.py
  noxfile.py
Owners: @PlasmaPy/plasmapy-reviewers

Update noxfile.py
  noxfile.py
Owners: @PlasmaPy/plasmapy-reviewers

Temporarily add nox_testing.yml
  .github/workflows/nox_testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Revert GitHub Action file for testing
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update name of nox GAs
  .github/workflows/nox_testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Remove Python 3.11
  .github/workflows/nox_testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Remove testing.yml based on tox
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Remove GitHub Actions based on tox
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update testing.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update testing.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update testing.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update testing.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Don't attempt a parallel doc build
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update testing.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Move doc build action to its own file
  .github/workflows/docs.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update name of action
  .github/workflows/docs.yml
Owners: @PlasmaPy/plasmapy-reviewers

Update install command
  .github/workflows/docs.yml
Owners: @PlasmaPy/plasmapy-reviewers

Move test doc build back to testing.yml
  .github/workflows/docs.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Finish removing docs.yml
  .github/workflows/docs.yml
Owners: @PlasmaPy/plasmapy-reviewers

Don't use requirements files to install in nox envs
  noxfile.py
Owners: @PlasmaPy/plasmapy-reviewers

Replace namedtuple with tuple in docstring
  plasmapy/analysis/time_series/running_moments.py
Owners: @rocco8773

update
  docs/api_static/plasmapy.formulary.collisions.timescales.rst
  plasmapy/formulary/collisions/timescales.py
Owners: @PlasmaPy/plasmapy-reviewers
