Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer

update
  plasmapy/formulary/dimensionless.py
  plasmapy/formulary/tests/test_transport.py
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/api_static/plasmapy.formulary.collisions.rst
Owners: @PlasmaPy/plasmapy-reviewers

update
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

Run build only on tags
  .github/workflows/release.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Remove import-plasmapy action, because it's part of packaging now; bring back needs: in build
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Adjust docs
  docs/contributing/release_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

Adjust branch logic
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/dimensionless.py
Owners: @PlasmaPy/plasmapy-reviewers

Lol this bug again
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

put back star imports
  plasmapy/formulary/collisions/__init__.py
Owners: @PlasmaPy/plasmapy-reviewers

Allow empty pre-commit if nothing new happened
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Allow empty towncrier commit if nothing new happened
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

update
  plasmapy/formulary/collisions/__init__.py
Owners: @PlasmaPy/plasmapy-reviewers

fix a few line length issues in test files
  plasmapy/formulary/collisions/tests/test_frequencies.py
  plasmapy/formulary/collisions/tests/test_lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

add flake8 ignores for plasmapy/formulary/collisions/__init__.py
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Tentatively go back to original builtins names
  plasmapy/utils/calculator/widget_helpers.py
Owners: @PlasmaPy/plasmapy-reviewers

Add tryceratops as a flake8 dependency
  requirements/tests.txt
  setup.cfg
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers

Ignore flake8 tryceratops code TC003
  setup.cfg
Owners: @PlasmaPy/plasmapy-reviewers

Perform tryceratops --autofix
  plasmapy/analysis/swept_langmuir/floating_potential.py
  plasmapy/analysis/swept_langmuir/ion_saturation_current.py
  plasmapy/diagnostics/thomson.py
  plasmapy/dispersion/analytical/two_fluid_.py
  plasmapy/dispersion/numerical/hollweg_.py
  plasmapy/formulary/braginskii.py
  plasmapy/formulary/frequencies.py
  plasmapy/formulary/speeds.py
  plasmapy/particles/atomic.py
  plasmapy/particles/ionization_state.py
  plasmapy/particles/ionization_state_collection.py
  plasmapy/particles/particle_class.py
  plasmapy/particles/particle_collections.py
  plasmapy/particles/serialization.py
  plasmapy/plasma/grids.py
  plasmapy/plasma/sources/openpmd_hdf5.py
  plasmapy/utils/decorators/checks.py
  plasmapy/utils/decorators/validators.py
  plasmapy/utils/pytest_helpers/pytest_helpers.py
Owners: @rocco8773, @PlasmaPy/plasmapy-reviewers, @namurphy

Remove unused exception `as err`
  plasmapy/utils/decorators/checks.py
Owners: @PlasmaPy/plasmapy-reviewers

Add #noqa within validators.py
  plasmapy/utils/decorators/validators.py
Owners: @PlasmaPy/plasmapy-reviewers

Use else blocks within try/except
  plasmapy/particles/particle_class.py
Owners: @namurphy

Use else/finally blocks within try/except
  plasmapy/particles/particle_class.py
Owners: @namurphy

Add #noqa comment
  plasmapy/utils/decorators/validators.py
Owners: @PlasmaPy/plasmapy-reviewers

Change error to TypeError
  plasmapy/formulary/magnetostatics.py
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entry
  changelog/1782.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

Use else block for try/except
  plasmapy/particles/serialization.py
Owners: @namurphy

Use TypeErrors instead of ValueErrors
  plasmapy/diagnostics/thomson.py
  plasmapy/plasma/grids.py
Owners: @rocco8773, @PlasmaPy/plasmapy-reviewers

Use else block in try/except
  plasmapy/particles/atomic.py
Owners: @namurphy

Use else block in try/except
  plasmapy/particles/ionization_state_collection.py
Owners: @namurphy

Mark tests in `test_nullpoint.py` as slow
  plasmapy/analysis/tests/test_nullpoint.py
Owners: @rocco8773

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/dimensionless.py
Owners: @PlasmaPy/plasmapy-reviewers

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/lengths.py
Owners: @PlasmaPy/plasmapy-reviewers

add module level docstring, move __all__ to the top, fix a few line length issues
  plasmapy/formulary/collisions/misc.py
Owners: @PlasmaPy/plasmapy-reviewers

Mark some formulary tests as slow
  plasmapy/formulary/tests/test_collisions.py
  plasmapy/formulary/tests/test_quantum.py
Owners: @PlasmaPy/plasmapy-reviewers

Mark some diagnostics tests as slow
  plasmapy/diagnostics/tests/test_charged_particle_radiography.py
  plasmapy/diagnostics/tests/test_thomson.py
Owners: @rocco8773

fix intersphinx links, fix line length issues
  plasmapy/formulary/dimensionless.py
Owners: @PlasmaPy/plasmapy-reviewers

fix intersphinx links, fix line length issues
  plasmapy/formulary/braginskii.py
Owners: @PlasmaPy/plasmapy-reviewers

fix intersphinx links, fix line length issues
  plasmapy/formulary/collisions/dimensionless.py
  plasmapy/formulary/collisions/frequencies.py
  plasmapy/formulary/collisions/lengths.py
  plasmapy/formulary/collisions/misc.py
Owners: @PlasmaPy/plasmapy-reviewers
