Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @pheuer, @ejohnson-96

Temporarily add warning to cause doc build to fail
  docs/conf.py
Owners: @namurphy

Remove temporarily added warning
  docs/conf.py
Owners: @namurphy

Add broken reStructuredText link to cause doc build failure
  docs/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update sphinx-build flags for on/off RTD
  noxfile.py
Owners: @namurphy

Remove intentional warning
  docs/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Modify outdir in sphinx-build command
  noxfile.py
Owners: @namurphy

Clean up file
  noxfile.py
Owners: @namurphy

Update doc_build_dir command
  noxfile.py
Owners: @namurphy

Update path
  noxfile.py
Owners: @namurphy

Remove Path.absolute() usage
  noxfile.py
Owners: @namurphy

pre-commit run --all-files
  noxfile.py
Owners: @namurphy

Edit changelog: 2937.internal.rst
  changelog/2937.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Edit changelog: 2937.internal.rst
  changelog/2937.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Edit changelog: 2937.internal.rst
  changelog/2937.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

pre-commit run --all-files
  changelog/2937.internal.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements and uv.lock
  pyproject.toml
  uv.lock
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Revert "Update requirements and uv.lock"
  pyproject.toml
  uv.lock
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Revert change and update requirements
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Update comment
  .pre-commit-config.yaml
Owners: @namurphy

Update changelog/2935.doc.rst
  changelog/2935.doc.rst
Owners: @PlasmaPy/plasmapy-reviewers

Remove deprecated `dispersionfunction.py` (#2897)
  changelog/2897.removal.rst
  src/plasmapy/dispersion/dispersion_functions.py
  src/plasmapy/dispersion/dispersionfunction.py
Owners: @PlasmaPy/plasmapy-reviewers, @ejohnson-96

pre-commit autoupdate
  .pre-commit-config.yaml
Owners: @namurphy

Enable more RUF rules
  pyproject.toml
Owners: @namurphy

Apply ruff changes
  src/plasmapy/particles/ionization_state.py
Owners: @PlasmaPy/plasmapy-reviewers

Enable new ruff rules (#2952)
  .pre-commit-config.yaml
  pyproject.toml
  src/plasmapy/particles/ionization_state.py
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

nox -s requirements
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Change doc build directory to docs/_build/html
  noxfile.py
Owners: @namurphy

Update error handling for missing landing page
  noxfile.py
Owners: @namurphy

Add link to workflow script
  docs/contributing/coding_guide.rst
Owners: @namurphy

Remove (probably) unnecessary line
  noxfile.py
Owners: @namurphy

Correct landing page for RTD
  noxfile.py
Owners: @namurphy

Fix the fix for landing page location
  noxfile.py
Owners: @namurphy

Fix the fix of the fix
  noxfile.py
Owners: @namurphy

Update comment
  .github/content/update-requirements-pr-body.md
Owners: @namurphy

Pin requirements with `uv.lock` for use in CI and on Read the Docs (#2937)
  .github/content/update-requirements-pr-body.md
  .gitignore
  .readthedocs.yml
  MANIFEST.in
  changelog/2937.internal.rst
  ci_requirements/README.md
  ci_requirements/all-3.12-linux.txt
  ci_requirements/all-3.12-macos.txt
  ci_requirements/all-3.12-windows.txt
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.12-linux.txt
  ci_requirements/docs-3.12-macos.txt
  ci_requirements/docs-3.12-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
  docs/conf.py
  docs/contributing/coding_guide.rst
  noxfile.py
  pyproject.toml
  uv.lock
Owners: @namurphy, @PlasmaPy/plasmapy-reviewers

Make caches expire when uv.lock changes
  .github/workflows/ci.yml
Owners: @namurphy

Cache .venv also
  .github/workflows/ci.yml
Owners: @namurphy

Update comment
  noxfile.py
Owners: @namurphy

CODEOWNERS:

# Define individuals or teams who are responsible for code in a
# repository (i.e. who gets requested for a review by default).

# Order is important; the last matching pattern takes the most
# precedence.

# Tip: IDEs like PyCharm may have features or extensions that validate
# CODEOWNERS files and check that paths that are listed match any files.

* @PlasmaPy/plasmapy-reviewers

# subpackages

*pytest_helpers/ @namurphy
analysis/ @rocco8773
diagnostics/ @rocco8773
**/diagnostics/charged_particle_radiography/ @pheuer
dispersion/ @ejohnson-96
**/utils/decorators/ @rocco8773

# subpackage files (with wildcards to include tests)

**/analysis/*nullpoint.py @namurphy
**/diagnostics/*thomson.py @pheuer
**/formulary/*relativity.py @namurphy

# documentation

.readthedocs.yml @namurphy
docs/_author_list_from_cff.py @namurphy
docs/_global_substitutions.py @namurphy
docs/conf.py @namurphy
docs/contributing/ @namurphy
docs/plasmapy_sphinx/ @rocco8773

# project files

ci_requirements/ @namurphy
mypy.ini @namurphy
pyproject.toml @namurphy
type_stubs/ @namurphy

# tests, linters, CI

.github/ @namurphy
.pre-commit-config.yaml @namurphy
codecov.yml @namurphy
noxfile.py @namurphy
