Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @StanczakDominik, @pheuer

Use np.sqrt instead of exponentiation
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Update docs for formulary.collisions.frequencies
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

More updates to frequencies.py
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Updates related to particle-like and ParticleLike
  plasmapy/formulary/collisions/frequencies.py
Owners: @PlasmaPy/plasmapy-reviewers

Refactor citation updater
  .github/workflows/citation_updater.py
Owners: @PlasmaPy/plasmapy-reviewers

Split off job
  .github/workflows/push_release.yml
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Rename
  .github/workflows/push_release.yml
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Drop inputs from testing
  .github/workflows/testing.yml
Owners: @PlasmaPy/plasmapy-reviewers

Revert changes to main
  .github/workflows/push_release.yml
  .github/workflows/python-publish.yml
  .github/workflows/testing.yml
  docs/contributing/release_guide.rst
  plasmapy/tests/test_requirements.py
Owners: @PlasmaPy/plasmapy-reviewers

Maybe fix branching issue
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Alternative
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Adjust merge
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

ls-remote
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Simplify checkout
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Back to that logic ver
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Add flake8-dunder-all as a flake8 extension
  requirements/tests.txt
  setup.cfg
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers

Add __all__ to particle_integrators.py
  plasmapy/simulation/particle_integrators.py
Owners: @StanczakDominik

Revert "Add flake8-dunder-all as a flake8 extension"
  requirements/tests.txt
  setup.cfg
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers

Add `__all__` to `particle_integrators.py` (#1794)
  plasmapy/simulation/particle_integrators.py
Owners: @StanczakDominik

Apply suggestions from code review
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
Owners: @PlasmaPy/plasmapy-reviewers

Automate the release process (#1779)
  .github/workflows/citation_updater.py
  .github/workflows/release.yml
  docs/contributing/release_guide.rst
Owners: @PlasmaPy/plasmapy-reviewers

add option for cylindrical coordinates and update docstring
  plasmapy/formulary/magnetostatics.py
  plasmapy/formulary/tests/test_magnetostatics.py
Owners: @PlasmaPy/plasmapy-reviewers

add changelog entry and fix docstring and styling
  changelog/1795.feature.rst
  plasmapy/formulary/magnetostatics.py
Owners: @PlasmaPy/plasmapy-reviewers

Continue updating Thomson docstrings
  plasmapy/diagnostics/thomson.py
Owners: @rocco8773

added check_sweep skeleton, syntax revisions to follow
  plasmapy/analysis/intermittancy.py
Owners: @rocco8773

Move over tryceratops error code to ignore
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog/1758.trivial.rst
  changelog/1758.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update changelog/1758.trivial.rst
  changelog/1758.trivial.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add tryceratops ignores missed while merging
  plasmapy/_dev/scm_version.py
  tox.ini
Owners: @PlasmaPy/plasmapy-reviewers

Update citation and whatsnew index entry
  CITATION.cff
  docs/about/citation.rst
  docs/whatsnew/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Apply pre-commit autoupdates and fixes
  .pre-commit-config.yaml
Owners: @PlasmaPy/plasmapy-reviewers

paused one function, code runs with no errors atm
  plasmapy/analysis/intermittancy.py
Owners: @rocco8773

added intermittancy for importing
  plasmapy/analysis/__init__.py
Owners: @rocco8773

corrected name spelling, add details of functions at beginning create run file for testing
  plasmapy/analysis/intermittancy.py
Owners: @rocco8773

re-upload after corrections
  plasmapy/analysis/intermittency.py
  plasmapy/analysis/run_intermittency.py
Owners: @rocco8773

Reorganize charged particle radiography into its own module
  docs/ad/diagnostics/charged_particle_radiography/detector_stacks.rst
  docs/ad/diagnostics/charged_particle_radiography/index.rst
  docs/ad/diagnostics/charged_particle_radiography/synthetic_radiography.rst
  docs/notebooks/diagnostics/charged_particle_radiography_film_stacks.ipynb
  plasmapy/diagnostics/charged_particle_radiography/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/synthetic_radiography.py
  plasmapy/diagnostics/charged_particle_radiography/tests/__init__.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_synthetic_radiography.py
Owners: @PlasmaPy/plasmapy-reviewers, @rocco8773

Added support for mass stopping power, linear stopping power, switched to SI
  plasmapy/diagnostics/charged_particle_radiography/detector_stacks.py
  plasmapy/diagnostics/charged_particle_radiography/tests/test_detector_stacks.py
Owners: @rocco8773

Remove test_requirements as stopgap measure for conda-forge
  plasmapy/tests/test_requirements.py
Owners: @PlasmaPy/plasmapy-reviewers

Update citation and whatsnew index entry
  CITATION.cff
  docs/about/citation.rst
  docs/whatsnew/index.rst
Owners: @PlasmaPy/plasmapy-reviewers

Add changelog entries for v0.9.1
  CHANGELOG.rst
  docs/whatsnew/0.9.1.rst
Owners: @PlasmaPy/plasmapy-reviewers

CODEOWNERS:

# in decreasing order of priority

# any file, anywhere
*                                                        @PlasmaPy/plasmapy-reviewers

plasmapy/particles/                                      @namurphy

plasmapy/analysis/                                       @rocco8773
plasmapy/diagnostics/                                    @rocco8773

plasmapy/simulation/                                     @StanczakDominik

# any conftest.py, anywhere
conftest.py                                              @StanczakDominik

plasmapy/diagnostics/proton_radiography.py               @pheuer
