Repository PlasmaPy/PlasmaPy, changes with the owners that CODEOWNERS names for each.
All owners: @PlasmaPy/plasmapy-reviewers, @namurphy, @rocco8773, @pheuer, @ejohnson-96

CODEOWNERS:

# Define individuals or teams who are responsible for code in a
# repository (i.e. who gets requested for a review by default).

# Order is important; the last matching pattern takes the most
# precedence.

# Tip: IDEs like PyCharm may have features or extensions that validate
# CODEOWNERS files and check that paths that are listed match any files.

* @PlasmaPy/plasmapy-reviewers

# subpackages

*pytest_helpers/ @namurphy
analysis/ @rocco8773
diagnostics/ @rocco8773
**/diagnostics/charged_particle_radiography/ @pheuer
dispersion/ @ejohnson-96
**/utils/decorators/ @rocco8773

# subpackage files (with wildcards to include tests)

**/analysis/*nullpoint.py @namurphy
**/diagnostics/*thomson.py @pheuer
**/formulary/*relativity.py @namurphy

# documentation

.readthedocs.yml @namurphy
docs/_author_list_from_cff.py @namurphy
docs/_global_substitutions.py @namurphy
docs/conf.py @namurphy
docs/contributing/ @namurphy
docs/plasmapy_sphinx/ @rocco8773

# project files

ci_requirements/ @namurphy
mypy.ini @namurphy
pyproject.toml @namurphy
type_stubs/ @namurphy

# tests, linters, CI

.github/ @namurphy
.pre-commit-config.yaml @namurphy
codecov.yml @namurphy
noxfile.py @namurphy

Add comment to noxfile.py
  noxfile.py
Owners: @namurphy

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Update .pre-commit-config.yaml
  .pre-commit-config.yaml
Owners: @namurphy

Remove unused type ignore comment
  src/plasmapy/simulation/particle_tracker/particle_tracker.py
Owners: @PlasmaPy/plasmapy-reviewers

Add codespell ignore for magnetosphere.ipynb
  pyproject.toml
Owners: @namurphy

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Remove unused license
  licenses/imposter_syndrome_disclaimer_LICENSE.rst
Owners: @PlasmaPy/plasmapy-reviewers

Astropy license: .md → .rst
  licenses/Astropy_license.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update date of Astropy license
  licenses/Astropy_license.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update SunPy license
  licenses/SunPy_license.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update licenses (#2950)
  licenses/Astropy_license.rst
  licenses/SunPy_license.rst
  licenses/imposter_syndrome_disclaimer_LICENSE.rst
Owners: @PlasmaPy/plasmapy-reviewers

Update requirements with 'nox -s requirements'
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Revert coulomb.ipynb
  docs/notebooks/formulary/coulomb.ipynb
Owners: @PlasmaPy/plasmapy-reviewers

Make codespell ignore 'anc' for couloumb.ipynb
  pyproject.toml
Owners: @namurphy

Update tests/diagnostics/test_thomson.py
  tests/diagnostics/test_thomson.py
Owners: @pheuer

Remove ci_requirements after merging in main
  ci_requirements/all-3.13-linux.txt
  ci_requirements/all-3.13-macos.txt
  ci_requirements/all-3.13-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
  ci_requirements/tests-3.11-linux-lowest-direct.txt
  ci_requirements/tests-3.11-linux.txt
  ci_requirements/tests-3.11-macos-lowest-direct.txt
  ci_requirements/tests-3.11-macos.txt
  ci_requirements/tests-3.11-windows-lowest-direct.txt
  ci_requirements/tests-3.11-windows.txt
  ci_requirements/tests-3.12-linux.txt
  ci_requirements/tests-3.12-macos.txt
  ci_requirements/tests-3.12-windows.txt
  ci_requirements/tests-3.13-linux.txt
  ci_requirements/tests-3.13-macos.txt
  ci_requirements/tests-3.13-windows.txt
Owners: @namurphy

Add back documentation requirements files
  ci_requirements/docs-3.12-linux.txt
  ci_requirements/docs-3.12-macos.txt
  ci_requirements/docs-3.12-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
Owners: @namurphy

Add back ci_requirements/README.md with admonition
  ci_requirements/README.md
Owners: @namurphy

Add missing backticks
  .github/content/update-requirements-pr-body.md
Owners: @namurphy

Update minimum version of uv
  noxfile.py
Owners: @namurphy

nox -s requirements
  uv.lock
Owners: @PlasmaPy/plasmapy-reviewers

Use uv and nox in RTD build
  .readthedocs.yml
Owners: @namurphy

jobs.build → jobs.build.html
  .readthedocs.yml
Owners: @namurphy

Use 'uvx nox -s docs' instead
  .readthedocs.yml
Owners: @namurphy

Update uv commands
  .readthedocs.yml
Owners: @namurphy

Fix flag
  .readthedocs.yml
Owners: @namurphy

mv docs/build/html $READTHEDOCS_OUTPUT
  .readthedocs.yml
Owners: @namurphy

Diagnostic: find directories named
  .readthedocs.yml
Owners: @namurphy

Update diagnostic commands
  .readthedocs.yml
Owners: @namurphy

Add Nox session for moving RTD build
  noxfile.py
Owners: @namurphy

Remove ci_requirements/
  ci_requirements/README.md
  ci_requirements/docs-3.12-linux.txt
  ci_requirements/docs-3.12-macos.txt
  ci_requirements/docs-3.12-windows.txt
  ci_requirements/docs-3.13-linux.txt
  ci_requirements/docs-3.13-macos.txt
  ci_requirements/docs-3.13-windows.txt
Owners: @namurphy

Update .readthedocs.yml
  .readthedocs.yml
Owners: @namurphy

Fix diagnostic command
  .readthedocs.yml
Owners: @namurphy

ruff fix
  noxfile.py
Owners: @namurphy

Put commands to move directory of RTD doc build in docs session
  noxfile.py
Owners: @namurphy

Remove RTD diagnostic commands
  .readthedocs.yml
Owners: @namurphy

Shorten uv commands
  .readthedocs.yml
Owners: @namurphy

Add back command
  .readthedocs.yml
Owners: @namurphy

Add more uv run flags
  .readthedocs.yml
Owners: @namurphy
